Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Make sure generated CRDs are up-to-date
  hack/update-codegen.sh
  hack/verify-codegen.sh
Due: none

Makefile: use golangci-lint version from the workflow
  Makefile
  tools/go.mod
  tools/go.sum
  tools/tools.go
Due: lint-go, test-unit

golangci-lint: update to v1.64.6 and fix linting issues
  .github/workflows/ci.yaml
  cmd/entrypoint/runner_test.go
  cmd/entrypoint/subcommands/decode_script_test.go
  cmd/entrypoint/waiter_test.go
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/entrypoint/entrypointer_test.go
  pkg/substitution/substitution_test.go
Due: lint-yaml, lint-go, test-unit

go.mod: run go mod tidy and go mod vendor
  go.mod
  vendor/golang.org/x/exp/maps/maps.go
  vendor/modules.txt
Due: none

.github/workfrow: add only-new-issues on lint
  .github/workflows/ci.yaml
Due: lint-yaml

Bump go.mod and tools/go.mod to go 1.23
  go.mod
Due: none

.github/workflows: update setup-go to use go.mod version
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

chore: add yaml linting to pre-commit
  .pre-commit-config.yaml
Due: lint-yaml

add disable_spire build tag for entrypoint command
  cmd/entrypoint/main.go
  cmd/entrypoint/spire.go
  cmd/entrypoint/spire_disable.go
  docs/developers/fips.md
  docs/spire.md
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/spire.go
  pkg/entrypoint/spire_disabled.go
Due: lint-go, test-unit

cleanup: breakup the pkg/credentials into writer and matcher
  cmd/entrypoint/main.go
  pkg/credentials/common/constants.go
  pkg/credentials/dockercreds/creds.go
  pkg/credentials/dockercreds/creds_test.go
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds.go
  pkg/credentials/gitcreds/creds_test.go
  pkg/credentials/gitcreds/ssh.go
  pkg/credentials/matcher/matcher.go
  pkg/credentials/writer/writer.go
  pkg/credentials/writer/writer_test.go
  pkg/entrypoint/entrypointer.go
  pkg/pod/creds_init.go
Due: lint-go, test-unit

chore: param enum usage example for stepaction
  examples/v1/taskruns/beta/stepaction-params.yaml
  test/featureflags.go
Due: lint-yaml, lint-go, test-unit

chore: allow users with "read" perm to trigger retest
  .github/workflows/slash.yml
Due: lint-yaml

Expand section on environment variables
  docs/tasks.md
Due: none

fix fan out matrix task failed due to result ref
  pkg/apis/pipeline/v1/matrix_types.go
Due: lint-go, test-unit

test: add test for matrix params with string value containing variable reference
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  test/matrix_test.go
Due: lint-go, test-unit

chore: adjust test to use taskRef instead of taskSpec
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

add secret-env-from.yaml, correct section headers in tasks.md, add envFrom example in tasks.md
  docs/tasks.md
  examples/v1/taskruns/secret-env-from.yaml
Due: lint-yaml

feat: add support for authenticated git clone
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

[FIX] Remove the apt warning
  .github/workflows/ci.yaml
Due: lint-yaml

Add a tool to generate the release name
  tekton/release-cheat-sheet.md
  tekton/release_names.go
Due: lint-go, test-unit

Add release 0.69 to releases.md
  releases.md
Due: none

fix: add stepaction as a valid kind in the hub resolver
  pkg/remoteresolution/resolver/hub/resolver_test.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
Due: lint-go, test-unit

feat: override task timeouts in pipelineruns
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-go, test-unit

Minor fixes - Update year in hack/update-schemas.sh - Remote unused directive `//nolint:musttag`
  hack/update-schemas.sh
  pkg/spire/verify.go
Due: lint-go, test-unit

feat: add option continueAndFail on step.onError
  cmd/entrypoint/main.go
  docs/pipeline-api.md
  docs/tasks.md
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
Due: lint-go, test-unit

cleanup: refactor to disable metrics
  pkg/apis/config/feature_flags.go
  pkg/apis/config/featureflags_validation.go
  pkg/apis/config/metrics.go
  pkg/apis/config/metrics_notls.go
  pkg/apis/config/metrics_tls.go
  pkg/apis/config/resolver/store.go
  pkg/apis/config/spire_config.go
  pkg/apis/config/store.go
  pkg/substitution/replacements.go
  pkg/substitution/substitution.go
  pkg/termination/parse.go
Due: lint-go, test-unit

cleanup: move pipeline types
  cmd/entrypoint/main.go
  pkg/apis/pipeline/v1/types/artifacts_types.go
  pkg/apis/pipeline/v1/types/param_types.go
  pkg/apis/pipeline/v1/types/result_types.go
  pkg/apis/pipeline/v1/types/resultsref.go
  pkg/apis/pipeline/v1/types/when_types.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/entrypoint/pipeline/paths.go
Due: lint-go, test-unit

cleanup: remove zap and dependency where k8s api are included
  cmd/entrypoint/runner.go
  pkg/entrypoint/entrypointer.go
Due: lint-go, test-unit

Adds a build check in Github Actions CI workflow
  .github/workflows/ci.yaml
Due: lint-yaml

Refactor pipelinerun metrics tests
  pkg/pipelinerunmetrics/metrics_test.go
Due: lint-go, test-unit
