Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

mark testify as indirect in go.mod via go mod tidy
  go.mod
Due: none

Remove dependency on k8s.io/client-go/rest for two constants
  cmd/controller/main.go
Due: lint-go, test-unit

fix(ci): deactivate context-background/-TODO check
  .golangci.yml
Due: lint-yaml

fix: close file in realPostWriter's write func
  cmd/entrypoint/post_writer.go
Due: lint-go, test-unit

Fix the sed command with crane
  tekton/publish.yaml
Due: lint-yaml

feat: override task timeouts in pipelineruns
  config/300-crds/300-pipelinerun.yaml
  docs/pipeline-api.md
  docs/pipelineruns.md
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
Due: lint-yaml, lint-go, test-unit

Fix reason of PipelineRun status for PipelineRun having tasks timeout
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/timeout_test.go
Due: lint-go, test-unit

refactor: remove go-multierror dependency and use errors.Join for error aggregation
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/result/result.go
Due: lint-go, test-unit

chore: cleanup/tidy unused or redundant indirect dependencies
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
  test/resolver-with-timeout/go.mod
Due: lint-go, test-unit

refactor: improve names and fix typos
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Errors string should not be capitalized (recommended by go)
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: Avoid errors in PVC handler if PVC is already deleted
  pkg/reconciler/volumeclaim/pvchandler.go
  pkg/reconciler/volumeclaim/pvchandler_test.go
Due: lint-go, test-unit

Remove dependency on go-multierror and update error expectations in tests
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

mark go-multierror as indirect via go mod tidy
  go.mod
Due: none

Removed unnecessary commits
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

Refactoring status.go and status_test.go files according to suggestions
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Update releases.md for 1.1.0
  releases.md
Due: none

Add a tool to generate the release name
  tekton/release-cheat-sheet.md
  tekton/release_names.go
Due: lint-go, test-unit

Add podTemplate on Tasks
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/pod/pod.go
  pkg/reconciler/taskrun/resources/apply.go
Due: lint-yaml, lint-go, test-unit

Docs for podTemplate on Tasks
  docs/pipeline-api.md
Due: none

Tests for podTemplate on Tasks
  examples/v1/pipelineruns/pipelinerun-with-matrix-on-tasks.yaml
  examples/v1/taskruns/task-podtemplate.yaml
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  test/e2e-common.sh
Due: lint-yaml, lint-go, test-unit

refactor: move Validate and ValidateError tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: improve names and fix typos
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs: clarify container entrypoint behavior
  docs/container-contract.md
Due: none

fix #8775:Remove testify usage from pkg/spire/
  pkg/spire/test/ca.go
  pkg/spire/test/fakebundleendpoint/server.go
  pkg/spire/test/fakeworkloadapi/workload_api.go
  pkg/spire/test/keys.go
Due: lint-go, test-unit

fix(docs): remove duplicated block from artifacts.md
  docs/artifacts.md
Due: none
