Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Update docs/git-resolver.md
  docs/git-resolver.md
Due: none

Update pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

Fix dead links in feature versioning guide
  docs/developers/feature-versioning.md
Due: none

Added distributed tracing support for when expression evaluation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

feat: Add continueAndFail step error handling
  cmd/entrypoint/main.go
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  docs/tasks.md
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
  test/ignore_step_error_test.go
  test/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Update generated code
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-go, test-unit

Bump plumbing ref for github_release_oci task
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: explain conditions ruled out in isGenericPending
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-surface-pod-events.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

chore(lint): fix lint warnings
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: address review feedback on pod event surfacing
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

Fix kind node image digest for k8s v1.33
  hack/setup-kind.sh
Due: none

fix: correct verb in controller startup panic logs
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/pipelinerun/controller.go
  pkg/reconciler/notifications/taskrun/controller.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/controller_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
Due: lint-go, test-unit

test: clarify Panicf formatting test scope
  pkg/reconciler/resolutionrequest/controller_test.go
Due: lint-go, test-unit

Validate that a Pipeline has at least one Task
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

Expect PipelineRunTimeout when the tasks timeout is reached
  test/conformance/conformance_test.go
Due: lint-go, test-unit

Fix release_names.go: update regex for Wikipedia HTML changes and fix bugs
  tekton/release_names.go
Due: lint-go, test-unit

chore: group sigstore dependency updates in dependabot
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

docs: improve Docker build guidance for Tasks
  docs/tasks.md
Due: none

Collapse resolver result channels into one
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

Add ImageVolumeSource as a workspace binding type
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/workspaces.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/workspace_types.go
  pkg/apis/pipeline/v1/workspace_validation.go
  pkg/apis/pipeline/v1/workspace_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/workspace_conversion.go
  pkg/apis/pipeline/v1beta1/workspace_types.go
  pkg/apis/pipeline/v1beta1/workspace_validation.go
  pkg/apis/pipeline/v1beta1/workspace_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Due: lint-yaml, lint-go, test-unit

feat: surface pod warning events on taskruns
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

docs: add TaskRun and PipelineRun examples for per-run resolver cache override
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
Due: none

Remove extra space before colon in Note callout in git-resolver.md.
  docs/git-resolver.md
Due: none

docs: clarify config-tracing and config-observability are separate tracing paths
  config/config-observability.yaml
  config/config-tracing.yaml
  docs/developers/tracing.md
Due: lint-yaml

feat(tracing): tag TaskRun ReconcileKind span on cancel/timeout
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Keep LeaderAwareFuncs source-compatible and fail closed
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller_test.go
Due: lint-go, test-unit

Enqueue only a resolver's own ResolutionRequests
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller_test.go
Due: lint-go, test-unit

fix: keep bare step result references as strings
  docs/stepactions.md
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
Due: lint-go, test-unit

fix: reject TaskRun taskRef with custom task kind but no apiVersion
  examples/v1/taskruns/beta/emit-array-results.yaml
  pkg/apis/pipeline/v1/taskref_validation.go
  pkg/apis/pipeline/v1/taskref_validation_test.go
  pkg/apis/pipeline/v1beta1/taskref_validation.go
  pkg/apis/pipeline/v1beta1/taskref_validation_test.go
Due: lint-yaml, lint-go, test-unit

Clarify OCI resolver test payload size
  pkg/remote/oci/resolver_test.go
Due: lint-go, test-unit

hoist step result name regex to package var
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
Due: lint-go, test-unit

make resolver goroutine-leak tests deterministic
  go.mod
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler_test.go
  vendor/go.uber.org/goleak/.gitignore
  vendor/go.uber.org/goleak/.golangci.yml
  vendor/go.uber.org/goleak/CHANGELOG.md
  vendor/go.uber.org/goleak/LICENSE
  vendor/go.uber.org/goleak/Makefile
  vendor/go.uber.org/goleak/README.md
  vendor/go.uber.org/goleak/doc.go
  vendor/go.uber.org/goleak/internal/stack/doc.go
  vendor/go.uber.org/goleak/internal/stack/scan.go
  vendor/go.uber.org/goleak/internal/stack/stacks.go
  vendor/go.uber.org/goleak/leaks.go
  vendor/go.uber.org/goleak/options.go
  vendor/go.uber.org/goleak/testmain.go
  vendor/go.uber.org/goleak/tracestack_new.go
  vendor/modules.txt
Due: lint-go, test-unit

docs: clarify retry-count variable substitution limits with taskRef
  docs/pipelines.md
  docs/variables.md
Due: none

docs: scope retry-count note to context.task, fix pipelineTask.retries row
  docs/pipelines.md
  docs/variables.md
Due: none

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
