Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: gofmt formatting in taskrun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: update taskrun reconciler tests for default resource requirements
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: preserve previous condition context when TaskRun is cancelled or times out
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: prevent controller CPU variant from leaking into platform commands
  cmd/entrypoint/platform_test.go
  pkg/pod/entrypoint_lookup_impl.go
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit

fix: truncate affinity assistant volume names to 63 characters
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-go, test-unit

fix: correct alpine/k8s image reference in release pipeline
  tekton/release-pipeline.yaml
Due: lint-yaml

build: bump go directive to 1.26
  .github/workflows/ci.yaml
  go.mod
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: lint-yaml

docs: update releases.md for v1.13.0
  releases.md
Due: none

fix: avoid throttling script init container
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: allow finally tasks to run when tasks timeout is exceeded (#6794)
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

ci: fix setup-go version comment in codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

Using configured (tracer.Tracer) to trace from the parent function call in (applyParamsContextsResultsAndWorkspaces) & substitution span parenting test
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: make internal container resources opt-in
  config/config-defaults.yaml
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix: TaskRun stuck in Running when init container is OOMKilled with enableKubernetesSidecar
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: avoid spurious termination parse warning
  pkg/termination/write.go
  pkg/termination/write_test.go
Due: lint-go, test-unit

Fixing linting errors
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

formatting alignment in taskrun_go and imports fix
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

testing reordering package
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

space change
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

hidden whitespace fixed
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

formatting alignment in taskrun_go and imports fix
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

feat(tracing): add spans for task parameter and workspace substitution #9801
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat(tracing): add spans for task parameter and workspace substitution
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
  test/util.go
Due: lint-go, test-unit

grouping commit and undoing commit for another issue number
  pkg/reconciler/taskrun/resources/apply_test.go
  test/util.go
Due: lint-go, test-unit

feat(tracing): add spans for task parameter and workspace substitution
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

Formatting final fixes and grouping of commits
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

chore: remove stale TODOs referencing closed issues #4723 and #6097
  pkg/reconciler/taskrun/validate_taskrun.go
Due: lint-go, test-unit

chore: fix gofmt formatting
  pkg/reconciler/taskrun/validate_taskrun.go
Due: lint-go, test-unit

feat(tracing): add spans to pipelinerun cancel & timeout
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/cancel_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/pipelinerun/timeout_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

security: expand harden-runner to more workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/nightly-builds.yaml
  .github/workflows/slash.yml
Due: lint-yaml

security: drop harden-runner from kind jobs and bump to v2.16.0
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/nightly-builds.yaml
  .github/workflows/slash.yml
Due: lint-yaml

fix: harden pod rescheduling attempts
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit
