Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Docs: add known limitation and workaround for multiple Git SSH credentials in Tekton
  docs/auth.md
Due: none

fix: allow finalizer updates on completed PipelineRuns
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

fix: update tests after cherrypicking from PR 9011
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

fix: allow finalizer updates on completed TaskRuns
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

Set the user-agent in the release name tool
  tekton/release_names.go
Due: lint-go, test-unit

document 1.3.2 patch
  releases.md
Due: none

taskrun: include actual result size in error when exceeding maxResultSize
  internal/sidecarlogresults/sidecarlogresults.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: add khrm to reviewers in OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

feat: resolve array values in Input of When expressions
  pkg/apis/pipeline/v1/when_types.go
  pkg/apis/pipeline/v1/when_types_test.go
Due: lint-go, test-unit

Update docs for changes in apiVersion v1
  docs/pipelineruns.md
  docs/workspaces.md
Due: none

Add Support for managedBy field in TaskRun and PipelineRun
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipelineruns.md
  docs/taskruns.md
  pkg/apis/pipeline/register.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/controller_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/controller_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix(codegen): Correct JSON tags for streaming lists
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/resolution/v1beta1/resolution_request_types.go
Due: lint-yaml, lint-go, test-unit

Remove old metrics code from watcher
  cmd/webhook/main.go
Due: lint-go, test-unit

Remove opencensus related vendored code
  go.mod
  vendor/knative.dev/pkg/metrics/metricstest/metricstest.go
  vendor/knative.dev/pkg/metrics/metricstest/resource_metrics.go
  vendor/modules.txt
Due: none

feat(metrics): Migrate from OpenCensus to OpenTelemetry
  config/config-observability.yaml
  go.mod
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
  test/util.go
Due: lint-yaml, lint-go, test-unit

fix: validate taskRef.apiVersion format for custom tasks
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
Due: lint-go, test-unit

add host users
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/pod/pod.go
Due: lint-yaml, lint-go, test-unit

refactor resolver cache to improve encapsulation and reduce duplication
  .serena/.gitignore
  .serena/project.yml
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-yaml, lint-go, test-unit

add comprehensive cache key validation tests
  pkg/remoteresolution/cache/injection/cache_test.go
Due: lint-go, test-unit

document dynamic cache configuration behavior
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache.go
Due: lint-go, test-unit

fix framework tests after cache key privatization
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

make cache annotation constants private
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

simplify validatecachemode to return only error
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

fix gofmt formatting issues
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix copyright years for existing files
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
Due: lint-go, test-unit

refactor: PR review re-work
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

remove unused public constants and functions
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/cluster/params.go
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/http/params.go
Due: lint-go, test-unit

GHA label checker
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
Due: lint-yaml

document the latest release - 1.5
  releases.md
Due: none

Remove broken example link from TaskRuns doc
  docs/taskruns.md
Due: none

fix(pod): order TaskRun status steps to match pod spec containers
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

feat(taskspec): include inline steps in `Status.Steps` when StepActions are used
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

feat(taskspec): create Status.Steps even without StepActions
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

Add GitHub Actions workflow for go coverage job
  .github/workflows/go-coverage.yml
Due: lint-yaml

ci: skip running builds and tests if no code changed
  .github/workflows/ci.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
