Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Use dedicated release ServiceAccount in PAC release pipelines
  .tekton/release-patch.yaml
  .tekton/release.yaml
Due: lint-yaml

feat: compress termination messages to fit more results in 4KB limit
  cmd/entrypoint/main.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  examples/v1/pipelineruns/no-ci/compressed-results-pipeline.yaml
  examples/v1/taskruns/alpha/compressed-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-enable-termination-message-compression.yaml
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/termination/parse.go
  pkg/termination/parse_test.go
  pkg/termination/write.go
  pkg/termination/write_test.go
  test/e2e-tests-kind-alpha.env
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

build: bump go directive to 1.26
  go.mod
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: none

build: bump go directive to 1.25
  go.mod
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: none

Add secret masking to redact sensitive values from step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  cmd/entrypoint/runner_masking_test.go
  config/config-feature-flags.yaml
  config/config-redact-patterns.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/redact_patterns.go
  pkg/apis/config/redact_patterns_test.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/paths.go
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
  pkg/pod/secret_masking_test.go
Due: lint-yaml, lint-go, test-unit

feat: add automatic pod rescheduling for pre-step failures
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

docs: merge horizontal scaling section into configuring leader election
  docs/enabling-ha.md
Due: none

docs: document horizontal controller scaling via leader election buckets
  docs/enabling-ha.md
Due: none

fix issue #8255 - seperating step level and task level validation. ValidateStepActionResultsVariable function now also handles stepAction refernces
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation.go
  pkg/apis/pipeline/v1beta1/stepaction_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

fix: stepaction resolution should respect resolved task's namespace
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
Due: lint-go, test-unit

fix: update taskrun reconciler tests for default resource requirements
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat: add Prometheus metrics for resolver framework
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolvermetrics/injection.go
  pkg/resolvermetrics/injection_test.go
  pkg/resolvermetrics/metrics.go
  pkg/resolvermetrics/metrics_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

feat: add sampling-ratio configuration for distributed tracing
  config/config-tracing.yaml
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
Due: lint-yaml, lint-go, test-unit

fix: harden git resolver secret namespace handling and fix cache
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: harden HTTP resolver secret handling and remove secret names from errors
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

fix: remove secret key name from debug log to fix CodeQL alert
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: address review feedback - import ordering and fmt.Errorf cleanup
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
Due: lint-go, test-unit

fix: remove dead variable in getAPIToken
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

docs: add testing best practices for t.Fatalf vs t.Errorf
  docs/developers/README.md
  docs/developers/testing-best-practices.md
Due: none

Fix PipelineRun premature failure when TaskRun recovers after pod eviction
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

refactor: remove placeholder URL workaround in hub resolver Validate()
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

docs: explain bucket-to-replica relationship for horizontal scaling
  docs/enabling-ha.md
Due: none

added a conditions in params_types to gracefully catch vars in scripts instead of paic, and another validator to provide an informative error message
  pkg/apis/pipeline/v1/param_types.go
  pkg/apis/pipeline/v1/param_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

docs: improve Docker build guidance
  docs/tasks.md
Due: none

Fix gen-crd-api-reference-docs require to use fetchable version
  go.mod
  vendor/modules.txt
Due: none

fix: preserve previous condition context when TaskRun is cancelled or times out
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add private-network dial block helper to resolver framework
  pkg/resolution/resolver/framework/dialerblock.go
  pkg/resolution/resolver/framework/dialerblock_test.go
Due: lint-go, test-unit

Wire private-network dial block into hub resolver
  pkg/remoteresolution/resolver/hub/dialerblock_test.go
  pkg/remoteresolution/resolver/hub/resolve.go
  pkg/resolution/resolver/hub/dialerblock_test.go
  pkg/resolution/resolver/hub/resolver.go
Due: lint-go, test-unit

Wire private-network dial block into bundle resolver OCI fetch
  pkg/remoteresolution/resolver/bundle/dialerblock_test.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/dialerblock_test.go
Due: lint-go, test-unit

fix(pipelinerun): use generateName for anonymous pipeline label
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: convert pod latency metric to histogram and remove pod label
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

adding file for test
  README
Due: none

fix(taskrun): memoize native sidecar probe with sync.OnceValues
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix(taskrun): use RWMutex for cached native sidecar discovery
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit
