Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Fix dependabot-regen workflow commit author and sign-off
  .github/workflows/dependabot-regen.yml
Due: lint-yaml

Regenerate dependabot.yml from config
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

fix(resolvers): validate data is Tekton object in resolver framework
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/framework/interface.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: override OCI labels in ko publish task
  tekton/publish.yaml
Due: lint-yaml

chore(release docs): fix release cheat sheet instructions typo
  tekton/release-cheat-sheet.md
Due: none

fix(taskrun): memoize native sidecar probe with sync.OnceValues
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

[TEP-0137] Activate formats field in config-events
  .gitignore
  docs/additional-configs.md
  docs/events.md
  pkg/apis/config/events.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/notifications/pipelinerun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/taskrun/reconciler_test.go
Due: lint-go, test-unit

cleanup: move `ValidateResolvedResource` to `remoteresolution/framework`
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

feat(tracing): add spans to TaskRun notifications controller
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-go, test-unit

fix: remove unnecessary blank lines to pass whitespace lint
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-go, test-unit

fix: surface clear errors when completed tasks miss referenced results
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
Due: lint-go, test-unit

Add secret masking to redact sensitive values from step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  config/config-feature-flags.yaml
  config/config-redact-patterns.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/redact_patterns.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/paths.go
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
Due: lint-yaml, lint-go, test-unit

ci: Skip most e2e tests on draft PRs to save CI resources
  .github/e2e-matrix-draft.json
  .github/e2e-matrix-full.json
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

[TEP-0056] Support PipelineRef in PipelineTask
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  docs/pipelines-in-pipelines.md
  docs/pipelines.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-yaml, lint-go, test-unit

fix: respect per-resolver TTL override in cache
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

Add SSRF protection to HTTP resolver by blocking private/internal IPs
  config/resolvers/http-resolver-config.yaml
  docs/additional-configs.md
  docs/http-resolver.md
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/http/config.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-yaml, lint-go, test-unit

Fix gen-crd-api-reference-docs require to use fetchable version
  go.mod
Due: none

Fix gen-crd-api-reference-docs require to use fetchable version
  go.mod
  vendor/modules.txt
Due: none

chore: bump OpenTelemetry semconv to match SDK version
  pkg/tracing/tracing.go
  vendor/go.opentelemetry.io/otel/semconv/internal/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/resource.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/schema.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/trace.go
  vendor/modules.txt
Due: lint-go, test-unit

Revert "chore: bump OpenTelemetry semconv to match SDK version"
  pkg/tracing/tracing.go
  vendor/go.opentelemetry.io/otel/semconv/internal/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/resource.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/schema.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/trace.go
  vendor/modules.txt
Due: lint-go, test-unit

feat: compress termination messages to fit more results in 4KB limit
  cmd/entrypoint/main.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  examples/v1/pipelineruns/no-ci/compressed-results-pipeline.yaml
  examples/v1/taskruns/alpha/compressed-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-enable-termination-message-compression.yaml
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/termination/parse.go
  pkg/termination/parse_test.go
  pkg/termination/write.go
  pkg/termination/write_test.go
  test/e2e-tests-kind-alpha.env
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

tekton: automate releases with Pipelines-as-Code
  .github/workflows/patch-release.yaml
  .tekton/release-patch.yaml
  .tekton/release.yaml
  tekton/bugfix-release.sh
  tekton/release-cheat-sheet.md
Due: lint-yaml

fix: include branch filter in CEL expression for release trigger
  .tekton/release.yaml
Due: lint-yaml

fix: remove release-right-meow SA from PAC release PipelineRuns
  .tekton/release-patch.yaml
  .tekton/release.yaml
Due: lint-yaml

fix: address review feedback on release pipeline draft-release tasks
  tekton/release-pipeline.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
