Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

remove issue reference comments
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

Add explicit permissions blocks to workflows missing them
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/slash.yml
Due: lint-yaml

cleanup: replace GCS release URLs with infra.tekton.dev
  docs/additional-configs.md
  docs/install.md
  docs/metrics-migration-otel.md
  tekton/README.md
  tekton/bugfix-release.sh
Due: none

fix: address review feedback - remove scope creep, add empty-entry guard
  pkg/resolution/resolver/cluster/resolver.go
Due: lint-go, test-unit

feat: Add namespace label to pipelinerun_total and taskrun_total metrics
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

docs: add namespace label to pipelinerun_total and taskrun_total metrics
  docs/metrics.md
Due: none

fix: address review feedback - fix error label, strengthen test assertions
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: address review feedback - use apiequality, expand tests, fix copyright
  pkg/resolution/common/context.go
  pkg/resolution/common/context_test.go
  pkg/resolution/resource/crd_resource.go
  pkg/resolution/resource/crd_resource_internal_test.go
Due: lint-go, test-unit

docs(bundle-resolver): document config defaults and service account option
  docs/bundle-resolver.md
Due: none

fix: make step-init symlink creation idempotent
  cmd/entrypoint/subcommands/step_init.go
  cmd/entrypoint/subcommands/step_init_test.go
Due: lint-go, test-unit

fix: handle os.Remove errors and add init idempotency test
  cmd/entrypoint/subcommands/init_test.go
  cmd/entrypoint/subcommands/step_init.go
Due: lint-go, test-unit

[TEP-0137] Add missing test coverage for PR 1 changes
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types_test.go
  pkg/apis/pipeline/v1beta1/run_interface.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/controller_test.go
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/testing/assets.go
Due: lint-go, test-unit

addressed review comments
  pkg/apis/pipeline/v1beta1/container_types.go
Due: lint-go, test-unit

docs: fix broken internal markdown links
  docs/pipelines.md
  docs/podtemplates.md
Due: none

perf(pipelinerun): hoist VerificationPolicy list out of per-task loop in resolvePipelineState
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

Update pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

Update docs/git-resolver.md
  docs/git-resolver.md
Due: none

fix(resolver): assigning username just if it's there
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

feat(resolver): add possibility to get username from token secret for git resolver
  config/resolvers/git-resolver-config.yaml
  docs/git-resolver.md
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

test(e2e): add CA cert injection end-to-end test
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/reconciler/taskrun/taskrun_test.go
  test/ca_cert_injection_test.go
Due: lint-yaml, lint-go, test-unit

feat(pod): inject trusted CA certs into task and sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix(pod): inject podTemplate.Env into sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

docs: document CA cert injection and proxy configuration
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
Due: lint-yaml

docs: add pod latency histogram metric to metrics.md
  docs/metrics.md
Due: none

fix: convert pod latency metric to histogram and remove pod label
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

[TEP-0137] Restructure customrun event controller
  .gitignore
  cmd/events/main.go
  docs/pipeline-api.md
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/run_interface.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/controller_test.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/testing/assets.go
Due: lint-go, test-unit

chore(ci): harden PR welcome workflow with security fixes
  .github/workflows/pr-welcome-comment.yaml
Due: lint-yaml

Re-enable pipeline-api.md generation
  docs/pipeline-api.md
  go.mod
  go.sum
  hack/reference-docs-gen-config.json
  hack/update-codegen.sh
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/modules.txt
Due: none

ci: fix duplicate comment prevention using find-comment action
  .github/workflows/pr-welcome-comment.yaml
Due: lint-yaml

ci: update harden-runner to v2.12.0 for Node.js 24 support
  .github/workflows/pr-welcome-comment.yaml
Due: lint-yaml

fix: Pin Ubuntu container images to digests in examples/v1/taskruns
  examples/v1/taskruns/configmap.yaml
  examples/v1/taskruns/custom-env.yaml
  examples/v1/taskruns/custom-volume.yaml
  examples/v1/taskruns/default_task_params.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/home-is-set.yaml
  examples/v1/taskruns/home-volume.yaml
  examples/v1/taskruns/propagating_params_implicit.yaml
  examples/v1/taskruns/propagating_workspaces.yaml
  examples/v1/taskruns/readonly-internal-dir.yaml
  examples/v1/taskruns/run-steps-as-non-root.yaml
  examples/v1/taskruns/secret-env.yaml
  examples/v1/taskruns/secret-volume-params.yaml
  examples/v1/taskruns/secret-volume.yaml
  examples/v1/taskruns/sidecar-interp.yaml
  examples/v1/taskruns/sidecar-ready-script.yaml
  examples/v1/taskruns/sidecar-ready.yaml
  examples/v1/taskruns/stepaction-params.yaml
  examples/v1/taskruns/steptemplate-env-merge.yaml
  examples/v1/taskruns/task-volume-args.yaml
  examples/v1/taskruns/template-volume.yaml
  examples/v1/taskruns/unnamed-steps.yaml
  examples/v1/taskruns/using_context_variables.yaml
  examples/v1/taskruns/workingdir.yaml
  examples/v1/taskruns/workspace-readonly.yaml
  examples/v1/taskruns/workspace-volume.yaml
  examples/v1/taskruns/workspace-with-volumeClaimTemplate.yaml
  examples/v1/taskruns/workspace.yaml
Due: lint-yaml

docs: add 4 undocumented metrics to docs/metrics.md
  docs/metrics.md
Due: none

fix: Pin Bash container images to digests in examples/v1/taskruns
  examples/v1/taskruns/array-default.yaml
  examples/v1/taskruns/object-param-result.yaml
  examples/v1/taskruns/stepaction-passing-results.yaml
  examples/v1/taskruns/task-result.yaml
Due: lint-yaml

fix: Pin alpine container images to digests in examples/v1/taskruns
  examples/v1/taskruns/creds-init-only-mounts-provided-credentials.yaml
  examples/v1/taskruns/ignore-step-error.yaml
  examples/v1/taskruns/optional-workspaces.yaml
  examples/v1/taskruns/stepaction-passing-results.yaml
  examples/v1/taskruns/stepaction-results.yaml
  examples/v1/taskruns/stepaction.yaml
  examples/v1/taskruns/stepactions-steptemplate.yaml
  examples/v1/taskruns/workspace-in-sidecar.yaml
Due: lint-yaml

docs: moved the examples for cache to Usage section.
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
Due: none

fix: Pin busybox container images to digests in examples/v1/taskruns
  examples/v1/taskruns/steps-run-in-order.yaml
Due: lint-yaml

fix(resolvers): validate data is Tekton object in resolver framework
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

docs: add README files for pipelinerun and taskrun examples
  examples/v1/pipelineruns/README.md
  examples/v1/taskruns/README.md
Due: none

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
