Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Added distributed tracing support for when expression evaluation
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-go, test-unit

docs(security): add security best practices for workspace isolation across trust boundaries
  docs/security/README.md
  docs/workspaces.md
Due: none

added a conditions in params_types to gracefully catch vars in scripts instead of paic, and another validator to provide an informative error message
  pkg/apis/pipeline/v1/param_types.go
  pkg/apis/pipeline/v1/param_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

fix(resolvers): Allow ResolutionRequests to resolve all Tekton kinds
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

fix issue #8255 - seperating step level and task level validation. ValidateStepActionResultsVariable function now also handles stepAction refernces
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation_test.go
  pkg/apis/pipeline/v1beta1/stepaction_validation.go
  pkg/apis/pipeline/v1beta1/stepaction_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

Using configured (tracer.Tracer) to trace from the parent function call in (applyParamsContextsResultsAndWorkspaces) & substitution span parenting test
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

ci: add missing issues:write permission to cherry-pick workflow
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

docs: add stepaction support to hub resolver docs
  docs/hub-resolver.md
Due: none

chore: switch base image to ghcr.io/tektoncd/plumbing/static-base
  .ko.yaml
  tekton/publish.yaml
Due: lint-yaml

refactor: decouple metadata sync from event emission in reconcilers
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add agent workflow context
  .agents/skills/tekton-pipeline-discovery
  .claude/skills/tekton-pipeline-discovery
  .codex/skills/tekton-pipeline-discovery
  .gitignore
  AGENTS.md
  docs/agents/agent-context.md
  hack/verify-agent-readiness.sh
  skills/tekton-pipeline-discovery/SKILL.md
Due: none

test(resolvers): cover resolved resource validation kinds
  pkg/resolution/resolver/framework/interface_test.go
Due: lint-go, test-unit

build(deps): bump go-jose v4 to 4.1.4
  go.mod
  go.sum
  vendor/github.com/go-jose/go-jose/v4/CHANGELOG.md
  vendor/github.com/go-jose/go-jose/v4/README.md
  vendor/github.com/go-jose/go-jose/v4/asymmetric.go
  vendor/github.com/go-jose/go-jose/v4/cipher/key_wrap.go
  vendor/github.com/go-jose/go-jose/v4/crypter.go
  vendor/github.com/go-jose/go-jose/v4/jwe.go
  vendor/github.com/go-jose/go-jose/v4/jwk.go
  vendor/github.com/go-jose/go-jose/v4/jws.go
  vendor/github.com/go-jose/go-jose/v4/shared.go
  vendor/github.com/go-jose/go-jose/v4/signing.go
  vendor/github.com/go-jose/go-jose/v4/symmetric.go
  vendor/modules.txt
Due: none

fix(notifications): use global tracer provider, drop Secret informer
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/customrun/tracing.go
Due: lint-go, test-unit

feat(notifications): add tracing spans to CustomRun reconciler
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/customrun/tracing.go
  pkg/reconciler/notifications/runtimeobject.go
Due: lint-go, test-unit

fix: Pin Ubuntu,Bash,Alpine container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/param-enum.yaml
  examples/v1/taskruns/alpha/produce-consume-artifacts.yaml
  examples/v1/taskruns/alpha/step-stream-results.yaml
  examples/v1/taskruns/alpha/step-stream-volumes.yaml
  examples/v1/taskruns/alpha/step-stream-workspace.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/large-task-result.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/beta/propagated-object-parameters.yaml
  examples/v1/taskruns/beta/workspace-in-sidecar.yaml
  examples/v1/taskruns/beta/workspace-isolation.yaml
  examples/v1/taskruns/no-ci/default-workspaces.yaml
  examples/v1/taskruns/no-ci/limitrange.yaml
Due: lint-yaml

formatting alignment in taskrun_go and imports fix
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

feat(notifications): add tracing spans to PipelineRun notifications reconciler
  pkg/reconciler/notifications/pipelinerun/reconciler.go
Due: lint-go, test-unit

testing reordering package
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

space change
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

hidden whitespace fixed
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
Due: lint-go, test-unit

fix: downgrade tracing logs to debug and update security docs
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-yaml, lint-go, test-unit
