Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Fix moved example links in pipeline docs
  docs/pipelineruns.md
  docs/pipelines.md
Due: none

fix: address review feedback on metadata sync
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

docs: move threat model to security dir and cross-ref #10241
  docs/security/threat-model.md
Due: none

docs: add security threat model
  docs/security-model.md
Due: none

docs(security): address reviewer feedback on links and phrasing
  docs/security-model.md
Due: none

Add branch prefix to Dependabot PR titles for release branches
  .github/dependabot.yml
  hack/generate-dependabot.go
Due: lint-yaml, lint-go, test-unit

Fix sidecar-logs result extraction for results exceeding 4096 bytes
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
Due: lint-go, test-unit

make resolver goroutine-leak tests deterministic
  go.mod
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler_test.go
  vendor/go.uber.org/goleak/.gitignore
  vendor/go.uber.org/goleak/.golangci.yml
  vendor/go.uber.org/goleak/CHANGELOG.md
  vendor/go.uber.org/goleak/LICENSE
  vendor/go.uber.org/goleak/Makefile
  vendor/go.uber.org/goleak/README.md
  vendor/go.uber.org/goleak/doc.go
  vendor/go.uber.org/goleak/internal/stack/doc.go
  vendor/go.uber.org/goleak/internal/stack/scan.go
  vendor/go.uber.org/goleak/internal/stack/stacks.go
  vendor/go.uber.org/goleak/leaks.go
  vendor/go.uber.org/goleak/options.go
  vendor/go.uber.org/goleak/testmain.go
  vendor/go.uber.org/goleak/tracestack_new.go
  vendor/modules.txt
Due: lint-go, test-unit

fix: make tracing noop spans safe to end
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

test: avoid unchecked tracing shutdown
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: end root tracing span after reconciliation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

docs: scope retry-count note to context.task, fix pipelineTask.retries row
  docs/pipelines.md
  docs/variables.md
Due: none

fix: harden pod rescheduling attempts
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat: add automatic pod rescheduling for pre-step failures
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

fix: avoid rescheduling evicted taskrun pods
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: address pod rescheduling lint
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix: align pod rescheduling docs and e2e cleanup
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

fix: trust only cluster resolver task namespace for stepactions
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: make pod rescheduling idempotent
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: stepaction resolution should respect resolved task's namespace
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

fix: keep rescheduled pod names distinct
  docs/pipeline-api.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

feat: add TaskRun controller notices
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-enable-notices.yaml
  pkg/apis/pipeline/v1/notice_types.go
  pkg/apis/pipeline/v1/notice_types_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/featureflags.go
  test/per_feature_flags_test.go
Due: lint-yaml, lint-go, test-unit

feat: allow PipelineTask compute resource defaults
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-yaml, lint-go, test-unit

fix: handle nil taskrun namespace helper
  docs/pipeline-api.md
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

fix: remove unused resolver metrics helper
  test/resolver_metrics_test.go
Due: lint-go, test-unit

fix: acknowledge TaskRun prepare complexity
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs: add etcd revision profiling guide and helper tool
  docs/developers/README.md
  docs/developers/etcd-revision-profiling.md
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/profile_test.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

fix(release): copy vendor tarball into kodata instead of symlink
  tekton/publish.yaml
Due: lint-yaml

docs: document StepAction support in Hub Resolver
  docs/hub-resolver.md
Due: none

feat: add default StepAction catalog to Hub Resolver
  config/resolvers/hubresolver-config.yaml
  docs/hub-resolver.md
  pkg/remoteresolution/resolver/hub/resolver.go
  pkg/remoteresolution/resolver/hub/resolver_test.go
  pkg/resolution/resolver/hub/config.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
Due: lint-yaml, lint-go, test-unit

Fix RestrictLength panic on all-symbol input
  pkg/names/generate.go
  pkg/names/generate_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

feat(tracing): record reconcile.write_intent span attribute
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/write_intent_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/write_intent.go
  pkg/reconciler/write_intent_test.go
Due: lint-go, test-unit

feat: allow variable substitution in computeResources fields
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/compute-resources.md
  docs/pipeline-api.md
  hack/patch-compute-resources-crds.sh
  hack/update-codegen.sh
  pkg/apis/pipeline/v1/compute_resources.go
  pkg/apis/pipeline/v1/compute_resources_test.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/merge.go
  pkg/apis/pipeline/v1/merge_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/pipelinerun_conversion.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/container/container_replacements.go
  pkg/container/step_replacements.go
  pkg/container/step_replacements_test.go
  pkg/internal/computeresources/tasklevel/tasklevel.go
  pkg/internal/computeresources/tasklevel/tasklevel_test.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/compute_resources_params_test.go
Due: lint-yaml, lint-go, test-unit

docs: document Operator performance config for controller HA
  docs/enabling-ha.md
Due: none

cleanup: move shared types to remoteresolution framework
  docs/resolver-template/cmd/resolver/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/configstore.go
  pkg/remoteresolution/resolver/framework/configstore_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

feat: add configurable grace period for transient CreateContainerError
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Add secret masking to redact sensitive values from step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  cmd/entrypoint/runner_masking_test.go
  cmd/entrypoint/runner_windows.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  config/config-redact-patterns.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/redact_patterns.go
  pkg/apis/config/redact_patterns_test.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/paths.go
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
  pkg/pod/secret_masking_test.go
  test/controller.go
  test/controller_test.go
Due: lint-yaml, lint-go, test-unit
