Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

ci: add CI summary fan-in job for branch protection
  .github/workflows/ci.yaml
Due: lint-yaml

tekton: update plumbing ref to include full image references fix
  tekton/release-pipeline.yaml
Due: lint-yaml

tekton: update plumbing ref to latest commit
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: clarify flag availability across controller binaries
  docs/tekton-controller-flags.md
Due: none

chore(pipelinerun): remove cmpopts.SortSlices from pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: lint-go, test-unit

fix: set default resource requirements on internal containers
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: include results and artifacts from failed tasks in pipeline results
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/task_results_from_failed_tasks_test.go
Due: lint-go, test-unit

fix: panic in v1beta1 matrix validation for invalid result refs
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

tekton: add draft release creation to release pipeline
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

Update release-cheat-sheet.md and release pipeline
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: document CA cert injection and proxy configuration
  config/config-feature-flags.yaml
  docs/additional-configs.md
Due: lint-yaml

feat(pod): inject trusted CA certs into task and sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

test(e2e): add CA cert injection end-to-end test
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/reconciler/taskrun/taskrun_test.go
  test/ca_cert_injection_test.go
Due: lint-yaml, lint-go, test-unit

fix(pod): inject podTemplate.Env into sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

feat: Add support for PipelineRef in Pipeline in pipeline
  pkg/apis/pipeline/register.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/testing/factory.go
Due: lint-go, test-unit

Assess several new gosec findings
  cmd/workingdirinit/main.go
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/writer/writer.go
  pkg/entrypoint/entrypointer.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/hub/resolver.go
  test/featureflags.go
Due: lint-go, test-unit

feat: Honor tekton.dev/traceparent as remote parent for PipelineRun spans
  docs/developers/tracing.md
  docs/labels.md
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
Due: lint-go, test-unit

fix: surface specific TaskRun failure reasons when pod fails
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: Prevent excessive reconciliation when timeout disabled
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

Move v0.68 LTS to End of Life releases
  releases.md
Due: none

chore: centralize ko base image configuration
  .github/workflows/ci.yaml
  .ko.yaml
  tekton/publish.yaml
  test/presubmit-tests.sh
Due: lint-yaml

Fix tekton/publish sed for combined-based-image digest replacement
  tekton/publish.yaml
Due: lint-yaml

feat: upload release manifests to oracle cloud
  .github/workflows/nightly-builds.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

chore(release-pipeline): update references to oci bucket
  tekton/README.md
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
