Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix(taskrun): complete pod when a step is SIGKILLed without OOMKilled reason
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

chore: Update comments on ServiceAccount testing for PinP feature
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit

refactor: decouple metadata sync from event emission in reconcilers
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: replace kodata LICENSE symlinks with actual files
  cmd/controller/kodata/LICENSE
  cmd/entrypoint/kodata/LICENSE
  cmd/events/kodata/LICENSE
  cmd/nop/kodata/LICENSE
  cmd/resolvers/kodata/LICENSE
  cmd/webhook/kodata/LICENSE
Due: none

ci: pin ko to v0.18.1 to avoid v0.19.0 regressions
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

fix: resolve in-toto attestation UUID in wait-for-chains
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: clarify retry-count variable substitution limits with taskRef
  docs/pipelines.md
  docs/variables.md
Due: none

ci: fix mismatched setup-go version comment in dependabot-regen
  .github/workflows/dependabot-regen.yml
Due: lint-yaml

feat: implement TEP-0085 per-namespace controller configuration
  cmd/webhook/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

test: account for namespace config informer actions
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

chore: simplify namespace config informer
  pkg/apis/config/namespace/namespace_config.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: constrain namespace config admission
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
Due: lint-go, test-unit

fix: apply namespace config during webhook validation
  cmd/webhook/main.go
  cmd/webhook/main_test.go
Due: lint-go, test-unit

fix: preserve cluster config in namespace merges
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix: narrow namespace config phase one scope
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
Due: lint-yaml, lint-go, test-unit

fix: reuse admission kind constants
  cmd/webhook/main.go
Due: lint-go, test-unit

feat(tracing): add semantic span attributes to reconciler child spans
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
Due: lint-go, test-unit

test(tracing): add focused tests for child span attributes
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

test: verify ServiceAccount propagation in PinP
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit

Fix dead links in feature versioning guide
  docs/developers/feature-versioning.md
Due: none

Use io.ReadFull to read OCI bundle tar layer
  pkg/remote/oci/resolver.go
  pkg/remote/oci/resolver_test.go
Due: lint-go, test-unit

Fix moved example links in pipeline docs
  docs/pipelineruns.md
  docs/pipelines.md
Due: none

Fix sidecar-logs result extraction for results exceeding 4096 bytes
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
Due: lint-go, test-unit
