Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: add automated draft release support to release pipeline
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: avoid spurious termination parse warning
  pkg/termination/write.go
  pkg/termination/write_test.go
Due: lint-go, test-unit

Fix: handle task run termination with non-JSON Kubernetes native message
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

build: bump go directive to 1.25
  .github/workflows/ci.yaml
  go.mod
  pkg/resolution/resolver/git/resolver.go
  pkg/spire/test/ca.go
  pkg/spire/test/fakebundleendpoint/server.go
  pkg/spire/test/keys.go
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: lint-yaml, lint-go, test-unit

fix: gofmt formatting in taskrun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: preserve previous condition context when TaskRun is cancelled or times out
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: downgrade tracing logs to debug and update security docs
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-yaml, lint-go, test-unit

fix: avoid throttling script init container
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: update taskrun reconciler tests for default resource requirements
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
Due: lint-go, test-unit

fix: truncate affinity assistant volume names to 63 characters
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-go, test-unit

ci: fix setup-go version comment in codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

build: bump go directive to 1.26
  .github/workflows/ci.yaml
  go.mod
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: lint-yaml

fix: allow finally tasks to run when tasks timeout is exceeded (#6794)
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

docs: update releases.md for v1.13.0
  releases.md
Due: none

fix: correct alpine/k8s image reference in release pipeline
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: TaskRun stuck in Running when init container is OOMKilled with enableKubernetesSidecar
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: make internal container resources opt-in
  config/config-defaults.yaml
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix: prevent controller CPU variant from leaking into platform commands
  cmd/entrypoint/platform_test.go
  pkg/pod/entrypoint_lookup_impl.go
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit

chore: remove stale TODO referencing closed issue #4546
  pkg/apis/pipeline/v1beta1/container_conversion.go
Due: lint-go, test-unit

feat(tracing): inject traceID and spanID into structured log output
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

[TEP-0056] Support PipelineRef in PipelineTask
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  docs/pipelines-in-pipelines.md
  docs/pipelines.md
  examples/v1/pipelineruns/alpha/pipelines-in-pipelines-ref-complex.yaml
  examples/v1/pipelineruns/alpha/pipelines-in-pipelines-ref.yaml
  examples/v1/pipelineruns/alpha/pipelines-in-pipelines.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-yaml, lint-go, test-unit

feat: use gotestsum for unit tests when available
  DEVELOPMENT.md
  Makefile
Due: none

fix: address review feedback on release pipeline draft-release tasks
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: remove release-right-meow SA from PAC release PipelineRuns
  .tekton/release-patch.yaml
  .tekton/release.yaml
Due: lint-yaml

fix: include branch filter in CEL expression for release trigger
  .tekton/release.yaml
Due: lint-yaml

Use dedicated release ServiceAccount in PAC release pipelines
  .tekton/release-patch.yaml
  .tekton/release.yaml
Due: lint-yaml

tekton: automate releases with Pipelines-as-Code
  .github/workflows/patch-release.yaml
  .tekton/release-patch.yaml
  .tekton/release.yaml
  tekton/bugfix-release.sh
  tekton/release-cheat-sheet.md
Due: lint-yaml

fix: replace symlinks with subpath params in create-draft-release
  tekton/release-pipeline.yaml
Due: lint-yaml
