Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feat: implement caching for task and pipeline resolvers
  config/resolvers/resolver-cache-config.yaml
  docs/bundle-resolver.md
  docs/git-resolver.md
  docs/resolution.md
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/params.go
  pkg/resolution/resolver/bundle/resolver.go
  pkg/resolution/resolver/bundle/resolver_test.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/http/params.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-yaml, lint-go, test-unit

chores: add twoGiants as reviewer to pipeline
  OWNERS_ALIASES
Due: none

add support for cluster resolver
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/resolution/resolver/cluster/params.go
  pkg/resolution/resolver/cluster/resolver.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix linting
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

adding efficient polling to waitForStepsToFinish
  config/config-defaults.yaml
  docs/additional-configs.md
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

docs: fix typo in pipelineruns.md
  docs/pipelineruns.md
Due: none

Do not fail PipelineRun if pvc creation error is because of exceeded quotas
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/volumeclaim/pvchandler.go
Due: lint-go, test-unit

feature: add PinP resolution and tests
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_types_test.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
Due: lint-go, test-unit

cluster resolver only enabled with cache: always is set
  docs/cluster-resolver.md
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix cluster resolver and add e2e tests
  pkg/pod/pod_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

Tests for podTemplate param substitution on TaskRuns/TaskRunSpecs
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  hack/setup-kind.sh
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Docs for podTemplate param substitution on TaskRuns/TaskRunSpecs
  docs/pipelineruns.md
  docs/podtemplates.md
  docs/variables.md
  examples/v1/pipelineruns/pipelinerun-with-taskrunspecs-matrix-param-substitution.yaml
Due: lint-yaml

Add podTemplate param substitution on TaskRuns/TaskRunSpecs
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: ensure git shell-out inherits environment variables
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
Due: lint-go, test-unit

refactor getSidecarLogPollingInterval()
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
Due: lint-go, test-unit

implement exponential backoff
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  config/config-wait-exponential-backoff.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/testdata/config-wait-exponential-backoff-custom.yaml
  pkg/apis/config/testdata/config-wait-exponential-backoff-empty.yaml
  pkg/apis/config/testdata/config-wait-exponential-backoff.yaml
  pkg/apis/config/wait_exponential_backoff.go
  pkg/apis/config/wait_exponential_backoff_test.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  test/controller.go
  test/controller_test.go
Due: lint-yaml, lint-go, test-unit

feature: allow THREADS_PER_CONTROLLER env var to override threads-per-controller default value
  cmd/controller/main.go
  cmd/resolvers/main.go
  docs/tekton-controller-performance-configuration.md
Due: lint-go, test-unit

Remove all reference to gcr.io tekton projects
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  examples/v1/pipelineruns/beta/git-resolver.yaml
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-apiurl.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  examples/v1/pipelineruns/pipelinerun.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/bundles-resolver.yaml
  examples/v1/taskruns/beta/git-resolver.yaml
  examples/v1/taskruns/beta/hub-resolver.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/no-ci/docker-creds.yaml
  examples/v1/taskruns/no-ci/pull-private-image.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/provenance.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/provenance.go
  pkg/apis/pipeline/v1beta1/swagger.json
  tekton/release-pipeline.yaml
  test/resolvers_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

refactor(tests): move ConfigMap helpers
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
  pkg/reconciler/testing/configmap.go
Due: lint-go, test-unit

nightly release with gh actions
  .github/workflows/nightly-builds.yaml
  README.md
  tekton/README.md
  tekton/account.yaml
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml
