Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Run less e2e matrix by default
  .github/workflows/chatops_retest.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/slash.yml
Due: lint-yaml

Fix: Add useHttpPath to support multiple Git credentials on same host
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds_test.go
Due: lint-go, test-unit

fix: Add missing comma in slash commands workflow
  .github/workflows/slash.yml
Due: lint-yaml

Migrate tests images out of dockerhub.
  examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/dind-sidecar.yaml
  examples/v1/taskruns/step-by-digest.yaml
  test/git-resolver/gitea.yaml
  test/multiarch_utils.go
  test/step_output_test.go
  test/tektonbundles_test.go
  test/trustedresources_test.go
Due: lint-yaml, lint-go, test-unit

fix: panic in v1beta1 matrix validation for invalid result refs
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

Fix the e2e-extras slash command
  .github/workflows/e2e-matrix-extras.yaml
Due: lint-yaml

Use PATCH instead of UPDATE in StopSidecars to avoid 409 conflicts
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
Due: lint-yaml, lint-go, test-unit

Fix commit SHA of actions/github-script in e2e-extras workflow
  .github/workflows/e2e-matrix-extras.yaml
Due: lint-yaml

.github: add a dependabot configuration to monitor .ko.yaml
  .github/dependabot.yml
Due: lint-yaml

Use groups to limit number of pull-request
  .github/dependabot.yml
Due: lint-yaml

.github/workflows: make sure changes in workflow do not generate skips
  .github/workflows/ci.yaml
Due: lint-yaml

.github/workflows: fix detect-changes regular expression
  .github/workflows/ci.yaml
Due: lint-yaml

fix(ci): correct grep patterns in detect job
  .github/workflows/ci.yaml
Due: lint-yaml

feat: Add GitHub Actions cherry-pick slash command
  .github/workflows/cherry-pick-command.yaml
  .github/workflows/slash.yml
  CONTRIBUTING.md
Due: lint-yaml

.github/workflows: configure some workflows to run as part of the merge_queue
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
  DEVELOPMENT.md
Due: lint-yaml

.github/workflows: refactor matrix to make it more easily customizable
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

test: reduce the number of examples tests running in parallel
  test/e2e-tests.sh
  test/examples_test.go
Due: lint-go, test-unit

update description
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-yaml, lint-go, test-unit

fix: Populate step statuses before TaskRun timeout handling
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/taskrun_timeout_test.go
Due: lint-go, test-unit

feat: Add digest validation support to HTTP resolver
  config/resolvers/config-feature-flags.yaml
  docs/http-resolver.md
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

.github/workflows: fix e2e-matrix-extras
  .github/workflows/e2e-matrix-extras.yaml
Due: lint-yaml

examples: reduce the size of the matrix to reduce flakiness
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix.yaml
Due: lint-yaml

Fix parameter substitution for defaults referencing other params
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

ci: Automate Dependabot configuration generation
  .github/dependabot.config.yml
  .github/dependabot.yml
  .github/workflows/dependabot-regen.yml
  hack/README.md
  hack/generate-dependabot.go
  hack/generate-dependabot.sh
  hack/update-codegen.sh
Due: lint-yaml, lint-go, test-unit

e2e: try to bump to 15min for the wait function
  test/wait.go
Due: lint-go, test-unit

e2e: give more time for dind-sidecar to start
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

add host users
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/pod/pod.go
Due: lint-yaml, lint-go, test-unit

update-codegen.sh
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
