Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Fix PipelineRun premature failure when TaskRun recovers after pod eviction
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

feat(tracing): add spans to TaskRun notifications controller
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-go, test-unit

fix: remove unnecessary blank lines to pass whitespace lint
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-go, test-unit

add optional field
  pkg/apis/pipeline/v1beta1/container_types.go
Due: lint-go, test-unit

changes from codegen
  docs/pipeline-api.md
Due: none

fix: resolve goroutine leak from unbuffered channels in resolver reconcilers
  pkg/apis/config/feature_flags.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

Add block-private-ips config knob + opt out in-cluster registry e2e
  config/resolvers/bundleresolver-config.yaml
  config/resolvers/hubresolver-config.yaml
  pkg/remoteresolution/resolver/hub/resolve.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/framework/dialerblock.go
  pkg/resolution/resolver/hub/resolver.go
  test/resolver_cache_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

fix(pipelinerun): use generateName for anonymous pipeline label
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: convert pod latency metric to histogram and remove pod label
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

docs: add pod latency histogram metric to metrics.md
  docs/metrics.md
Due: none

fix: resolve goroutine leak from unbuffered channels in resolver reconcilers
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

feat(notifications): add tracing spans to CustomRun reconciler
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/customrun/tracing.go
  pkg/reconciler/notifications/runtimeobject.go
Due: lint-go, test-unit

fix: skip re-resolution of already resolved requests
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle_test.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

fix(resolvers): validate data is Tekton object in resolver framework
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/framework/interface.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

feat: implement TEP-0085 per-namespace controller configuration
  cmd/webhook/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
Due: lint-go, test-unit

fix: update taskrun reconciler tests for default resource requirements
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: avoid throttling script init container
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: stepaction resolution should respect resolved task's namespace
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

docs: clarify retry-count substitution requires taskSpec
  docs/pipelines.md
  docs/variables.md
Due: none

fix: trust only cluster resolver task namespace for stepactions
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit
