Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

add support for cluster resolver
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/resolution/resolver/cluster/params.go
  pkg/resolution/resolver/cluster/resolver.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix cluster resolver and add e2e tests
  pkg/pod/pod_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix linting
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

cluster resolver only enabled with cache: always is set
  docs/cluster-resolver.md
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fixed tests and cache annotation system
  config/200-role.yaml
  config/201-rolebinding.yaml
  config/resolvers/resolvers-deployment.yaml
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/testing/fakecontroller.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  test/clients.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

implement exponential backoff
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  config/config-wait-exponential-backoff.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/testdata/config-wait-exponential-backoff-custom.yaml
  pkg/apis/config/testdata/config-wait-exponential-backoff-empty.yaml
  pkg/apis/config/testdata/config-wait-exponential-backoff.yaml
  pkg/apis/config/wait_exponential_backoff.go
  pkg/apis/config/wait_exponential_backoff_test.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  test/controller.go
  test/controller_test.go
Due: lint-yaml, lint-go, test-unit

use local registry test image
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: ensure git shell-out inherits environment variables
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
Due: lint-go, test-unit

Add anti-affinity rules to controller's replicas
  config/controller.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

Refactor CreatePVCFromVolumClaimTemplate condition logic
  pkg/reconciler/volumeclaim/pvchandler.go
Due: lint-go, test-unit

Use tini-git image for the resolvers deployment
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  tekton/publish.yaml
  test/presubmit-tests.sh
Due: lint-yaml

feat: resolve steps referencing StepActions in parallel
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/apis/config/testdata/config-defaults-step-action-parallelism-limit-err.yaml
  pkg/apis/config/testdata/config-defaults-step-action-parallelism-limit.yaml
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

refactor(tests): move ConfigMap helpers
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
  pkg/reconciler/testing/configmap.go
Due: lint-go, test-unit

remove perf tests.
  test/resolver_cache_test.go
Due: lint-go, test-unit

exponential backoff in taskRun controller
  pkg/controller/errors.go
  pkg/controller/errors_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add startedAt field in the terminated step of a taskrun
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

nightly release with gh actions
  .github/workflows/nightly-builds.yaml
  README.md
  tekton/README.md
  tekton/account.yaml
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

cleanup: [TEP-0135] remove deprecated disable-affinity-assistant feature flag
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/affinityassistants.md
  docs/artifacts.md
  docs/deprecations.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-coschedule-affinity-assistant-comb.yaml
  pkg/apis/config/testdata/feature-flags-invalid-disable-affinity-assistant.yaml
  pkg/apis/config/testdata/feature-flags.yaml
  pkg/internal/affinityassistant/affinityassistant_types.go
  pkg/internal/affinityassistant/affinityassistant_types_test.go
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/affinity_assistant_test.go
Due: lint-yaml, lint-go, test-unit

chore: param enum usage example for stepaction
  examples/v1/taskruns/beta/stepaction-params.yaml
Due: lint-yaml

fix: add stepaction as a valid kind in the hub resolver
  pkg/remoteresolution/resolver/hub/resolver_test.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
Due: lint-go, test-unit

docs: fix wrong entry in development documentation
  DEVELOPMENT.md
  Makefile
  test/README.md
Due: none

Consume release pipeline images and task bundles from GHCR
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

test: add test for matrix params with string value containing variable reference
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  test/matrix_test.go
Due: lint-go, test-unit

docs: move step when expressions to task docs
  docs/stepactions.md
  docs/tasks.md
Due: none

webhook: remove resource_namespace tag in stats reporter
  cmd/webhook/main.go
Due: lint-go, test-unit

feat(pipeline): allow variable substitution in pipeline.tasks[].onError
  docs/variables.md
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

docs: add `ko` configuration for local registry
  DEVELOPMENT.md
Due: none

chore: adjust test to use taskRef instead of taskSpec
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Update link to section on overriding task requests
  docs/taskruns.md
Due: none

chore: adjust base on the review comments
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
Due: lint-yaml, lint-go, test-unit

Add configuration for custom bundle resolver backoff
  docs/bundle-resolver.md
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/config.go
  pkg/resolution/resolver/bundle/resolver_test.go
Due: lint-go, test-unit

fix fan out matrix task failed due to result ref
  pkg/apis/pipeline/v1/matrix_types.go
Due: lint-go, test-unit

feat: add support for authenticated git clone
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

Add v0.70 to the releases doc and fix dates of v0.64 and v0.69 releases
  releases.md
Due: none

.github/workflows: update setup-go to use go.mod version
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

fix: handle subPath directory creation errors gracefully
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Bump go.mod and tools/go.mod to go 1.23
  go.mod
Due: none

misc: promote `keep-pod-on-cancel` to beta for cancel TaskRuns using entrypoint binary #3238
  pkg/apis/config/feature_flags.go
  test/e2e-tests-kind-prow-alpha.env
  test/e2e-tests-kind-prow-beta.env
  test/e2e-tests.sh
  test/featureflags.go
Due: lint-go, test-unit
