Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

TEP-0048: default results
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/tasks.md
  examples/v1/pipelineruns/alpha/pipelinerun-emitting-default-results.yaml
  examples/v1/pipelineruns/alpha/pipelinerun-with-default-results.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-context-variables.yaml
  examples/v1/taskruns/alpha/default-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/result_types.go
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/result_conversion.go
  pkg/apis/pipeline/v1beta1/result_types.go
  pkg/apis/pipeline/v1beta1/result_validation.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/reconciler/taskrun/validate_taskrun_test.go
  test/default_results_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

Add deploy-local agent skill for Kind cluster testing
  .agents/skills
  .agents/skills/tekton-pipeline-discovery
  .claude/skills
  .claude/skills/tekton-pipeline-discovery
  .codex/skills
  .codex/skills/tekton-pipeline-discovery
  .cursor/skills
  skills/deploy-local/SKILL.md
  skills/deploy-local/scripts/deploy.sh
Due: none

Use folder-level symlinks for agent skill discovery
  .agents/skills
  .agents/skills/tekton-pipeline-discovery
  .claude/skills
  .claude/skills/tekton-pipeline-discovery
  .codex/skills
  .codex/skills/tekton-pipeline-discovery
  .cursor/skills
  AGENTS.md
Due: none

Add deploy-local skill for Kind cluster testing
  skills/deploy-local/SKILL.md
  skills/deploy-local/scripts/deploy.sh
Due: none

Add PR template reminder to AGENTS.md
  AGENTS.md
Due: none

feat: correlate Kubernetes events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Fix PipelineRun stuck in ResolvingTaskRef when RR enqueue is missed
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs: fix broken Logs link in developer local-setup guide
  docs/developers/local-setup.md
Due: none

Fix kind node image digest for k8s v1.33
  hack/setup-kind.sh
Due: none

Preserve Sidecar RestartPolicy on API conversion
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
Due: lint-go, test-unit

Fix wrong Deprecated godoc in affinity assistant
  pkg/reconciler/pipelinerun/affinity_assistant.go
Due: lint-go, test-unit

Fix broken object param example links in API spec
  docs/api-spec.md
Due: none

fix(release): copy vendor tarball into kodata instead of symlink
  tekton/publish.yaml
Due: lint-yaml

Fix: handle task run termination with non-JSON Kubernetes native message
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: correct verb in controller startup panic logs
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/pipelinerun/controller.go
  pkg/reconciler/notifications/taskrun/controller.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/controller_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
Due: lint-go, test-unit

Prevent matrix combination count int overflow
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
Due: lint-go, test-unit

Handle matrix include count overflow
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
Due: lint-go, test-unit

hoist step result name regex to package var
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
Due: lint-go, test-unit

Address step result regex review feedback
  pkg/apis/pipeline/v1/result_validation.go
Due: lint-go, test-unit

Strip descriptions at the status spec overwrite points
  pkg/apis/pipeline/v1/strip_descriptions_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add configuration for custom git resolver backoff
  config/resolvers/git-resolver-config.yaml
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/config_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): add semantic span attributes to reconciler child spans
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
Due: lint-go, test-unit

Add results to valid variable prefixes in pipeline validation
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

ci(.github/workflows): enable Codecov coverage reporting
  .github/workflows/go-coverage.yml
  codecov.yml
Due: lint-yaml

fix(nightlies): skip draft-release tasks when releaseMode=nightly
  .github/workflows/nightly-builds.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: dangerous-exec-command-87 (#1)
  cmd/entrypoint/runner.go
Due: lint-go, test-unit

fix: dangerous-exec-command-50 (#2)
  cmd/entrypoint/runner_windows.go
Due: lint-go, test-unit

fix: detected-private-key-340 (#3)
  docs/auth.md
Due: none

fix: detected-private-key-11 (#4)
  examples/v1/pipelineruns/beta/isolated-workspaces.yaml
Due: lint-yaml

fix: use-tls-106 (#5)
  cmd/controller/main.go
Due: lint-go, test-unit

fix: use-tls-48 (#6)
  cmd/events/main.go
Due: lint-go, test-unit

fix: ifs-tampering-56 (#8)
  hack/generate-groups.sh
Due: none

fix: unsafe-reflect-by-name-101 (#9)
  pkg/resolution/resolver/git/config.go
Due: lint-go, test-unit

fix: use-tls-271 (#7)
  cmd/webhook/main.go
Due: lint-go, test-unit
