Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

tests: uses docker multi-arch images for dind-sidecar
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

feature: add PinP state and tests
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

fix: decompose conditional
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
  test/pipelinerun_test.go
  test/preemption_test.go
Due: lint-go, test-unit

tests: remove single-platform image
  examples/v1/taskruns/entrypoint-resolution.yaml
Due: lint-yaml

ci/e2e: run one e2e on arm64
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

test: update busybox image to point to latest stable-musl..
  test/multiarch_utils.go
Due: lint-go, test-unit

tests: also build wait customrun for linux/arm64
  test/custom_task_test.go
Due: lint-go, test-unit

examples: remove explicit arch nodeSelector
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
Due: lint-yaml

fix(taskspec): ensure TaskRun.Status.Steps ordering matches pod execution order
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  test/conformance_test.go
  test/conversion_test.go
  test/step_when_test.go
  test/taskrun_test.go
  test/util.go
  test/windows_test.go
Due: lint-go, test-unit

Use a DaemonSet to pre-fetch common images used in our tests
  test/e2e-tests.sh
Due: none

fix: do not fail PipelineRun when TaskRef reconciles with retryable err
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/resolution/common/errors.go
Due: lint-go, test-unit

e2e: limit examples paralellism to 4 by default
  test/examples_test.go
Due: lint-go, test-unit

chore: centralize ko base image configuration
  .github/workflows/ci.yaml
  .ko.yaml
  tekton/publish.yaml
  test/presubmit-tests.sh
Due: lint-yaml

test: merge resolver_cache_integration_test.go into resolver_cache_test.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

test: add verification to concurrent cache write and eviction tests
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
Due: lint-go, test-unit

wip: Run less e2e matrix by default
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

test: reduce the number of examples tests running in parallel
  test/e2e-tests.sh
  test/examples_test.go
Due: lint-go, test-unit

Rebase against pull-request base-ref
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

test: remove unnecessary tests in cache package
  pkg/remoteresolution/resolver/framework/cache/annotated_resource_test.go
  pkg/remoteresolution/resolver/framework/cache/configstore_test.go
Due: lint-go, test-unit

test: add accessor methods and improve config change tests
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/configstore_test.go
Due: lint-go, test-unit

test: fix TestCacheConcurrentWrites race detector flakiness
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
Due: lint-go, test-unit

test: remove duplicate E2E tests and refactor common patterns
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix(#8940): Fix token-authentication header in git resolver
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
Due: lint-yaml, lint-go, test-unit

chore: fix unit test action name
  .github/workflows/ci.yaml
Due: lint-yaml

refactor: remove unused cacheConfigStore field from Reconciler
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

refactor: use knative configmap pattern for cache Config
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/configstore.go
  pkg/remoteresolution/resolver/framework/cache/configstore_test.go
Due: lint-go, test-unit
