Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Add KOCACHE support to CI workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
  hack/cache-ko-base-images.sh
Due: lint-yaml

feature: implement PinP reconciliation and tests
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/testing/status.go
  test/conversion_test.go
  test/parse/yaml.go
  test/pipelinerun_pinp_test.go
  test/util.go
Due: lint-go, test-unit

DNM: testing the CI
  cmd/resolvers/main.go
Due: lint-go, test-unit

tests: fix pinp tests
  test/pipelinerun_pinp_test.go
  test/util.go
Due: lint-go, test-unit

Added signal handling in SidecarLog results
  cmd/sidecarlogresults/main.go
  cmd/sidecarlogresults/main_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

Fix tekton/publish sed for combined-based-image digest replacement
  tekton/publish.yaml
Due: lint-yaml

test: reduce the number of examples tests running in parallel
  test/e2e-tests.sh
  test/examples_test.go
Due: lint-go, test-unit

feat: upload release manifests to oracle cloud
  .github/workflows/nightly-builds.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

ci: skip running builds and tests when only changes are markdown
  .github/workflows/ci.yaml
Due: lint-yaml

tests: pdate csi-node-driver-registrar image reference
  test/testdata/spire/spire-agent.yaml
Due: lint-yaml

fix: update tekton setup action
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

Pin actions by commit SHA or image digest
  .github/workflows/chatops_retest.yaml
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/nightly-builds.yaml
  .github/workflows/slash.yml
Due: lint-yaml

wip: Run less e2e matrix by default
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

Update releases.md after 1.6.0 release
  releases.md
Due: none

Use patch instead of update to replace sidecars with nop image
  pkg/pod/entrypoint.go
Due: lint-go, test-unit

fix(#8940): Fix token-authentication header in git resolver
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
Due: lint-yaml, lint-go, test-unit

chore: fix unit test action name
  .github/workflows/ci.yaml
Due: lint-yaml

fix: action reference
  .github/workflows/labels.yaml
Due: lint-yaml

Fix panic in v1beta1 matrix validation for invalid result refs
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

examples: make sure we use the same image for sidecar and step
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

refactor: add clock injection to cache for testing
  pkg/remoteresolution/resolver/framework/cache/annotated_resource.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/clock.go
  test/timeout_test.go
Due: lint-go, test-unit

fix: update default tracing endpoint to oltp protobuf endpoint
  config/config-tracing.yaml
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
Due: lint-yaml, lint-go, test-unit

Fix typos in some files
  pkg/apis/pipeline/v1/pipeline_validation_test.go
Due: lint-go, test-unit

.github/workflows: run e2e stable tests before the rest
  .github/workflows/e2e-matrix.yml
Due: lint-yaml
