Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix: resolve goroutine leak from unbuffered channels in resolver reconcilers
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

chore: remove stale TODO referencing closed issue #4546
  pkg/apis/pipeline/v1beta1/container_conversion.go
Due: lint-go, test-unit

fix: correct alpine/k8s image reference in release pipeline
  tekton/release-pipeline.yaml
Due: lint-yaml

chore: remove extra blank line
  pkg/apis/pipeline/v1beta1/container_conversion.go
Due: lint-go, test-unit

fix: address review feedback - import ordering and fmt.Errorf cleanup
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

test: avoid unchecked tracing shutdown
  pkg/tracing/tracing_test.go
Due: lint-go, test-unit

lint: document resolver span ownership
  config/resolvers/config-tracing.yaml
  pkg/remoteresolution/resolver/framework/tracing.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
Due: lint-yaml, lint-go, test-unit

fix: surface pod event messages in image pull failure errors
  config/200-clusterrole.yaml
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

feat: add automatic pod rescheduling for pre-step failures
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

fix: make pod rescheduling idempotent
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: avoid rescheduling evicted taskrun pods
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: apply namespace config during webhook validation
  cmd/webhook/main.go
  cmd/webhook/main_test.go
Due: lint-go, test-unit

fix: bump prepare and working-dir-initializer CPU limit from 10m to 100m
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: prevent controller CPU variant from leaking into platform commands
  cmd/entrypoint/platform_test.go
  pkg/pod/entrypoint_lookup_impl.go
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit

fix: avoid spurious termination parse warning
  pkg/termination/write.go
  pkg/termination/write_test.go
Due: lint-go, test-unit

Fix PipelineRun premature failure when TaskRun recovers after pod eviction
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: make internal container resources opt-in
  config/config-defaults.yaml
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Refactor SSRF protection into shared resolver framework
  config/resolvers/http-resolver-config.yaml
  docs/additional-configs.md
  docs/http-resolver.md
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/framework/ssrf.go
  pkg/resolution/resolver/framework/ssrf_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-yaml, lint-go, test-unit

fix: TaskRun stuck in Running when init container is OOMKilled with enableKubernetesSidecar
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Fixing linting errors
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

[TEP-0056] Support PipelineRef in PipelineTask
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  docs/pipelines-in-pipelines.md
  docs/pipelines.md
  examples/v1/pipelineruns/alpha/pipelines-in-pipelines-ref-complex.yaml
  examples/v1/pipelineruns/alpha/pipelines-in-pipelines-ref.yaml
  examples/v1/pipelineruns/alpha/pipelines-in-pipelines.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
