Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix: treat sqlite "database is locked" as a transient resolution error
  pkg/resolution/common/errors.go
  pkg/resolution/common/errors_test.go
Due: lint-go, test-unit

docs: correct host-socket and Buildah privilege notes
  docs/tasks.md
Due: none

fix: add task name in error on task resolution failure
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

feat(tracing): record reconcile.write_intent span attribute
  docs/developers/tracing.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/write_intent_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/write_intent_test.go
  pkg/reconciler/write_intent.go
  pkg/reconciler/write_intent_test.go
Due: lint-go, test-unit

Say recording where the comment said sampled
  pkg/reconciler/taskrun/write_intent_test.go
  pkg/reconciler/write_intent_test.go
Due: lint-go, test-unit

fix: adapt write intent tracking to metadata sync
  pkg/reconciler/pipelinerun/write_intent_test.go
  pkg/reconciler/taskrun/write_intent_test.go
  pkg/reconciler/write_intent.go
Due: lint-go, test-unit

hack: add etcd revision profiling helper
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/profile_test.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

fix: harden etcd revision profiling
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

docs: add etcd revision profiling guide
  docs/developers/README.md
  docs/developers/etcd-revision-profiling.md
Due: none

docs: make etcd profiling guide self-contained
  docs/developers/etcd-revision-profiling.md
Due: none

cleanup: move shared types to remoteresolution framework
  docs/resolver-template/cmd/resolver/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/configstore.go
  pkg/remoteresolution/resolver/framework/configstore_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

feat: surface pod warning events on taskruns
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

chore(lint): fix lint warnings
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: address review feedback on pod event surfacing
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

docs: explain conditions ruled out in isGenericPending
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-surface-pod-events.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

fix(taskrun): retry native sidecar discovery after transient errors
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): decouple sidecar discovery test from client-go build version
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): fix grammar in discovery reactor comment
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): clarify misleading comment on fake discovery reactor
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(pod): assert cache hit for same-namespace entrypoint lookup
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit

fix: use non-expandable here-string for windows script placement
  pkg/pod/script.go
  pkg/pod/script_test.go
Due: lint-go, test-unit

chore: delete dead code in test/per_feature_flags_test.go file
  test/per_feature_flags_test.go
Due: lint-go, test-unit

Refactor: extract shared cleanup-after-resolve helper
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/resolution/cleanup.go
  pkg/reconciler/resolution/cleanup_test.go
  pkg/reconciler/taskrun/resources/taskref.go
Due: lint-go, test-unit

docs: fix broken Logs link in developer local-setup guide
  docs/developers/local-setup.md
Due: none

hoist step result name regex to package var
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
Due: lint-go, test-unit

fix: allow debug.breakpoints.beforeSteps without onFailure
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

feat(tracing): add semantic span attributes to reconciler child spans
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
Due: lint-go, test-unit

test(tracing): add focused tests for child span attributes
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: reject reserved result names in Task and StepAction validation
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
Due: lint-go, test-unit

fix(tracing): add task/pipeline identity and attributes to all child spans
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

Add ImageVolumeSource as a workspace binding type
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/workspaces.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/workspace_types.go
  pkg/apis/pipeline/v1/workspace_validation.go
  pkg/apis/pipeline/v1/workspace_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/workspace_conversion.go
  pkg/apis/pipeline/v1beta1/workspace_types.go
  pkg/apis/pipeline/v1beta1/workspace_validation.go
  pkg/apis/pipeline/v1beta1/workspace_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
