Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

test: use mirror.gcr.io/busybox in step_when_test to avoid Docker Hub flakes
  test/step_when_test.go
Due: lint-go, test-unit

Validate params and fix error path for matrix.include.when
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

Enforce max-combinations guard ignoring matrix.include.when
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
Due: lint-go, test-unit

feat: add configurable grace period for transient CreateContainerError
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

docs: move threat model to security dir and cross-ref #10241
  docs/security/threat-model.md
Due: none

Strip description fields from status spec snapshots
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/strip_descriptions.go
  pkg/apis/pipeline/v1/strip_descriptions_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

cleanup: move shared types to remoteresolution framework
  docs/resolver-template/cmd/resolver/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/configstore.go
  pkg/remoteresolution/resolver/framework/configstore_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

docs(security): enhance security best practices section with threat model context
  docs/security/README.md
  docs/workspaces.md
Due: none

feat(tracing): add semantic span attributes to reconciler child spans
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
Due: lint-go, test-unit

build: bump go directive to 1.25
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: none

Always snapshot status spec, strip descriptions conditionally
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat: add a helper to profile etcd revision overhead of a PipelineRun
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/profile_test.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

feat(tracing): record reconcile.write_outcome span attribute
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/write_outcome.go
  pkg/reconciler/write_outcome_test.go
Due: lint-go, test-unit

fix(matrix): fall back to numeric naming when an include name is empty
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

feat(tracing): add spans for task parameter and workspace substitution
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

docs: document horizontal controller scaling via leader election buckets
  docs/enabling-ha.md
Due: none

fix: handle nil taskrun namespace helper
  pkg/reconciler/taskrun/resources/taskref.go
Due: lint-go, test-unit

fix: bump Go to 1.26.4
  go.mod
Due: none

fix: bump Go and x deps for CVEs
  go.mod
  go.sum
  vendor/golang.org/x/net/html/parse.go
  vendor/golang.org/x/net/html/render.go
  vendor/golang.org/x/net/html/token.go
  vendor/golang.org/x/net/http2/server.go
  vendor/golang.org/x/net/http2/server_common.go
  vendor/golang.org/x/net/http2/server_wrap.go
  vendor/golang.org/x/net/http2/transport.go
  vendor/golang.org/x/net/http2/transport_common.go
  vendor/golang.org/x/net/http2/writesched_common.go
  vendor/golang.org/x/net/http2/writesched_priority_rfc7540.go
  vendor/modules.txt
Due: none

fix: bump Go for CVEs
  go.mod
Due: none

docs: add etcd revision profiling guide and helper tool
  docs/developers/README.md
  docs/developers/etcd-revision-profiling.md
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/profile_test.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

chore(docs): fix "pipeline" typo in examples
  docs/pipelines.md
Due: none

Address review feedback on trace annotation and EmitError API
  pkg/reconciler/events/event.go
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

test: simplify PinP ServiceAccount test per review
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit

test: verify ServiceAccount propagation in PinP
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit

test: add e2e test for OpenCensus to OpenTelemetry metrics migration
  test/metrics_otel_test.go
Due: lint-go, test-unit

address feedback: parsing non JSON termination message should not return error and state should not depend on previous step
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
