Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feat: support passing clock during RunStatus initialization
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_types_test.go
  pkg/apis/run/v1beta1/customrunstatus_types.go
  pkg/apis/run/v1beta1/customrunstatus_types_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat: pass clock to v1beta1 TaskRunStatus InitializeConditions
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_types_test.go
Due: lint-go, test-unit

Do not fail PipelineRun if pvc creation error is because of exceeded quotas
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/volumeclaim/pvchandler.go
Due: lint-go, test-unit

accept featureFlags.EnableTektonOCIBundles to fix unknown field error
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
Due: lint-yaml, lint-go, test-unit

fix: fix %w formatting leak in user-facing error
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

fix(validation): apply SetDefaults to both specs before comparison
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

chore: remove redundant word
  config/config-defaults.yaml
  docs/additional-configs.md
Due: lint-yaml

Update Gitea Manifest for Git Resolver test
  test/git-resolver/gitea.yaml
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

Ignore gitea.yaml for lint test
  .yamllint
Due: none

Disable the Gitea e2e tests temporarily to unblock
  test/resolvers_gitea_test.go
  test/resolvers_test.go
Due: lint-go, test-unit

Use Server-Side Apply patch to manage finalizers
  pkg/client/injection/reconciler/pipeline/v1/pipelinerun/controller.go
  pkg/client/injection/reconciler/pipeline/v1/pipelinerun/reconciler.go
  pkg/client/injection/reconciler/pipeline/v1/taskrun/controller.go
  pkg/client/injection/reconciler/pipeline/v1/taskrun/reconciler.go
Due: lint-go, test-unit

fix: allow finalizer updates on completed PipelineRuns
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

fix: allow finalizer updates on completed TaskRuns
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

check initContainers for kubernetes sidecar implementation
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Set the user-agent in the release name tool
  tekton/release_names.go
Due: lint-go, test-unit

Refactor CreatePVCFromVolumClaimTemplate condition logic
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/volumeclaim/pvchandler.go
  pkg/reconciler/volumeclaim/pvchandler_test.go
Due: lint-go, test-unit

Updates for release 1.4
  releases.md
  tekton/release-cheat-sheet.md
Due: none

Create cloudbuild.yaml
  cloudbuild.yaml
Due: lint-yaml

Update cloudbuild.yaml
  cloudbuild.yaml
Due: lint-yaml

run codegen
  go.mod
  go.sum
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
  vendor/modules.txt
Due: none

many changes to addreess review feedback
  test/resolver_cache_test.go
Due: lint-go, test-unit

Fix linter errors from CI
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

revert unneeded changes
  config/200-role.yaml
  config/201-rolebinding.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

Implement twoGiants feedback: make GenerateCacheKey private and improve cache API
  .gitignore
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

Fix flaky task timeout override test
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
Due: lint-yaml
