Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: exclude pending PipelineRuns from tekton_pipelines_controller_running_pipelineruns metric
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
Due: lint-go, test-unit

Add startedAt field in the terminated step of a taskrun
  examples/v1/pipelineruns/alpha/stepaction-params.yaml
  examples/v1/taskruns/beta/stepaction-git-resolver.yaml
  examples/v1/taskruns/beta/stepaction-params.yaml
  examples/v1/taskruns/beta/stepaction-passing-results.yaml
  examples/v1/taskruns/beta/stepaction-results.yaml
  examples/v1/taskruns/beta/stepaction.yaml
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

many changes to addreess review feedback
  test/resolver_cache_test.go
Due: lint-go, test-unit

Add comprehensive unit tests for cache injection package
  pkg/remoteresolution/cache/injection/cache_test.go
Due: lint-go, test-unit

Add comprehensive unit tests for resolver framework cache
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

run codegen
  go.mod
  go.sum
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
  vendor/modules.txt
Due: none

clear cache in test setup
  pkg/remoteresolution/cache/cache.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

updated copyright year to 2025
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/remote/resolution/doc.go
  pkg/remoteresolution/remote/resolution/request.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

Update pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

revert hub resolver, fix bundle api (name)
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

Fix linting issue in cache_test.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

Fix resolver cache regression and remove GetGlobalCache
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
Due: lint-go, test-unit

remove error return from generateCacheKey
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

revert unneeded changes
  config/200-role.yaml
  config/201-rolebinding.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

Implement twoGiants feedback: make GenerateCacheKey private and improve cache API
  .gitignore
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

Fix flaky task timeout override test
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
Due: lint-yaml

Remove reference gcr.io tekton projects
  examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  examples/v1/pipelineruns/pipelinerun.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/bundles-resolver.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/no-ci/docker-creds.yaml
  examples/v1/taskruns/no-ci/pull-private-image.yaml
  test/pipelinerun_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

Do not fail PipelineRun if pvc creation error is because of exceeded quotas
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/volumeclaim/pvchandler.go
Due: lint-go, test-unit

Fix linter errors from CI
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

Refactor CreatePVCFromVolumClaimTemplate condition logic
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/volumeclaim/pvchandler.go
  pkg/reconciler/volumeclaim/pvchandler_test.go
Due: lint-go, test-unit

feat: resolve steps referencing StepActions in concurrently
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/apis/config/testdata/config-defaults-step-ref-concurrency-limit-err.yaml
  pkg/apis/config/testdata/config-defaults-step-ref-concurrency-limit.yaml
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Implement conditional cache initialization
  pkg/apis/config/resolver/feature_flags.go
  pkg/apis/config/resolver/feature_flags_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  test/conversion_test.go
  test/start_time_test.go
Due: lint-go, test-unit

docs: Switch from deprecated Tekton Hub to ArtifactHub
  docs/events.md
  docs/hub-resolver.md
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
Due: lint-yaml

add webhook readiness checks
  test/conversion_test.go
Due: lint-go, test-unit

check initContainers for kubernetes sidecar implementation
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Add Support for managedBy field in TaskRun and PipelineRun
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipelineruns.md
  docs/taskruns.md
  pkg/apis/pipeline/register.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/controller_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/controller_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Docs: add known limitation and workaround for multiple Git SSH credentials in Tekton
  docs/auth.md
Due: none
