Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Security: reject system API token with user-controlled serverURL
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: normalize VolumeMount paths before /tekton/ restriction check
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

fix: limit HTTP resolver response body size to prevent OOM DoS
  pkg/resolution/resolver/http/config.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

fix: prevent git argument injection via revision parameter (GHSA-94jr-7pqp-xhcq)
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: strip resolver prefixes and use non-capturing group for pattern anchoring
  pkg/trustedresources/verify.go
  pkg/trustedresources/verify_regex_bypass_control_test.go
Due: lint-go, test-unit

fix: normalize VolumeMount paths before /tekton/ restriction check
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

fix: trim whitespace from source URI before pattern matching
  pkg/trustedresources/verify.go
Due: lint-go, test-unit

fix: set GOTOOLCHAIN=auto in publish task for Go version compatibility
  tekton/publish.yaml
Due: lint-yaml

perf: strip ManagedFields from PipelineRun and TaskRun informer caches
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/transform.go
  pkg/reconciler/transform_test.go
Due: lint-go, test-unit

fix(resolver): set usernamekey param instead of username
  pkg/resolution/resolver/git/params.go
Due: lint-go, test-unit

fix(resolver): assigning username just if it's there
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

Update docs/git-resolver.md
  docs/git-resolver.md
Due: none

Update pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix(resolver): add credentials to cache
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

feat(resolver): add possibility to get username from token secret for git resolver
  config/resolvers/git-resolver-config.yaml
  docs/git-resolver.md
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
