Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

build: support Go 1.25 vet checks
  internal/sidecarlogresults/sidecarlogresults_test.go
  pkg/apis/pipeline/v1/param_types_test.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1/resultref_test.go
  pkg/apis/pipeline/v1/taskrun_types_test.go
  pkg/apis/pipeline/v1alpha1/run_types_test.go
  pkg/apis/pipeline/v1beta1/customrun_types_test.go
  pkg/apis/pipeline/v1beta1/param_types_test.go
  pkg/apis/pipeline/v1beta1/resultref_test.go
  pkg/apis/pipeline/v1beta1/taskrun_types_test.go
  pkg/pod/status_test.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/resolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/hub/resolver_test.go
  pkg/result/result_test.go
  test/util.go
Due: lint-go, test-unit

Improve how gosec G115 findings are addressed
  pkg/pod/status.go
  pkg/spire/controller.go
Due: lint-go, test-unit

fix(nightlies): pass previousReleaseTag/releaseName to tkn pipeline start
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

docs: include command to apply optional config to run e2e locally in development documentation.
  test/README.md
Due: none

build: update lint for Go 1.25
  .github/workflows/ci.yaml
  .golangci.yml
  Makefile
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/task_validation.go
Due: lint-yaml, lint-go, test-unit

build: keep Go 1.25 generation reproducible
  .gitattributes
  hack/patches/go-billy-fs.patch
  hack/patches/golang-x-sys-symaddr.patch
  hack/update-codegen.sh
  vendor/github.com/go-git/go-billy/v5/fs.go
  vendor/golang.org/x/sys/unix/symaddr_zos_s390x.s
Due: none

ci: pin workflow actions
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

ci: preserve ko v0.8 behavior
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

ci: pin ko version
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

fix: reject bare workspace variable references in Task validation
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/substitution/substitution.go
  pkg/substitution/substitution_test.go
Due: lint-go, test-unit

test: update example image references
  examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  examples/v1/pipelineruns/pipelinerun.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
Due: lint-yaml

test(notifications): cover CustomRun initTracing span propagation
  pkg/reconciler/notifications/customrun/tracing_test.go
Due: lint-go, test-unit

fix(pipelinerun): resolve the whole-object form of a partial object param from the default
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

fix(pipelinerun): keep object param defaults for keys a PipelineRun omits
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

Address review: drop security framing, guard test against nil FieldError
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation.go
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation_test.go
Due: lint-go, test-unit

test: refresh stale e2e dependencies
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/taskruns/beta/bundles-resolver.yaml
  test/git-resolver/gitea.yaml
  test/tektonbundles_test.go
  test/testdata/spire/spire-agent.yaml
Due: lint-yaml, lint-go, test-unit

docs: explain conditions ruled out in isGenericPending
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-surface-pod-events.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

Fix go-coverage PR comment step
  .github/workflows/go-coverage.yml
Due: lint-yaml

docs: update setup to run e2e locally.
  test/README.md
Due: none

Regenerate dependabot.yml from config
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

docs: update testing section with e2e test instructions
  DEVELOPMENT.md
  test/README.md
Due: none

Move v1.3.x to End of Life releases
  .github/dependabot.config.yml
  releases.md
Due: lint-yaml

Tracing test and reconciler usage update
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

Gofmt change taskrun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat(tracing): add spans for task parameter and workspace substitution
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: end root tracing span at reconciliation completion
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
