Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Fix tini-git image to be multi-arch
  .ko.yaml
  tekton/publish.yaml
  tekton/release-pipeline.yaml
  test/presubmit-tests.sh
Due: lint-yaml

run codegen
  go.mod
  go.sum
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
  vendor/modules.txt
Due: none

clear cache in test setup
  pkg/remoteresolution/cache/cache.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

revert unneeded changes
  config/200-role.yaml
  config/201-rolebinding.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

Fix resolver cache regression and remove GetGlobalCache
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
Due: lint-go, test-unit

fix(#8940): Fix token-authentication header in git resolver
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

chore: fix unit test action name
  .github/workflows/ci.yaml
Due: lint-yaml

chore: patch test for go 1.23 compatibility
  test/resolvers_test.go
Due: lint-go, test-unit

.github/workflows/nightly-builds: only run on tektoncd org
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

fix: exclude pending PipelineRuns from tekton_pipelines_controller_running_pipelineruns metric
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
Due: lint-go, test-unit

release.md: update releases with 1.2.x and 1.3.x
  releases.md
Due: none

refactor(tests): move helpers to new testing framework structure
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/testing/selectors.go
  pkg/reconciler/testing/status_transformers.go
Due: lint-go, test-unit

Use taskruns from package and fix tests
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

Use pipeline from package
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

Use task from package
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

feat: update schemas
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/v1/container_validation_test.go
Due: lint-yaml, lint-go, test-unit

fix: fix container validation testcase continueAndFail
  pkg/apis/pipeline/v1/container_validation_test.go
Due: lint-go, test-unit

fix: fix linting issues
  test/ignore_step_error_test.go
Due: lint-go, test-unit

Add Support for managedBy field in TaskRun and PipelineRun
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipelineruns.md
  docs/taskruns.md
  pkg/apis/pipeline/register.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

adding efficient polling to waitForStepsToFinish
  config/config-defaults.yaml
  docs/additional-configs.md
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

refactor getSidecarLogPollingInterval()
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
Due: lint-go, test-unit

chore: remove workflow-dispatch from ci.yaml
  .github/workflows/ci.yaml
Due: lint-yaml

fix: close file in realPostWriter's write func
  cmd/entrypoint/post_writer.go
Due: lint-go, test-unit

chore: add comment for closing the postwriter file
  cmd/entrypoint/post_writer.go
Due: lint-go, test-unit

migrate: Switch from deprecated Tekton Hub to ArtifactHub
  docs/events.md
  docs/hub-resolver.md
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
Due: lint-yaml

Fix review comments
  .github/workflows/ci.yaml
  Makefile
Due: lint-yaml

Fix review comments, r1
  Makefile
Due: none

[FIX] Remove the apt warning
  .github/workflows/ci.yaml
Due: lint-yaml

feat: override task timeout in pipelineruns
  config/300-crds/300-pipeline.yaml
  config/300-crds/300-pipelinerun.yaml
  docs/pipeline-api.md
  docs/pipelineruns.md
  docs/pipelines.md
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_conversion.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-yaml, lint-go, test-unit

Update pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
