Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Resolvers: remove default TEKTON_HUB_API URI
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

Update kubernetes version of the CI
  .github/workflows/e2e-matrix.yml
  hack/setup-kind.sh
Due: lint-yaml

Re-register metrics only during real updation
  pkg/pipelinerunmetrics/metrics.go
  pkg/taskrunmetrics/metrics.go
Due: lint-go, test-unit

Re-register metrics only during real updation
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Add a tool to generate the release name
  tekton/release-cheat-sheet.md
  tekton/release_names.go
Due: lint-go, test-unit

Remove linux/arm from platform we publish
  docs/additional-configs.md
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

Add anti-affinity rules to controller's replicas
  config/controller.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

feat: implement caching for task and pipeline resolvers
  .github/workflows/codeql-analysis.yml
  .github/workflows/scorecard.yml
  .github/workflows/woke.yml
  config/resolvers/resolver-cache-config.yaml
  docs/bundle-resolver.md
  docs/git-resolver.md
  docs/resolution.md
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/params.go
  pkg/resolution/resolver/bundle/resolver.go
  pkg/resolution/resolver/bundle/resolver_test.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/http/params.go
Due: lint-yaml, lint-go, test-unit

Add podTemplate param substitution on TaskRuns/TaskRunSpecs
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Docs for podTemplate param substitution on TaskRuns/TaskRunSpecs
  docs/pipelineruns.md
  docs/podtemplates.md
  docs/variables.md
  examples/v1/pipelineruns/pipelinerun-with-taskrunspecs-matrix-param-substitution.yaml
Due: lint-yaml

Tests for podTemplate param substitution on TaskRuns/TaskRunSpecs
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

lint: use errors.Is for io.EOF check
  internal/sidecarlogresults/sidecarlogresults.go
Due: lint-go, test-unit

test: adjust unit tests for sidecar logs too large
  pkg/pod/status_test.go
Due: lint-go, test-unit

taskrun: include actual result size in error when exceeding maxResultSize
  internal/sidecarlogresults/sidecarlogresults.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

refactor(SPR2): remove skipped e2e testcases
  test/pipelinerun_test.go
  test/preemption_test.go
Due: lint-go, test-unit

feature: add PinP resolution and tests
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_types_test.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
Due: lint-go, test-unit

feature: add PinP state and tests
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

feature: implement PinP reconciliation and tests
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/testing/status.go
  test/parse/yaml.go
  test/pipelinerun_pinp_test.go
  test/util.go
Due: lint-go, test-unit

chores: add twoGiants as reviewer to pipeline
  OWNERS_ALIASES
Due: none

docs: add debugging controllers documentation
  DEVELOPMENT.md
Due: none

Remove all reference to gcr.io tekton projects
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  examples/v1/pipelineruns/beta/git-resolver.yaml
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-apiurl.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  examples/v1/pipelineruns/pipelinerun.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/bundles-resolver.yaml
  examples/v1/taskruns/beta/git-resolver.yaml
  examples/v1/taskruns/beta/hub-resolver.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/no-ci/docker-creds.yaml
  examples/v1/taskruns/no-ci/pull-private-image.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/provenance.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/provenance.go
  pkg/apis/pipeline/v1beta1/swagger.json
  tekton/release-pipeline.yaml
  test/resolvers_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

feature: allow THREADS_PER_CONTROLLER env var to override threads-per-controller default value
  cmd/controller/main.go
  cmd/resolvers/main.go
  docs/tekton-controller-performance-configuration.md
Due: lint-go, test-unit

Stop emitting deprecated metrics
  docs/metrics.md
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Make sure we do not validate ResolutionRequest on DELETE
  pkg/apis/resolution/v1alpha1/resolution_request_validation.go
  pkg/apis/resolution/v1beta1/resolution_request_validation.go
Due: lint-go, test-unit

Use tini-git image for the resolvers deployment
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  tekton/publish.yaml
Due: lint-yaml

Tests for podTemplate param substitution on TaskRuns/TaskRunSpecs
  examples/v1/pipelineruns/pipelinerun-with-taskrunspecs-matrix-param-substitution.yaml
  hack/setup-kind.sh
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
