Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix: add stepaction as a valid kind in the hub resolver
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/remoteresolution/resolver/hub/resolver_test.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
Due: lint-go, test-unit

cleanup: breakup the pkg/credentials into writer and matcher
  cmd/entrypoint/main.go
  pkg/credentials/common/constants.go
  pkg/credentials/dockercreds/creds.go
  pkg/credentials/dockercreds/creds_test.go
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds.go
  pkg/credentials/gitcreds/creds_test.go
  pkg/credentials/gitcreds/ssh.go
  pkg/credentials/matcher/matcher.go
  pkg/credentials/matcher/matcher_test.go
  pkg/credentials/writer/writer.go
  pkg/credentials/writer/writer_test.go
  pkg/entrypoint/entrypointer.go
  pkg/pod/creds_init.go
Due: lint-go, test-unit

feat: enable StepActions by default/StepActions GA
  config/config-feature-flags.yaml
  docs/stepactions.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-beta-api-fields.yaml
  pkg/apis/config/testdata/feature-flags-bundles-and-custom-tasks.yaml
  pkg/reconciler/taskrun/taskrun_test.go
  test/e2e-tests-kind-prow-feature-flags.env
  test/e2e-tests.sh
  test/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

docs: fix wrong entry in development documentation
  DEVELOPMENT.md
  Makefile
  test/README.md
Due: none

docs: add `ko` configuration for local registry
  DEVELOPMENT.md
Due: none

go version fix
  go.mod
Due: none

cosmetic fix
  go.mod
Due: none

Consume release pipeline images and task bundles from GHCR
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: move step when expressions to task docs
  docs/stepactions.md
  docs/tasks.md
Due: none

cleanup: [TEP-0135] remove deprecated disable-affinity-assistant feature flag
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/affinityassistants.md
  docs/artifacts.md
  docs/deprecations.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-coschedule-affinity-assistant-comb.yaml
  pkg/apis/config/testdata/feature-flags-invalid-disable-affinity-assistant.yaml
  pkg/apis/config/testdata/feature-flags.yaml
  pkg/internal/affinityassistant/affinityassistant_types.go
  pkg/internal/affinityassistant/affinityassistant_types_test.go
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/affinity_assistant_test.go
Due: lint-yaml, lint-go, test-unit

chore: adjust base on the review comments
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
Due: lint-yaml, lint-go, test-unit

Add configuration for custom bundle resolver backoff
  docs/bundle-resolver.md
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/config.go
  pkg/resolution/resolver/bundle/resolver_test.go
Due: lint-go, test-unit

fix: resolve Git Anonymous Resolver excessive memory usage
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/git.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  tekton/publish.yaml
  test/presubmit-tests.sh
Due: lint-yaml, lint-go, test-unit

fix: add stepaction as a valid kind in the hub resolver
  pkg/remoteresolution/resolver/hub/resolver_test.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
Due: lint-go, test-unit

chore: param enum usage example for stepaction
  examples/v1/taskruns/beta/stepaction-params.yaml
Due: lint-yaml

feat: override task timeouts in pipelineruns
  docs/pipeline-api.md
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-yaml, lint-go, test-unit

misc: promote `keep-pod-on-cancel` to beta
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
Due: lint-yaml, lint-go, test-unit

feat: override task timeouts in pipelineruns
  config/300-crds/300-pipelinerun.yaml
  docs/pipeline-api.md
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-yaml, lint-go, test-unit

chore: adjust test to use taskRef instead of taskSpec
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix fan out matrix task failed due to result ref
  pkg/apis/pipeline/v1/matrix_types.go
Due: lint-go, test-unit

test: add test for matrix params with string value containing variable reference
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  test/matrix_test.go
Due: lint-go, test-unit

webhook: remove resource_namespace tag in stats reporter
  cmd/webhook/main.go
Due: lint-go, test-unit

fix: handle subPath directory creation errors gracefully
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

feat: add support for authenticated git clone
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

cleanup: move step and sidecar validation
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_validation.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
