Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Remove duplicate step from release cheat sheet
  tekton/release-cheat-sheet.md
Due: none

fix: fetch full Rekor UUID instead of logIndex in wait-for-chains
  tekton/release-pipeline.yaml
Due: lint-yaml

[TEP-0056] Reuse fixture in PinP parent-not-found test
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
Due: lint-go, test-unit

test: fix namespace collision flake by increasing suffix to 10 chars
  test/util.go
Due: lint-go, test-unit

e2e: Flaky namespace collision due to short random suffix in test namespace names #10141
  test/util.go
Due: lint-go, test-unit

test: reuse shared pipelinerun test helpers
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/testing/selectors.go
  pkg/reconciler/testing/status_transformers.go
Due: lint-go, test-unit

docs: use auto-numbered ordered list in ssh-auth section
  docs/auth.md
Due: none

Add support for when within matrix.include
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-when-include.yaml
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-yaml, lint-go, test-unit

docs: align comment wording with known_hosts key name
  docs/auth.md
Due: none

Update auth.md
  docs/auth.md
Due: none

Fix golangci-lint action step for large diff
  .github/workflows/ci.yaml
Due: lint-yaml

Fix running_taskruns metric overcounting TaskRuns with no condition
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

ci: scope workflow permissions to least privilege
  .github/workflows/cherry-pick-command.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-builds.yaml
  .github/workflows/rebase-command.yaml
  .github/workflows/scorecard.yml
Due: lint-yaml

ci: add nightly e2e workflow by reusing e2e-matrix
  .github/workflows/e2e-matrix.yml
  .github/workflows/nightly-e2e.yaml
Due: lint-yaml

changes from codegen
  docs/pipeline-api.md
Due: none

fix: add name field to StepTemplate spec
  config/300-crds/300-task.yaml
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
Due: lint-yaml, lint-go, test-unit

add optional field
  pkg/apis/pipeline/v1beta1/container_types.go
Due: lint-go, test-unit

build(deps): bump tektoncd/pipeline to v1.13.0 in test modules
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
  test/resolver-with-timeout/go.mod
  test/resolver-with-timeout/go.sum
Due: none

chore: remove stale wait-task-alpha from dependabot config
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

refactor: remove placeholder URL workaround in hub resolver Validate()
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

feat(tracing): add spans to TaskRun validation functions
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: TaskRun stuck in Running when init container is OOMKilled with enableKubernetesSidecar
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

build(deps): bump tektoncd/pipeline to v1.13.0 in test modules
  test/resolver-with-timeout/go.mod
  test/resolver-with-timeout/go.sum
Due: none

whitespace fixing
  test/util.go
Due: lint-go, test-unit

fix(notifications): use global tracer provider, drop Secret informer
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/customrun/tracing.go
Due: lint-go, test-unit

fix issue #8255 - seperating step level and task level validation. ValidateStepActionResultsVariable function now also handles stepAction refernces
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation_test.go
  pkg/apis/pipeline/v1beta1/stepaction_validation.go
  pkg/apis/pipeline/v1beta1/stepaction_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

fix: Pin Ubuntu,Bash,Alpine container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/param-enum.yaml
  examples/v1/taskruns/alpha/produce-consume-artifacts.yaml
  examples/v1/taskruns/alpha/step-stream-results.yaml
  examples/v1/taskruns/alpha/step-stream-volumes.yaml
  examples/v1/taskruns/alpha/step-stream-workspace.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/large-task-result.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/beta/propagated-object-parameters.yaml
  examples/v1/taskruns/beta/workspace-in-sidecar.yaml
  examples/v1/taskruns/beta/workspace-isolation.yaml
  examples/v1/taskruns/no-ci/default-workspaces.yaml
  examples/v1/taskruns/no-ci/limitrange.yaml
Due: lint-yaml

Added distributed tracing support for when expression evaluation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

fix: align pod rescheduling docs and e2e cleanup
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

feat: add Prometheus metrics for resolver framework
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolvermetrics/injection.go
  pkg/resolvermetrics/injection_test.go
  pkg/resolvermetrics/metrics.go
  pkg/resolvermetrics/metrics_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

fix: reject compute resource overrides on custom tasks, improve godoc
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: narrow namespace config phase one scope
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
Due: lint-yaml, lint-go, test-unit

chore: switch base image to ghcr.io/tektoncd/plumbing/static-base
  .ko.yaml
  tekton/publish.yaml
Due: lint-yaml
