Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feat: add optional PVC auto-cleanup annotation for workspaces mode
  docs/affinityassistants.md
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  test/affinity_assistant_test.go
Due: lint-go, test-unit

fix: Prevent excessive reconciliation when timeout disabled
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

Remove old metrics code from watcher
  cmd/webhook/main.go
Due: lint-go, test-unit

fix: update unit test checksums
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/task_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/task_types_test.go
Due: lint-go, test-unit

refactor: use observability package for metrics config name
  pkg/apis/config/metrics_tls.go
Due: lint-go, test-unit

test: Drop OpenCensus based metric exporter initialisation
  test/util.go
Due: lint-go, test-unit

build(deps): bump opentelemetry exporter packages to v1.39.0
  go.mod
  go.sum
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/observ/instrumentation.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/version.go
  vendor/go.opentelemetry.io/otel/semconv/v1.37.0/otelconv/metric.go
  vendor/modules.txt
Due: none

fix(pipelinerun): add missing sort logic for childRefs array
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

Add hostUsers field support to PodTemplate
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/podtemplates.md
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-yaml, lint-go, test-unit

chore(pipelinerun): remove cmpopts.SortSlices from pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: lint-go, test-unit

Add missing sort.Slice for childRefs ordering
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

accept featureFlags.EnableTektonOCIBundles to fix unknown field error
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
Due: lint-yaml, lint-go, test-unit

add a explanation comment and fix casing in the yaml tag
  pkg/apis/config/feature_flags.go
Due: lint-go, test-unit

Fix gofmt and tag alignment
  pkg/apis/config/feature_flags.go
  test/dag_test.go
Due: lint-go, test-unit

chore: regenerate CRDs with field descriptions
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
Due: lint-yaml

feat: Migrate PipelineRun and TaskRun metrics to OpenTelemetry
  config/config-observability.yaml
  config/resolvers/config-observability.yaml
  pkg/apis/config/metrics.go
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

Fix: Add useHttpPath to support multiple Git credentials on same host
  docs/auth.md
  examples/v1/taskruns/no-ci/git-basic-auth-multiple-repos.yaml
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds_test.go
Due: lint-yaml, lint-go, test-unit

fix(ci): simplify e2e test health status result
  .github/workflows/ci.yaml
Due: lint-yaml

chore: remove redundant word
  config/config-defaults.yaml
  docs/additional-configs.md
Due: lint-yaml

Update docs for changes in apiVersion v1
  docs/pipelineruns.md
  docs/workspaces.md
Due: none

perf(controller): add opt-out for informer cache transforms
  docs/developers/controller-logic.md
  docs/tekton-controller-performance-configuration.md
  pkg/apis/config/feature_flags.go
  pkg/informer/transform/factory.go
  pkg/informer/transform/kube_factory.go
  pkg/informer/transform/transform.go
Due: lint-go, test-unit

perf(controller): use ConfigMap for informer cache transform feature flag
  config/config-feature-flags.yaml
  docs/developers/controller-logic.md
  docs/tekton-controller-performance-configuration.md
  pkg/apis/config/feature_flags.go
  pkg/informer/transform/factory.go
  pkg/informer/transform/kube_factory.go
Due: lint-yaml, lint-go, test-unit

feat: add secret masking for step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  cmd/entrypoint/runner_test.go
  cmd/entrypoint/runner_windows.go
  cmd/entrypoint/subcommands/secret_mask_init.go
  cmd/entrypoint/subcommands/secret_mask_init_test.go
  cmd/entrypoint/subcommands/subcommands.go
  cmd/entrypoint/subcommands/subcommands_test.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
  pkg/pod/secret_masking_test.go
Due: lint-yaml, lint-go, test-unit

feat: propagate cache annotations to resolved resources
  pkg/remote/resolution/error.go
  pkg/remote/resolution/resolver.go
  pkg/remote/resolution/resolver_test.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/remote/resolution/resolver_test.go
Due: lint-go, test-unit

test: verify cache annotations on TaskRuns
  pkg/remote/resolution/resolver.go
  pkg/remote/resolution/resolver_test.go
  test/pipelinerun_pinp_test.go
  test/pipelinerun_test.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

fix: deduplicate concurrent resolver requests
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

test: increase TestTaskRunTimeout to 5s to avoid flakes
  test/timeout_test.go
Due: lint-go, test-unit

feat: Add SHA-256 support for Git resolver revision validation
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-go, test-unit
