Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix linting
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

refactor: remove skipped e2e testcases
  test/pipelinerun_test.go
  test/preemption_test.go
Due: lint-go, test-unit

Docs for podTemplate param substitution on TaskRuns/TaskRunSpecs
  docs/pipelineruns.md
  docs/podtemplates.md
  docs/variables.md
  examples/v1/pipelineruns/pipelinerun-with-taskrunspecs-matrix-param-substitution.yaml
Due: lint-yaml

Tests for podTemplate param substitution on TaskRuns/TaskRunSpecs
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  hack/setup-kind.sh
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Add podTemplate param substitution on TaskRuns/TaskRunSpecs
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix tests
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  test/resolver_cache_test.go
  test/resolvers_test.go
Due: lint-go, test-unit

tests
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/resolution/resolver/bundle/params.go
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/http/resolver.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix test race condition
  test/resolver_cache_test.go
Due: lint-go, test-unit

nightly release with gh actions
  .github/workflows/nightly-builds.yaml
  README.md
  tekton/README.md
  tekton/account.yaml
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

wip - inject cache
  go.mod
  go.sum
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/repository.go
  test/resolver_cache_test.go
  vendor/modules.txt
Due: lint-go, test-unit

fix linting
  pkg/entrypoint/entrypointer.go
  pkg/platforms/platforms.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/bundle/params.go
Due: lint-go, test-unit

feat: override task timeouts in pipelineruns
  config/300-crds/300-pipelinerun.yaml
  docs/pipeline-api.md
  docs/pipelineruns.md
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_conversion.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/apis/validate/timeout.go
  pkg/apis/validate/timeout_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-yaml, lint-go, test-unit

ran code gen
  pkg/entrypoint/entrypointer.go
  pkg/platforms/platforms.go
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
Due: lint-go, test-unit

use kind setup action from allowed list
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

just use resolver namespace
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/spire/test/ca.go
  pkg/spire/test/fakebundleendpoint/server.go
  pkg/spire/test/keys.go
Due: lint-go, test-unit

Remove all reference to gcr.io tekton projects
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  examples/v1/pipelineruns/beta/git-resolver.yaml
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-apiurl.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  examples/v1/pipelineruns/pipelinerun.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/bundles-resolver.yaml
  examples/v1/taskruns/beta/git-resolver.yaml
  examples/v1/taskruns/beta/hub-resolver.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/no-ci/docker-creds.yaml
  examples/v1/taskruns/no-ci/pull-private-image.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/provenance.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/provenance.go
  pkg/apis/pipeline/v1beta1/swagger.json
  tekton/release-pipeline.yaml
  test/resolvers_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

adding efficient polling to waitForStepsToFinish
  config/config-defaults.yaml
  docs/additional-configs.md
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

refactor getSidecarLogPollingInterval()
  internal/sidecarlogresults/sidecarlogresults.go
  internal/sidecarlogresults/sidecarlogresults_test.go
Due: lint-go, test-unit

Refresh code generation
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-go, test-unit

refactor cache params to framework instead of in each resolver
  config/resolvers/bundleresolver-config.yaml
  config/resolvers/cluster-resolver-config.yaml
  config/resolvers/git-resolver-config.yaml
  config/resolvers/resolver-cache-config.yaml
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
  docs/resolution.md
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

move to a single cache framework
  config/resolvers/bundleresolver-config.yaml
  config/resolvers/cluster-resolver-config.yaml
  config/resolvers/git-resolver-config.yaml
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
  docs/resolution.md
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/testing/fakecontroller.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

fix(#8940): Fix token-authentication header in git resolver
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

chore: fix unit test action name
  .github/workflows/ci.yaml
Due: lint-yaml

Migration to golangci-lint v2…
  .github/workflows/ci.yaml
  .golangci.yml
Due: lint-yaml

chore: update go version to 1.24
  go.mod
Due: none

Migrate from sets.{Strings, Byte, Int...} to generic sets.Set
  pkg/apis/pipeline/v1/task_validation.go
Due: lint-go, test-unit

feat: resolve steps referencing StepActions in parallel
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/apis/config/testdata/config-defaults-step-action-parallelism-limit-err.yaml
  pkg/apis/config/testdata/config-defaults-step-action-parallelism-limit.yaml
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

test: update year on test configs
  pkg/apis/config/testdata/config-defaults-step-action-parallelism-limit-err.yaml
  pkg/apis/config/testdata/config-defaults-step-action-parallelism-limit.yaml
Due: lint-yaml

refactor: move HasStepRefs to private function
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

test: add inline steps to HasStepRefs test case
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

refactor: rename step action parallelism occurrences with step ref concurrency
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/apis/config/testdata/config-defaults-step-ref-concurrency-limit-err.yaml
  pkg/apis/config/testdata/config-defaults-step-ref-concurrency-limit.yaml
  pkg/apis/config/testdata/config-defaults.yaml
  pkg/reconciler/taskrun/resources/taskspec.go
Due: lint-yaml, lint-go, test-unit

doc: improve documentation on step ref concurrency limit
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
