Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

revert hub resolver, fix bundle api (name)
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

Add comprehensive unit tests for resolver framework cache
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

add webhook readiness checks
  test/conversion_test.go
Due: lint-go, test-unit

clear cache in test setup
  pkg/remoteresolution/cache/cache.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

Update pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

remove error return from generateCacheKey
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

Fix resolver cache regression and remove GetGlobalCache
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
Due: lint-go, test-unit

Fix linting issue in cache_test.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

Add comprehensive unit tests for cache injection package
  pkg/remoteresolution/cache/injection/cache_test.go
Due: lint-go, test-unit

updated copyright year to 2025
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/remote/resolution/doc.go
  pkg/remoteresolution/remote/resolution/request.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
  test/resolver_cache_integration_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

Implement conditional cache initialization
  pkg/apis/config/resolver/feature_flags.go
  pkg/apis/config/resolver/feature_flags_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  test/conversion_test.go
  test/start_time_test.go
Due: lint-go, test-unit

Fix formatting issues (gofmt/goimports)
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
  test/conversion_test.go
  test/start_time_test.go
Due: lint-go, test-unit

Update cloudbuild.yaml with new gemini key
  cloudbuild.yaml
Due: lint-yaml

Rename cloudbuild.yaml to multiagent.yaml
  multiagent.yaml
Due: lint-yaml

Create singleagent.md
  singleagent.md
Due: none

Rename singleagent.md to singleagent.yaml
  singleagent.yaml
Due: lint-yaml

Update singleagent.yaml
  singleagent.yaml
Due: lint-yaml

Update multiagent.yaml to reduce 7 parallel agents to 5
  multiagent.yaml
Due: lint-yaml

Update singleagent.yaml to be a BugHunterAgent
  singleagent.yaml
Due: lint-yaml

Update singleagent.yaml to have an continuous `ls`
  singleagent.yaml
Due: lint-yaml

Update singleagent.yaml to have correct PAT
  singleagent.yaml
Due: lint-yaml

Update multiagent.yaml
  multiagent.yaml
Due: lint-yaml

fix(ai): Automated bug fixes from BugHunterAgent in pkg/apis/pipeline/v1
  pkg/apis/pipeline/v1/pipeline_defaults.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/task_defaults.go
Due: lint-go, test-unit

document 1.3.2 patch
  releases.md
Due: none

Add Support for managedBy field in TaskRun and PipelineRun
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipelineruns.md
  docs/taskruns.md
  pkg/apis/pipeline/register.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/controller_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/controller_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Remove broken example link from TaskRuns doc
  docs/taskruns.md
Due: none

fix: allow finalizer updates on completed PipelineRuns
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

fix: allow finalizer updates on completed TaskRuns
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

fix: remove invalid TestPipelineRunTaskRunSpecTimeout_Validate tests
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

fix: resolve lint issues in validation code
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

fix: update tests after cherrypicking from PR 9011
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

Updates for release 1.4
  releases.md
  tekton/release-cheat-sheet.md
Due: none

fix: add khrm to reviewers in OWNERS_ALIASES
  OWNERS_ALIASES
Due: none

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
