Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: use hashed volume names to prevent credential volume name collisions
  pkg/pod/creds_init.go
  pkg/pod/creds_init_test.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

update to use latest common sha
  .ko.yaml
Due: lint-yaml

fix: convert pod latency metric to histogram and remove pod label
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: surface clear errors and emit events when completed tasks miss referenced results
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
Due: lint-go, test-unit

Add UID label to PipelineRun and TaskRun
  pkg/apis/pipeline/register.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat(resolver): add possibility to get username from token secret for git resolver
  config/resolvers/git-resolver-config.yaml
  docs/git-resolver.md
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

Bump knative.dev/pkg to adopt centralized WEBHOOK_* TLS configuration
  go.mod
  go.sum
  vendor/golang.org/x/net/html/iter.go
  vendor/golang.org/x/net/http2/frame.go
  vendor/golang.org/x/sync/singleflight/singleflight.go
  vendor/knative.dev/pkg/network/tls/config.go
  vendor/knative.dev/pkg/webhook/env.go
  vendor/knative.dev/pkg/webhook/webhook.go
  vendor/modules.txt
Due: none

fix(resolver): assigning username just if it's there
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

docs(auth): clean stale TODO
  docs/auth.md
Due: none

Update tj-actions/changed-files version comment to v47.0.5
  .github/workflows/woke.yml
Due: lint-yaml

feat(docs): add timeout configurations table
  docs/pipelineruns.md
Due: none

fix(docs): more obvious notice for the depercated timeout config
  docs/pipelineruns.md
Due: none

refactor(docs): adust and rewrite the docs of `Configuring a failure timeout`
  docs/pipelineruns.md
Due: none

feat: add namespace label to pipelinerun and taskrun metrics
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Add multi-URL support and per-resolution url param to Hub Resolver
  config/resolvers/hubresolver-config.yaml
  docs/hub-resolver.md
  pkg/resolution/resolver/hub/config.go
  pkg/resolution/resolver/hub/params.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

Remove opencensus dependency from test files
  go.mod
  go.sum
  test/custom_task_test.go
  test/wait.go
  vendor/github.com/golang/groupcache/LICENSE
  vendor/github.com/golang/groupcache/lru/lru.go
  vendor/go.opencensus.io/.gitignore
  vendor/go.opencensus.io/AUTHORS
  vendor/go.opencensus.io/CONTRIBUTING.md
  vendor/go.opencensus.io/LICENSE
  vendor/go.opencensus.io/Makefile
  vendor/go.opencensus.io/README.md
  vendor/go.opencensus.io/appveyor.yml
  vendor/go.opencensus.io/internal/internal.go
  vendor/go.opencensus.io/internal/sanitize.go
  vendor/go.opencensus.io/internal/traceinternals.go
  vendor/go.opencensus.io/opencensus.go
  vendor/go.opencensus.io/trace/basetypes.go
  vendor/go.opencensus.io/trace/config.go
  vendor/go.opencensus.io/trace/doc.go
  vendor/go.opencensus.io/trace/evictedqueue.go
  vendor/go.opencensus.io/trace/export.go
  vendor/go.opencensus.io/trace/internal/internal.go
  vendor/go.opencensus.io/trace/lrumap.go
  vendor/go.opencensus.io/trace/sampling.go
  vendor/go.opencensus.io/trace/spanbucket.go
  vendor/go.opencensus.io/trace/spanstore.go
  vendor/go.opencensus.io/trace/status_codes.go
  vendor/go.opencensus.io/trace/trace.go
  vendor/go.opencensus.io/trace/trace_api.go
  vendor/go.opencensus.io/trace/trace_go11.go
  vendor/go.opencensus.io/trace/trace_nongo11.go
  vendor/go.opencensus.io/trace/tracestate/tracestate.go
  vendor/modules.txt
Due: lint-go, test-unit

fix: surface runtime result reference validation errors in PipelineRun status
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

feat: Add namespace label to pipelinerun_total and taskrun_total metrics
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

remove issue reference comments
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

fix(metrics): add namespace label to total counters
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

docs: add namespace label to pipelinerun_total and taskrun_total metrics
  docs/metrics.md
Due: none

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: remove trailing whitespace to satisfy gofmt/goimports
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

fix: add name field to StepTemplate spec
  config/300-crds/300-task.yaml
  pkg/apis/pipeline/v1beta1/container_types.go
Due: lint-yaml, lint-go, test-unit

Add explicit permissions blocks to workflows missing them
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/slash.yml
Due: lint-yaml

docs: add TaskRun and PipelineRun examples for per-run resolver cache override.
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
Due: none

fix error message
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

fix: Upgrade Gitea test infrastructure from v1.17.1 to latest
  go.mod
  go.sum
  test/git-resolver/gitea.yaml
  test/resolvers_gitea_test.go
  vendor/modules.txt
Due: lint-yaml, lint-go, test-unit

Fix nil pointer dereference in observeRunningPipelineRuns
  pkg/pipelinerunmetrics/metrics.go
Due: lint-go, test-unit

cleanup: replace GCS release URLs with infra.tekton.dev
  docs/additional-configs.md
  docs/install.md
  docs/metrics-migration-otel.md
  tekton/README.md
  tekton/bugfix-release.sh
Due: none

Update docs/git-resolver.md
  docs/git-resolver.md
Due: none

Update pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: shorten credential volume name prefix and use full FNV-32a hash
  pkg/pod/creds_init.go
  pkg/pod/creds_init_test.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit
