Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Refactor pipelinerun metrics tests
  pkg/pipelinerunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: configure StepAction to use conversion webhook
  config/300-crds/300-stepaction.yaml
Due: lint-yaml

test: add test to check versioned CRDs has conversion strategy
  go.mod
  test/clients.go
  test/conversion_test.go
Due: lint-go, test-unit

fix: Fix remote task params default-value substitution
  examples/v1/taskruns/default_task_params.yaml
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  test/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

chore: adjust base on the review comments
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
Due: lint-yaml, lint-go, test-unit

cleanup: [TEP-0135] remove deprecated disable-affinity-assistant feature flag
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/affinityassistants.md
  docs/artifacts.md
  docs/deprecations.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-coschedule-affinity-assistant-comb.yaml
  pkg/apis/config/testdata/feature-flags-invalid-disable-affinity-assistant.yaml
  pkg/apis/config/testdata/feature-flags.yaml
  pkg/internal/affinityassistant/affinityassistant_types.go
  pkg/internal/affinityassistant/affinityassistant_types_test.go
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/affinity_assistant_test.go
Due: lint-yaml, lint-go, test-unit

feat(pipeline): allow variable substitution in pipeline.tasks[].onError
  docs/variables.md
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

test: add test for matrix params with string value containing variable reference
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  test/matrix_test.go
Due: lint-go, test-unit

fix fan out matrix task failed due to result ref
  pkg/apis/pipeline/v1/matrix_types.go
Due: lint-go, test-unit

chore: adjust test to use taskRef instead of taskSpec
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Update link to section on overriding task requests
  docs/taskruns.md
Due: none

feat: add support for authenticated git clone
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

cleanup: refactor to disable metrics
  pkg/apis/config/feature_flags.go
  pkg/apis/config/featureflags_validation.go
  pkg/apis/config/metrics.go
  pkg/apis/config/metrics_notls.go
  pkg/apis/config/metrics_tls.go
  pkg/apis/config/resolver/store.go
  pkg/apis/config/spire_config.go
  pkg/apis/config/store.go
  pkg/substitution/replacements.go
  pkg/substitution/substitution.go
  pkg/termination/parse.go
Due: lint-go, test-unit

cleanup: remove zap and dependency where k8s api are included
  cmd/entrypoint/runner.go
  pkg/entrypoint/entrypointer.go
Due: lint-go, test-unit

Adds a build check in Github Actions CI workflow
  .github/workflows/ci.yaml
Due: lint-yaml

cleanup: move pipeline types
  cmd/entrypoint/main.go
  pkg/apis/pipeline/v1/types/artifacts_types.go
  pkg/apis/pipeline/v1/types/param_types.go
  pkg/apis/pipeline/v1/types/result_types.go
  pkg/apis/pipeline/v1/types/resultsref.go
  pkg/apis/pipeline/v1/types/when_types.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/entrypoint/pipeline/paths.go
Due: lint-go, test-unit

feat: support passing clock during RunStatus initialization
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_types_test.go
  pkg/apis/run/v1beta1/customrunstatus_types.go
  pkg/apis/run/v1beta1/customrunstatus_types_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Fix review comments
  .github/workflows/ci.yaml
  Makefile
Due: lint-yaml

Fix review comments, r1
  Makefile
Due: none

cleanup: breakup the pkg/credentials into writer and matcher
  cmd/entrypoint/main.go
  pkg/credentials/common/constants.go
  pkg/credentials/dockercreds/creds.go
  pkg/credentials/dockercreds/creds_test.go
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds.go
  pkg/credentials/gitcreds/creds_test.go
  pkg/credentials/gitcreds/ssh.go
  pkg/credentials/matcher/matcher.go
  pkg/credentials/matcher/matcher_test.go
  pkg/credentials/writer/writer.go
  pkg/credentials/writer/writer_test.go
  pkg/entrypoint/entrypointer.go
  pkg/pod/creds_init.go
Due: lint-go, test-unit

chore: param enum usage example for stepaction
  examples/v1/taskruns/beta/stepaction-params.yaml
  test/featureflags.go
Due: lint-yaml, lint-go, test-unit

Add configuration for custom bundle resolver backoff
  docs/bundle-resolver.md
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/config.go
  pkg/resolution/resolver/bundle/resolver_test.go
Due: lint-go, test-unit

chore: allow users with "read" perm to trigger retest
  .github/workflows/slash.yml
Due: lint-yaml

Remove linux/arm from platform we publish
  docs/additional-configs.md
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
