Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

refactor: use observability package for metrics config name
  pkg/apis/config/metrics_tls.go
Due: lint-go, test-unit

Remove old metrics code from watcher
  cmd/webhook/main.go
Due: lint-go, test-unit

test: Drop OpenCensus based metric exporter initialisation
  test/util.go
Due: lint-go, test-unit

fix: update unit test checksums
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/task_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/task_types_test.go
Due: lint-go, test-unit

Fix tekton/publish sed for combined-based-image digest replacement
  tekton/publish.yaml
Due: lint-yaml

feat: upload release manifests to oracle cloud
  .github/workflows/nightly-builds.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

chore(release-pipeline): update references to oci bucket
  tekton/README.md
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

chore: centralize ko base image configuration
  .github/workflows/ci.yaml
  .ko.yaml
  tekton/publish.yaml
  test/presubmit-tests.sh
Due: lint-yaml

feat: Migrate PipelineRun and TaskRun metrics to OpenTelemetry
  config/config-observability.yaml
  config/resolvers/config-observability.yaml
  docs/metrics-migration-otel.md
  docs/metrics.md
  pkg/apis/config/metrics.go
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

docs: Switch from deprecated Tekton Hub to ArtifactHub
  docs/events.md
  docs/hub-resolver.md
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
Due: lint-yaml

Move v0.68 LTS to End of Life releases
  releases.md
Due: none

tekton: update plumbing ref to latest commit
  tekton/release-pipeline.yaml
Due: lint-yaml

tekton: address review feedback on draft release tasks
  tekton/release-pipeline.yaml
Due: lint-yaml

Enable Gitea e2e tests in CI
  test/git-resolver/gitea.yaml
  test/resolvers_gitea_test.go
Due: lint-yaml, lint-go, test-unit

fix: include results and artifacts from failed tasks in pipeline results
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/task_results_from_failed_tasks_test.go
Due: lint-go, test-unit

chore: regenerate CRDs with field descriptions
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
Due: lint-yaml

Fix gofmt and tag alignment
  pkg/apis/config/feature_flags.go
  test/dag_test.go
Due: lint-go, test-unit

accept featureFlags.EnableTektonOCIBundles to fix unknown field error
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
Due: lint-yaml, lint-go, test-unit
