Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Remove schema for PodSecurityContext
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-yaml, lint-go, test-unit

fix: resolve Git Anonymous Resolver excessive memory usage
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/shared_test.go
  tekton/publish.yaml
  test/presubmit-tests.sh
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

docs: add ghcr.io migration banner to README.md
  README.md
Due: none

Add @waveywaves as a maintainer
  OWNERS_ALIASES
Due: none

cleanup: remove temporary GOPATH generation
  hack/setup-temporary-gopath.sh
  hack/update-codegen.sh
  hack/update-openapigen.sh
Due: none

cleanup: move step and sidecar validation
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
Due: lint-go, test-unit

Update golang.org/x/net to latest and to go 1.23
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

Migration to golangci-lint v2…
  .github/workflows/ci.yaml
  .golangci.yml
Due: lint-yaml

Updates wait-task-beta go modules configuration
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

fix: Ensure retryable errors during validation do not fail Runs
  docs/resolver-reference.md
  pkg/reconciler/apiserver/apiserver.go
  pkg/reconciler/apiserver/apiserver_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/resolution/common/errors.go
Due: lint-go, test-unit

refactor: implement Validatable for sidecar
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-go, test-unit

Update releases.md after v1.0.0
  releases.md
Due: none

test: raise test coverage for container and task
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

fix(docs): correct documentation link errors related to sidecar-logs
  docs/tasks.md
Due: none

refactor: implement Validatable for step
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/task_validation.go
Due: lint-go, test-unit

Fix subpath capitalisation
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: add more explicit language in the Pipelines in Pipelines documentation
  docs/pipelines-in-pipelines.md
Due: none

Add oomkilled reason
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Fix reason of PipelineRun status for PipelineRun having tasks timeout
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/timeout_test.go
Due: lint-go, test-unit

refactor: use os.UserHomeDir instead of go-homedir
  go.mod
  pkg/credentials/writer/writer.go
Due: lint-go, test-unit

refactor: move Validate and ValidateError tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

Update releases.md for 1.1.0
  releases.md
Due: none

fix: Avoid errors in PVC handler if PVC is already deleted
  pkg/reconciler/volumeclaim/pvchandler.go
  pkg/reconciler/volumeclaim/pvchandler_test.go
Due: lint-go, test-unit

Fix the sed command with crane
  tekton/publish.yaml
Due: lint-yaml

refactor: remove go-multierror dependency and use errors.Join for error aggregation
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/result/result.go
Due: lint-go, test-unit

Refactoring status.go and status_test.go files according to suggestions
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

chore: cleanup/tidy unused or redundant indirect dependencies
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
  test/resolver-with-timeout/go.mod
Due: lint-go, test-unit

Removed unnecessary commits
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

Errors string should not be capitalized (recommended by go)
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Remove dependency on go-multierror and update error expectations in tests
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

mark go-multierror as indirect via go mod tidy
  go.mod
Due: none

docs: clarify container entrypoint behavior
  docs/container-contract.md
Due: none

fix #8775:Remove testify usage from pkg/spire/
  pkg/spire/test/ca.go
  pkg/spire/test/fakebundleendpoint/server.go
  pkg/spire/test/fakeworkloadapi/workload_api.go
  pkg/spire/test/keys.go
Due: lint-go, test-unit

fix: update crd schemas command errors
  hack/update-schemas.sh
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/resolver_types.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/stepaction_types.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/customrun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/resolver_types.go
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion.go
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/apis/resolution/v1beta1/resolution_request_types.go
Due: lint-go, test-unit

refactor: improve names and fix typos
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

mark testify as indirect in go.mod via go mod tidy
  go.mod
Due: none

fix(docs): remove duplicated block from artifacts.md
  docs/artifacts.md
Due: none
