Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

docs(auth): clean stale TODO
  docs/auth.md
Due: none

docs: add README files for pipelinerun and taskrun examples
  examples/v1/pipelineruns/README.md
  examples/v1/taskruns/README.md
Due: none

docs(spire): add shell language to selector example block
  docs/spire.md
Due: none

docs: fix broken internal markdown links
  docs/pipelines.md
  docs/podtemplates.md
Due: none

docs(examples): remove stale v1beta1 paths in README
  examples/README.md
Due: none

docs: replace 'coming soon' with tkn bundle link in taskruns.md
  docs/taskruns.md
Due: none

fix: lowercase error strings
  docs/resolver-template/cmd/resolver/main.go
  pkg/apis/pipeline/v1/result_validation.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/remote/oci/resolver.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/resolution/resolver/http/resolver.go
  pkg/spire/test/pemutil/pem.go
  pkg/workspace/apply.go
Due: lint-go, test-unit

docs: add 4 undocumented metrics to docs/metrics.md
  docs/metrics.md
Due: none

Update chainguard static image sha
  .ko.yaml
Due: lint-yaml

docs: fix broken internal markdown links
  docs/additional-configs.md
  docs/deprecations.md
  docs/pipelines.md
  docs/podtemplates.md
Due: none

docs(taskruns): replace stale 'coming soon' with tkn bundle link
  docs/taskruns.md
Due: none

docs: Switch from deprecated Tekton Hub to ArtifactHub
  docs/events.md
  docs/hub-resolver.md
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
Due: lint-yaml

fix: propagate PipelineRun tasks/finally timeout to child TaskRuns
  docs/pipelineruns.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: update default tracing endpoint to oltp protobuf endpoint
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
Due: lint-yaml, lint-go, test-unit

fix: surface specific TaskRun failure reasons when pod fails
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  test/larger_results_sidecar_logs_test.go
  test/taskrun_test.go
Due: lint-go, test-unit

feat: implement TEP-0085 per-namespace controller configuration
  cmd/webhook/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

Add multi-URL support and per-resolution url param to Hub Resolver
  config/resolvers/hubresolver-config.yaml
  docs/hub-resolver.md
  pkg/resolution/resolver/hub/config.go
  pkg/resolution/resolver/hub/params.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

update to use latest arm chainguard static image
  .ko.yaml
Due: lint-yaml

Move inactive approvers to alumni
  OWNERS_ALIASES
Due: none

Nominate khrm and aThorp96 as pipeline approvers
  OWNERS_ALIASES
Due: none

fix(resolvers): Skip resolving resolutionRequest if data is present
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

docs(examples): add v1 taskrun and pipelinerun README guides
  examples/v1/pipelineruns/README.md
  examples/v1/taskruns/README.md
Due: none

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

feat: propagate cache annotations to resolved resources
  pkg/remote/resolution/error.go
  pkg/remote/resolution/resolver.go
  pkg/remote/resolution/resolver_test.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/remote/resolution/resolver_test.go
Due: lint-go, test-unit

test: verify cache annotations on TaskRuns
  pkg/remote/resolution/resolver.go
  pkg/remote/resolution/resolver_test.go
  test/pipelinerun_pinp_test.go
  test/pipelinerun_test.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

fix: deduplicate concurrent resolver requests
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/resolver_cache_test.go
Due: lint-go, test-unit

docs: add helper script for running examples with custom registries
  examples/README.md
  hack/run-example.sh
Due: none

docs: fix broken internal links and remove stale v1beta1 references
  docs/pipelines.md
  docs/podtemplates.md
  examples/README.md
Due: none

docs: remove stale TODO in auth docs
  docs/auth.md
Due: none

docs(examples): remove deleted v1beta1 references
  examples/README.md
Due: none

fix: prevent multiple resolutions by resolution controller
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

fix: write cache store annotation once by initiating routine
  pkg/remoteresolution/resolver/framework/cache/cache.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
