Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Address review: always verify, drop panic and dead code
  pkg/reconciler/resolution/cleanup.go
  pkg/reconciler/resolution/cleanup_test.go
  pkg/reconciler/taskrun/resources/taskref.go
Due: lint-go, test-unit

Address review: emit warning-level diagnostic, not rejection
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation.go
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation_test.go
Due: lint-go, test-unit

Warn on unanchored VerificationPolicy resource patterns
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation.go
Due: lint-go, test-unit

fix: address pod rescheduling lint
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

Adjusting to using tracer from provider during testing coverage and in reconciler calls
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

Addressing merge conflicts after cherry picking
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat(tracing): record errors on createTaskRun and createCustomRun spans
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

feat(tracing): record errors on TaskRun createPod and update spans
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat(tracing): correlate K8s events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
Due: lint-go, test-unit

docs: document StepAction support in Hub Resolver
  docs/hub-resolver.md
Due: none

chore: move patch release cron from Thursday to Tuesday
  .github/workflows/patch-release.yaml
Due: lint-yaml

added a conditions in params_types to gracefully catch vars in scripts instead of paic, and another validator to provide an informative error message
  pkg/apis/pipeline/v1/param_types.go
  pkg/apis/pipeline/v1/param_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

feat(notifications): add tracing spans to PipelineRun notifications reconciler
  pkg/reconciler/notifications/pipelinerun/reconciler.go
Due: lint-go, test-unit

feat(matrix): implement naming for TaskRuns and PipelineRuns using matrix.include[].name
  docs/matrix.md
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-include-names.yaml
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  test/matrix_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): add spans to PipelineRun cancel and timeout paths
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/cancel_test.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/pipelinerun/tracing.go
Due: lint-go, test-unit

Add secret masking to redact sensitive values from step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  cmd/entrypoint/runner_masking_test.go
  cmd/entrypoint/runner_windows.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  config/config-redact-patterns.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/redact_patterns.go
  pkg/apis/config/redact_patterns_test.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/paths.go
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
  pkg/pod/secret_masking_test.go
  test/controller.go
  test/controller_test.go
Due: lint-yaml, lint-go, test-unit

chore: group dependabot updates by dependency family
  .github/dependabot.config.yml
  .github/dependabot.yml
  hack/generate-dependabot.go
Due: lint-yaml, lint-go, test-unit

chore: narrow dependabot groups
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

fix: address review feedback on metadata sync
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat: allow variable substitution in computeResources fields
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/compute-resources.md
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/compute_resources.go
  pkg/apis/pipeline/v1/compute_resources_test.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/merge.go
  pkg/apis/pipeline/v1/merge_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/pipelinerun_conversion.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/container/container_replacements.go
  pkg/container/step_replacements.go
  pkg/container/step_replacements_test.go
  pkg/internal/computeresources/tasklevel/tasklevel.go
  pkg/internal/computeresources/tasklevel/tasklevel_test.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/compute_resources_params_test.go
Due: lint-yaml, lint-go, test-unit

feat: add TaskRun controller notices
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-enable-notices.yaml
  pkg/apis/pipeline/v1/notice_types.go
  pkg/apis/pipeline/v1/notice_types_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/featureflags.go
  test/per_feature_flags_test.go
Due: lint-yaml, lint-go, test-unit

feat: label resolver metrics by resource kind
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolvermetrics/metrics.go
  pkg/resolvermetrics/metrics_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

Update auth.md
  docs/auth.md
Due: none

feat(tracing): add spans to TaskRun validation functions
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

refactor: remove placeholder URL workaround in hub resolver Validate()
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

add optional field
  pkg/apis/pipeline/v1beta1/container_types.go
Due: lint-go, test-unit

docs: use auto-numbered ordered list in ssh-auth section
  docs/auth.md
Due: none

ci: scope workflow permissions to least privilege
  .github/workflows/cherry-pick-command.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-builds.yaml
  .github/workflows/rebase-command.yaml
  .github/workflows/scorecard.yml
Due: lint-yaml

docs: align comment wording with known_hosts key name
  docs/auth.md
Due: none

changes from codegen
  docs/pipeline-api.md
Due: none

fix: add name field to StepTemplate spec
  config/300-crds/300-task.yaml
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
Due: lint-yaml, lint-go, test-unit

fix(resolvers): Allow ResolutionRequests to resolve all Tekton kinds
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

fix issue #8255 - seperating step level and task level validation. ValidateStepActionResultsVariable function now also handles stepAction refernces
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation.go
  pkg/apis/pipeline/v1alpha1/stepaction_validation_test.go
  pkg/apis/pipeline/v1beta1/stepaction_validation.go
  pkg/apis/pipeline/v1beta1/stepaction_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

build(deps): bump tektoncd/pipeline to v1.13.0 in test modules
  test/resolver-with-timeout/go.mod
  test/resolver-with-timeout/go.sum
Due: none

chore: remove stale wait-task-alpha from dependabot config
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
