Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Add secret masking to redact sensitive values from step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  cmd/entrypoint/runner_masking_test.go
  cmd/entrypoint/runner_windows.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  config/config-redact-patterns.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/redact_patterns.go
  pkg/apis/config/redact_patterns_test.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/paths.go
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
  pkg/pod/secret_masking_test.go
  test/controller.go
  test/controller_test.go
Due: lint-yaml, lint-go, test-unit

fix: replace kodata LICENSE symlinks with actual files
  cmd/controller/kodata/LICENSE
  cmd/entrypoint/kodata/LICENSE
  cmd/events/kodata/LICENSE
  cmd/nop/kodata/LICENSE
  cmd/resolvers/kodata/LICENSE
  cmd/webhook/kodata/LICENSE
Due: none

chore(docs): fix "pipeline" typo in examples
  docs/pipelines.md
Due: none

fix: constrain namespace config admission
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
Due: lint-go, test-unit

chore: simplify namespace config informer
  pkg/apis/config/namespace/namespace_config.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: address resolver metrics review feedback
  docs/metrics.md
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_internal_test.go
  pkg/resolvermetrics/injection.go
  pkg/resolvermetrics/injection_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

fix: make kodata licenses regular files
  cmd/controller/kodata/LICENSE
  cmd/entrypoint/kodata/LICENSE
  cmd/events/kodata/LICENSE
  cmd/nop/kodata/LICENSE
  cmd/resolvers/kodata/LICENSE
  cmd/webhook/kodata/LICENSE
Due: none

fix: reuse admission kind constants
  cmd/webhook/main.go
Due: lint-go, test-unit

ci: pin ko to v0.18.1 to avoid v0.19.0 regressions
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

Collapse resolver result channels into one
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

make resolver goroutine-leak tests deterministic
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

Mount debug scripts read-only in step containers
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
Due: lint-go, test-unit

fix(taskrun): prevent concurrent map writes when resolving StepAction refs
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

Add namespace attribute to cancel/timeout child spans
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/cancel_test.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/pipelinerun/timeout_test.go
Due: lint-go, test-unit

feat(tracing): add spans to PipelineRun cancel and timeout paths
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/cancel_test.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/pipelinerun/tracing.go
Due: lint-go, test-unit

fix: make tracing noop spans safe to end
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

feat(tracing): record errors on TaskRun createPod and update spans
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

test: avoid unchecked tracing shutdown
  pkg/reconciler/pipelinerun/tracing_errors_test.go
  pkg/reconciler/taskrun/tracing_errors_test.go
Due: lint-go, test-unit

fix: record reconciler span errors centrally
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing_errors.go
  pkg/reconciler/pipelinerun/tracing_errors_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_errors.go
  pkg/reconciler/taskrun/tracing_errors_test.go
Due: lint-go, test-unit

feat(tracing): record reconcile.write_outcome span attribute
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/write_outcome.go
  pkg/reconciler/write_outcome_test.go
Due: lint-go, test-unit

docs: add etcd revision profiling guide and helper tool
  docs/developers/README.md
  docs/developers/etcd-revision-profiling.md
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/profile_test.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

fix: ignore reconciler requeue trace errors
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_errors.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Fix race condition in TestStepTimeout
  test/timeout_test.go
Due: lint-go, test-unit

Gofmt change taskrun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat: add automatic pod rescheduling for pre-step failures
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

fix: address pod rescheduling lint
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix: align pod rescheduling docs and e2e cleanup
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

fix: make pod rescheduling idempotent
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: avoid rescheduling evicted taskrun pods
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: harden pod rescheduling attempts
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: keep rescheduled pod names distinct
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

test: add e2e test for OpenCensus to OpenTelemetry metrics migration
  test/metrics_otel_test.go
Due: lint-go, test-unit

fix: resolve in-toto attestation UUID in wait-for-chains
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: add v1.14.0 release to releases.md
  releases.md
Due: none

TEP-0048: default results
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/tasks.md
  examples/v1/pipelineruns/alpha/pipelinerun-emitting-default-results.yaml
  examples/v1/pipelineruns/alpha/pipelinerun-with-default-results.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-context-variables.yaml
  examples/v1/taskruns/alpha/default-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/result_types.go
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/result_conversion.go
  pkg/apis/pipeline/v1beta1/result_types.go
  pkg/apis/pipeline/v1beta1/result_validation.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/reconciler/taskrun/validate_taskrun_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

Regenerate CRDs for keep-status-spec-descriptions flag
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
