Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix(e2e): improve dind-sidecar probe configuration for reliability
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

fix(codegen): Correct JSON tags for streaming lists
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/resolution/v1beta1/resolution_request_types.go
Due: lint-go, test-unit

Remove beta note from projected workspaces and csi as they are stable
  docs/workspaces.md
Due: none

.github/workflows: Add a comment to main for plumping's shared workflows
  .github/workflows/chatops_retest.yaml
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

fix: Detect pod configuration errors early instead of timeout
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test/e2e: remove data race on global variable requireAlphaFeatureFlag
  test/matrix_test.go
  test/pipelinefinally_test.go
  test/propagated_results_test.go
Due: lint-go, test-unit

test/e2e: remove prow from env-file names
  .github/workflows/e2e-matrix.yml
  test/e2e-tests-kind-alpha.env
  test/e2e-tests-kind-beta.env
  test/e2e-tests-kind-stable.env
Due: lint-yaml

Add comments on ignore to highlight why they are here
  test/custom_task_test.go
  test/larger_results_sidecar_logs_test.go
  test/stepaction_results_test.go
Due: lint-go, test-unit

examples: make sure we use the same image for sidecar and step
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

test: reduce the number of examples tests running in parallel
  test/e2e-tests.sh
  test/examples_test.go
Due: lint-go, test-unit

Migrate tests images out of dockerhub.
  examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/dind-sidecar.yaml
  examples/v1/taskruns/step-by-digest.yaml
  test/git-resolver/gitea.yaml
  test/multiarch_utils.go
  test/step_output_test.go
  test/tektonbundles_test.go
  test/trustedresources_test.go
Due: lint-yaml, lint-go, test-unit

test: limit examples test parallelism to 2 to prevent timeouts
  test/e2e-tests.sh
Due: none

test(e2e): move flaky retry/matrix tests to no-ci temporarily
  examples/v1/pipelineruns/no-ci/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/no-ci/using-retries-and-retry-count-variables.yaml
Due: lint-yaml

Migrate tests images out of dockerhub.
  examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/dind-sidecar.yaml
  examples/v1/taskruns/step-by-digest.yaml
  test/git-resolver/gitea.yaml
  test/multiarch_utils.go
  test/step_output_test.go
  test/tektonbundles_test.go
  test/trustedresources_test.go
Due: lint-yaml, lint-go, test-unit

Add hostUsers field support to PodTemplate
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/podtemplates.md
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-yaml, lint-go, test-unit

Fix duplicated protobuf tag in pod.Template struct Change PriorityClassName protobuf tag from 7 to 8 to resolve duplicate tag number conflict with Env field. Fixes #8345
  pkg/apis/pipeline/pod/template.go
Due: lint-go, test-unit

ci: Ensure e2e setup errors fail tests, add retries during e2e setup
  test/e2e-common.sh
Due: none

e2e: give more time for dind-sidecar to start
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

fix(e2e): wait for SSH key and config in git auth test
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
Due: lint-yaml

fix: reduce CRD size by shortening verbose descriptions in v1beta1
  config/300-crds/300-pipeline.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-stepaction.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  hack/simplify_comments.go
  hack/update-codegen.sh
  hack/update-schemas.sh
Due: lint-yaml, lint-go, test-unit

feat: add CRD size validation to update-schemas.sh
  hack/update-schemas.sh
Due: none

fix: panic in v1beta1 matrix validation for invalid result refs
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit
