Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: bump Go to 1.24.13 to fix CVE-2025-61728, CVE-2025-61726, CVE-2025-61729
  go.mod
Due: none

fix: pin registry image and relax log-based cache assertion
  test/multiarch_utils.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix(e2e): replace ubuntu with busybox in dind-sidecar test Dockerfile
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

fix(e2e): improve dind-sidecar probe configuration for reliability
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

tekton: address review feedback on draft release tasks
  tekton/release-pipeline.yaml
Due: lint-yaml

tekton: add draft release creation to release pipeline
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

fix(pipelinerun): use generateName for anonymous pipeline label
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

tekton: automate releases with Pipelines-as-Code
  .github/workflows/patch-release.yaml
  .tekton/release-patch.yaml
  .tekton/release.yaml
  tekton/bugfix-release.sh
  tekton/release-cheat-sheet.md
Due: lint-yaml

fix: include branch filter in CEL expression for release trigger
  .tekton/release.yaml
Due: lint-yaml

fix: remove release-right-meow SA from PAC release PipelineRuns
  .tekton/release-patch.yaml
  .tekton/release.yaml
Due: lint-yaml

fix: address review feedback on release pipeline draft-release tasks
  tekton/release-pipeline.yaml
Due: lint-yaml

feat(verification): add exactMatch field to VerificationPolicy ResourcePattern
  CONTRIBUTING.md
  config/config-feature-flags.yaml
  docs/trusted-resources.md
  pkg/apis/config/feature_flags.go
  pkg/apis/pipeline/v1alpha1/verificationpolicy_types.go
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation.go
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation_test.go
  pkg/trustedresources/verify.go
  pkg/trustedresources/verify_test.go
Due: lint-yaml, lint-go, test-unit

feat(verification): add exactMatch field to VerificationPolicy ResourcePattern
  CONTRIBUTING.md
  pkg/trustedresources/verify_test.go
Due: lint-go, test-unit

reverting changes on verify test\
  pkg/trustedresources/verify_test.go
Due: lint-go, test-unit

git diff fixes and verify test updates
  pkg/trustedresources/verify_test.go
Due: lint-go, test-unit

fix: respect per-resolver TTL override in cache
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

Fix running_taskruns metric overcounting TaskRuns with no condition
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Regenerate code after k8s.io/code-generator 0.35.3 bump
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/resolution/clientset/versioned/fake/clientset_generated.go
  pkg/client/resource/clientset/versioned/fake/clientset_generated.go
Due: lint-go, test-unit

[TEP-0137] Add PipelineRun notifications controller
  cmd/events/main.go
  docs/events.md
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/events/event.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/notifications/pipelinerun/controller.go
  pkg/reconciler/notifications/pipelinerun/controller_test.go
  pkg/reconciler/notifications/pipelinerun/reconciler.go
  pkg/reconciler/notifications/pipelinerun/reconciler_test.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Simplify TestEmit by removing table-driven test structure
  pkg/reconciler/events/event_test.go
Due: lint-go, test-unit

added masking logic - a carry buffer that detects sa tokens using regular expression and flushes safe data to stdout
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
Due: lint-go, test-unit

perf: strip ManagedFields from PipelineRun, TaskRun, and Pod informer caches
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/transform.go
  pkg/reconciler/transform_test.go
Due: lint-go, test-unit

fix(lint): properly order imports and format code
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-go, test-unit

fix(lint): properly order imports and format blank lines
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-go, test-unit

apis/taskrun: reject debug.beforeSteps names not present in inline taskSpec
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
Due: lint-go, test-unit

fix: prevent git argument injection via revision parameter (GHSA-94jr-7pqp-xhcq)
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: strip resolver prefixes and use non-capturing group for pattern anchoring
  pkg/trustedresources/verify.go
  pkg/trustedresources/verify_regex_bypass_control_test.go
Due: lint-go, test-unit

fix: normalize VolumeMount paths before /tekton/ restriction check
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

Security: reject system API token with user-controlled serverURL
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit
