Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

docs: add v1.17.0 release entry, move v1.16 to EOL
  releases.md
Due: none

feat(tracing): add TLS CA cert configuration for OTLP exporter
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/apis/config/testdata/config-tracing-cacert.yaml
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
  pkg/tracing/cacert.go
  pkg/tracing/cacert_test.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
Due: lint-yaml, lint-go, test-unit

Fix typo in API changes documentation
  docs/developers/api-changes.md
Due: none

Make controller-managed labels immutable via webhook
  pkg/apis/pipeline/v1/immutable_labels_test.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/immutable_labels_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/validation.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit

release: set SOURCE_DATE_EPOCH so published images get a real creation timestamp
  tekton/publish.yaml
Due: lint-yaml

build(deps): update Go security dependencies
  go.mod
  go.sum
  vendor/golang.org/x/crypto/internal/poly1305/mac_noasm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_asm.go
  vendor/golang.org/x/crypto/internal/poly1305/sum_riscv64.s
  vendor/golang.org/x/crypto/ssh/agent/keyring.go
  vendor/golang.org/x/crypto/ssh/agent/server.go
  vendor/golang.org/x/crypto/ssh/certs.go
  vendor/golang.org/x/crypto/ssh/channel.go
  vendor/golang.org/x/crypto/ssh/client_auth.go
  vendor/golang.org/x/crypto/ssh/common.go
  vendor/golang.org/x/crypto/ssh/connection.go
  vendor/golang.org/x/crypto/ssh/handshake.go
  vendor/golang.org/x/crypto/ssh/keys.go
  vendor/golang.org/x/crypto/ssh/messages.go
  vendor/golang.org/x/crypto/ssh/mux.go
  vendor/golang.org/x/crypto/ssh/server.go
  vendor/golang.org/x/crypto/ssh/ssh_gss.go
  vendor/golang.org/x/crypto/ssh/streamlocal.go
  vendor/golang.org/x/crypto/ssh/tcpip.go
  vendor/modules.txt
Due: none

docs: add TaskRun and PipelineRun examples for per-run resolver cache override
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
Due: none

Fix typos and grammatical errors in api-spec.md
  docs/api-spec.md
Due: none

feat(tracing): add spans for workspace operations
  pkg/workspace/apply.go
  pkg/workspace/validate.go
Due: lint-go, test-unit

reconciler: validate debug.beforeSteps against the resolved Task
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/reconciler/taskrun/validate_taskrun_test.go
Due: lint-go, test-unit

docs: address etcd profiling review feedback
  docs/README.md
  docs/developers/README.md
  docs/etcd-revision-profiling.md
  docs/tekton-controller-performance-configuration.md
Due: none

docs: align context.task.retry-count row with pipelines guide
  docs/variables.md
Due: none

feat: Add continueAndFail step error handling
  cmd/entrypoint/main.go
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  docs/tasks.md
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
  test/ignore_step_error_test.go
  test/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Use io.ReadFull to read OCI bundle tar layer
  pkg/remote/oci/resolver.go
  pkg/remote/oci/resolver_test.go
Due: lint-go, test-unit

Clarify OCI resolver test payload size
  pkg/remote/oci/resolver_test.go
Due: lint-go, test-unit

docs: scope retry-count note to context.task, fix pipelineTask.retries row
  docs/pipelines.md
  docs/variables.md
Due: none

docs: clarify retry-count variable substitution limits with taskRef
  docs/pipelines.md
  docs/variables.md
Due: none

Prevent auto-cleanup-pvc annotation from propagating to child PipelineRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Refactor SSRF protection into shared resolver framework
  config/resolvers/http-resolver-config.yaml
  docs/additional-configs.md
  docs/http-resolver.md
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/framework/ssrf.go
  pkg/resolution/resolver/framework/ssrf_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-yaml, lint-go, test-unit

feat: add image volumes as workspace bindings
  config/300-crds/300-customrun.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/pipeline-api.md
  docs/workspaces.md
  hack/update-schemas.sh
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/workspace_types.go
  pkg/apis/pipeline/v1/workspace_validation.go
  pkg/apis/pipeline/v1/workspace_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/workspace_conversion.go
  pkg/apis/pipeline/v1beta1/workspace_types.go
  pkg/apis/pipeline/v1beta1/workspace_validation.go
  pkg/apis/pipeline/v1beta1/workspace_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/apis/run/v1alpha1/doc.go
  pkg/apis/run/v1beta1/doc.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Due: lint-yaml, lint-go, test-unit

Add insecure-skip-tls-verify option to bundle resolver
  config/resolvers/bundleresolver-config.yaml
  docs/bundle-resolver.md
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/config.go
  pkg/resolution/resolver/bundle/resolver_test.go
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
