Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

test: raise test coverage for container and task
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

Add oomkilled reason
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

docs: add more explicit language in the Pipelines in Pipelines documentation
  docs/pipelines-in-pipelines.md
Due: none

refactor: simplify update-schemas shell script
  hack/update-schemas.sh
Due: none

refactor: implement Validatable for step
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/task_validation.go
Due: lint-go, test-unit

refactor: move Step artifacts flag tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: implement Validatable for step
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-go, test-unit

refactor: move Step Ref tests
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step onError and API version tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: use os.UserHomeDir instead of go-homedir
  go.mod
  pkg/credentials/writer/writer.go
Due: lint-go, test-unit

refactor: move ResultRef and ArtifactsRef tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Validate and ValidateError tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step StepActionReference test
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

fix: stepaction resolution should respect task's namespace
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskspec.go
Due: lint-go, test-unit

fix #8775:Remove testify usage from pkg/spire/
  pkg/spire/test/ca.go
  pkg/spire/test/fakebundleendpoint/server.go
  pkg/spire/test/fakeworkloadapi/workload_api.go
  pkg/spire/test/keys.go
Due: lint-go, test-unit

Fix subpath capitalisation
  tekton/release-pipeline.yaml
Due: lint-yaml

refactor: remove go-multierror dependency and use errors.Join for error aggregation
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/result/result.go
Due: lint-go, test-unit

chore: cleanup/tidy unused or redundant indirect dependencies
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
  test/resolver-with-timeout/go.mod
Due: none

docs: clarify container entrypoint behavior
  docs/container-contract.md
Due: none

fix: update crd schemas command errors
  hack/update-schemas.sh
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/resolver_types.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/stepaction_types.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/customrun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/resolver_types.go
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion.go
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/apis/resolution/v1beta1/resolution_request_types.go
Due: lint-go, test-unit

refactor: move Step Ref tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

fix(docs): remove duplicated block from artifacts.md
  docs/artifacts.md
Due: none

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
