Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feat(notifications): add tracing spans to CustomRun reconciler
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/customrun/tracing.go
  pkg/reconciler/notifications/runtimeobject.go
Due: lint-go, test-unit

fix: Pin Ubuntu,Bash,Alpine container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/param-enum.yaml
  examples/v1/taskruns/alpha/produce-consume-artifacts.yaml
  examples/v1/taskruns/alpha/step-stream-results.yaml
  examples/v1/taskruns/alpha/step-stream-volumes.yaml
  examples/v1/taskruns/alpha/step-stream-workspace.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/large-task-result.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/beta/propagated-object-parameters.yaml
  examples/v1/taskruns/beta/workspace-in-sidecar.yaml
  examples/v1/taskruns/beta/workspace-isolation.yaml
  examples/v1/taskruns/no-ci/default-workspaces.yaml
  examples/v1/taskruns/no-ci/limitrange.yaml
Due: lint-yaml

chore: fix gofmt formatting
  pkg/reconciler/taskrun/validate_taskrun.go
Due: lint-go, test-unit

Add agent workflow context
  .agents/skills/tekton-pipeline-discovery
  .claude/skills/tekton-pipeline-discovery
  .codex/skills/tekton-pipeline-discovery
  .gitignore
  AGENTS.md
  docs/agents/agent-context.md
  hack/verify-agent-readiness.sh
  skills/tekton-pipeline-discovery/SKILL.md
Due: none

chore: remove stale TODOs referencing closed issues #4723 and #6097
  pkg/reconciler/taskrun/validate_taskrun.go
Due: lint-go, test-unit

fix(notifications): use global tracer provider, drop Secret informer
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/customrun/tracing.go
Due: lint-go, test-unit

ci: add missing issues:write permission to cherry-pick workflow
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

chore: switch base image to ghcr.io/tektoncd/plumbing/static-base
  .ko.yaml
  tekton/publish.yaml
Due: lint-yaml

test(resolvers): cover resolved resource validation kinds
  pkg/resolution/resolver/framework/interface_test.go
Due: lint-go, test-unit

chore: move patch release cron from Thursday to Tuesday
  .github/workflows/patch-release.yaml
Due: lint-yaml

added a conditions in params_types to gracefully catch vars in scripts instead of paic, and another validator to provide an informative error message
  pkg/apis/pipeline/v1/param_types.go
  pkg/apis/pipeline/v1/param_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

feat(notifications): add tracing spans to PipelineRun notifications reconciler
  pkg/reconciler/notifications/pipelinerun/reconciler.go
Due: lint-go, test-unit

Only using retries not length changes
  test/util.go
Due: lint-go, test-unit

Unused library removed
  test/util.go
Due: lint-go, test-unit

chore: group dependabot updates by dependency family
  .github/dependabot.config.yml
  .github/dependabot.yml
  hack/generate-dependabot.go
Due: lint-yaml, lint-go, test-unit

chore: narrow dependabot groups
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

fix: override OCI labels in ko publish task
  tekton/publish.yaml
Due: lint-yaml

gofmt: fix import ordering in pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
Due: lint-go, test-unit

Replace nil, nil returns with sentinel errors in status helpers
  pkg/pod/status.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: lint-go, test-unit

Return ErrNotFound from IsNotFound check, not nil-object check
  pkg/status/status.go
Due: lint-go, test-unit

Address review: split sentinel var, add extractor tests
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

TEP-0048: default results
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/tasks.md
  examples/v1/pipelineruns/alpha/pipelinerun-emitting-default-results.yaml
  examples/v1/pipelineruns/alpha/pipelinerun-with-default-results.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-context-variables.yaml
  examples/v1/taskruns/alpha/default-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/result_types.go
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/result_conversion.go
  pkg/apis/pipeline/v1beta1/result_types.go
  pkg/apis/pipeline/v1beta1/result_validation.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/reconciler/taskrun/validate_taskrun_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

build: bump go directive to 1.25
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: none

test(e2e): add CA cert injection end-to-end test
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/reconciler/taskrun/taskrun_test.go
  test/ca_cert_injection_test.go
Due: lint-yaml, lint-go, test-unit

feat(pod): inject trusted CA certs into task and sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix(pod): inject podTemplate.Env into sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

docs: document CA cert injection and proxy configuration
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
Due: lint-yaml

fix: extract correct full Rekor EntryID from API response
  tekton/release-pipeline.yaml
Due: lint-yaml

feat(tracing): record errors on createTaskRun and createCustomRun spans
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

docs(security): address reviewer feedback on links and phrasing
  docs/security-model.md
Due: none

docs: add security threat model
  docs/security-model.md
Due: none

Prevent auto-cleanup-pvc annotation from propagating to child PipelineRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix(taskrun): prevent concurrent map writes when resolving StepAction refs
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

feat(tracing): correlate Kubernetes events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Add container resource requirements customization for affinity-assistant pods
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-defaults.yaml
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/apis/config/testdata/config-defaults-aa-pod-template-invalid-resources.yaml
  pkg/apis/config/testdata/config-defaults-aa-pod-template-with-resources.yaml
  pkg/apis/pipeline/pod/affinity_assitant_template.go
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/template_test.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): add spans to ResolutionRequest resource operations
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/tracing_test.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/framework/testing/fakecontroller.go
  pkg/remoteresolution/resolver/framework/tracing_test.go
  pkg/remoteresolution/resource/crd_resource.go
Due: lint-go, test-unit

perf(controller): add informer cache transform to reduce memory usage
  config/config-feature-flags.yaml
  docs/developers/README.md
  docs/developers/controller-logic.md
  docs/tekton-controller-performance-configuration.md
  internal/reconciler/cachetransform/cachetransform.go
  internal/reconciler/cachetransform/cachetransform_test.go
  internal/reconciler/cachetransform/setup.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
Due: lint-yaml, lint-go, test-unit

Add namespace attribute to cancel/timeout child spans
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/cancel_test.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/pipelinerun/timeout_test.go
Due: lint-go, test-unit
