Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

[#9575] Extract memberOfLookup to reduce nesting
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: remove v1beta1 fields, fix cross-layer comment and Claims handling
  .planning/reviews/pr-9595-brutal-review.md
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-yaml, lint-go, test-unit

fix: address review feedback - fix error label, strengthen test assertions
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: gofmt formatting in name_test.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: address review feedback on GetNameAndNamespace
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: replace silent "default" namespace fallback with explicit error in GetNameAndNamespace
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: reject compute resource overrides on custom tasks, improve godoc
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
Due: lint-go, test-unit

[TEP-0137] Add PipelineRun notifications controller; remove CloudEvents from core PipelineRun reconciler
  cmd/events/main.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/events.md
  docs/pipeline-api.md
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/events/event.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/notifications/pipelinerun/controller.go
  pkg/reconciler/notifications/pipelinerun/controller_test.go
  pkg/reconciler/notifications/pipelinerun/reconciler.go
  pkg/reconciler/notifications/pipelinerun/reconciler_test.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

[TEP-0137] Add TaskRun notifications controller; remove CloudEvents from core TaskRun reconciler
  cmd/events/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/events.md
  docs/pipeline-api.md
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/events/cloudevent/cloudeventclient.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/controller.go
  pkg/reconciler/notifications/taskrun/controller_test.go
  pkg/reconciler/notifications/taskrun/reconciler.go
  pkg/reconciler/notifications/taskrun/reconciler_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/taskrun_timeout_test.go
Due: lint-yaml, lint-go, test-unit

docs: clarify retry-count substitution behavior with taskRef
  docs/pipelines.md
Due: none

TEP-0048: default results
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/tasks.md
  examples/v1/pipelineruns/alpha/pipelinerun-emitting-default-results.yaml
  examples/v1/pipelineruns/alpha/pipelinerun-with-default-results.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-context-variables.yaml
  examples/v1/taskruns/alpha/default-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/result_types.go
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/result_conversion.go
  pkg/apis/pipeline/v1beta1/result_types.go
  pkg/apis/pipeline/v1beta1/result_validation.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/reconciler/taskrun/validate_taskrun_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

docs: document leader-election buckets tuning
  docs/enabling-ha.md
Due: none

tests: add pending TaskRun lifecycle transition coverage
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

docs: clarify timeout while TaskRun is pending
  docs/taskruns.md
Due: none

hack: update pipeline api docs for TaskRunPending
  docs/pipeline-api.md
Due: none

Add pending status support for TaskRun (parity with PipelineRun)
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat: compress termination messages to fit more results in 4KB limit
  pkg/apis/config/feature_flags.go
  pkg/entrypoint/entrypointer.go
  pkg/termination/parse.go
  pkg/termination/parse_test.go
  pkg/termination/write.go
  pkg/termination/write_test.go
Due: lint-go, test-unit

test: add compression proof test and example TaskRun
  examples/v1/taskruns/beta/compressed-results.yaml
  pkg/termination/write_test.go
Due: lint-yaml, lint-go, test-unit

fix: wire feature flag end-to-end, fix O_TRUNC and decompression bomb
  cmd/entrypoint/main.go
  pkg/pod/pod.go
  pkg/termination/write.go
Due: lint-go, test-unit

fix: address serious review items for compression feature
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-enable-termination-message-compression.yaml
  pkg/termination/write.go
Due: lint-yaml, lint-go, test-unit

fix: address v2 review findings — truncation, fallback, corrupt data
  examples/v1/taskruns/alpha/compressed-results.yaml
  pkg/termination/parse_test.go
  pkg/termination/write.go
  pkg/termination/write_test.go
Due: lint-yaml, lint-go, test-unit

test: add Pipeline example and capacity benchmark for compression
  examples/v1/pipelineruns/alpha/compressed-results-pipeline.yaml
  pkg/termination/write_test.go
Due: lint-yaml, lint-go, test-unit

fix: lint issues, codegen, and alignment for CI
  cmd/entrypoint/main.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  go.mod
  pkg/termination/parse_test.go
  pkg/termination/write_test.go
Due: lint-yaml, lint-go, test-unit

fix: move compression examples to no-ci to fix alpha e2e tests
  examples/v1/pipelineruns/no-ci/compressed-results-pipeline.yaml
  examples/v1/taskruns/no-ci/compressed-results.yaml
Due: lint-yaml

ci: fix remaining zizmor findings (permissions, injection, actions)
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
Due: lint-yaml

ci: add zizmor GitHub Actions security analysis
  .github/workflows/zizmor.yaml
Due: lint-yaml

ci: fix GitHub Actions security issues found by zizmor
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-builds.yaml
  .github/workflows/woke.yml
Due: lint-yaml

test: add e2e test for TaskRun pending status
  test/taskrun_test.go
  test/wait.go
Due: lint-go, test-unit

test(e2e): fix flaky matrix and retry example tests
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/beta/using-retries-and-retry-count-variables.yaml
Due: lint-yaml

fix: handle os.Remove errors and add init idempotency test
  cmd/entrypoint/subcommands/init_test.go
  cmd/entrypoint/subcommands/step_init.go
Due: lint-go, test-unit

fix: use os.IsExist instead of errors.Is per review feedback
  cmd/entrypoint/subcommands/step_init.go
Due: lint-go, test-unit

fix: make step-init symlink creation idempotent
  cmd/entrypoint/subcommands/step_init.go
  cmd/entrypoint/subcommands/step_init_test.go
Due: lint-go, test-unit

feat: add optional PVC auto-cleanup annotation for workspaces mode
  docs/affinityassistants.md
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  test/affinity_assistant_test.go
Due: lint-go, test-unit

Add multi-URL support and per-resolution url param to Hub Resolver
  config/resolvers/hubresolver-config.yaml
  docs/hub-resolver.md
  pkg/remoteresolution/resolver/hub/config.go
  pkg/remoteresolution/resolver/hub/params.go
  pkg/remoteresolution/resolver/hub/resolve.go
  pkg/remoteresolution/resolver/hub/resolver.go
  pkg/remoteresolution/resolver/hub/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

Fix: Add SSH Host aliases to support multiple SSH credentials on same host
  docs/auth.md
  examples/v1/taskruns/no-ci/git-ssh-auth-multiple-repos.yaml
  pkg/credentials/gitcreds/creds_test.go
  pkg/credentials/gitcreds/ssh.go
  test/git_credentials_test.go
Due: lint-yaml, lint-go, test-unit

fix: Pin Ubuntu container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/no-ci/default-workspaces.yaml
  examples/v1/taskruns/no-ci/limitrange.yaml
Due: lint-yaml

Fix:Corrected @ at the end of image digest
  examples/v1/taskruns/beta/emit-array-results.yaml
Due: lint-yaml

fix: Pin Bash container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/param-enum.yaml
  examples/v1/taskruns/alpha/produce-consume-artifacts.yaml
  examples/v1/taskruns/alpha/step-stream-results.yaml
  examples/v1/taskruns/alpha/step-stream-volumes.yaml
  examples/v1/taskruns/alpha/step-stream-workspace.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/large-task-result.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/beta/propagated-object-parameters.yaml
Due: lint-yaml

fix: Pin Alpine container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/beta/workspace-in-sidecar.yaml
  examples/v1/taskruns/beta/workspace-isolation.yaml
Due: lint-yaml

docs: update releases.md for v1.11.0
  releases.md
Due: none

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
