Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

[TEP-0137] Deprecate send-cloudevents-for-runs feature flag
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/deprecations.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

[TEP-0137] Activate formats field in config-events
  docs/additional-configs.md
  docs/events.md
  pkg/apis/config/events.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/notifications/pipelinerun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/taskrun/reconciler_test.go
Due: lint-go, test-unit

perf: use maps.Equal instead of reflect.DeepEqual for label/annotation comparison
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: pin registry image and relax log-based cache assertion
  test/multiarch_utils.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

test: add e2e test for TaskRun pending status
  test/taskrun_test.go
  test/wait.go
Due: lint-go, test-unit

feat: compress termination messages to fit more results in 4KB limit
  cmd/entrypoint/main.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  examples/v1/pipelineruns/no-ci/compressed-results-pipeline.yaml
  examples/v1/taskruns/no-ci/compressed-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-enable-termination-message-compression.yaml
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/termination/parse.go
  pkg/termination/parse_test.go
  pkg/termination/write.go
  pkg/termination/write_test.go
Due: lint-yaml, lint-go, test-unit

fix: stepaction resolution should respect resolved task's namespace
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

Add traceID and spanID to logger for trace-log correlation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs(examples): remove stale v1beta1 references from examples README
  examples/README.md
Due: none

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
Due: lint-go, test-unit

docs: fix bundle resolver default service account description
  docs/bundle-resolver.md
Due: none

Fix capitalization in default-service-account description
  docs/bundle-resolver.md
Due: none

feat(tracing): add OpenTelemetry spans to CustomRun notifications reconciler
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/runtimeobject.go
Due: lint-go, test-unit

feat: Correlate Kubernetes events with distributed traces (issue #9784)
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

test(e2e): fix flaky matrix and retry example tests
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/beta/using-retries-and-retry-count-variables.yaml
Due: lint-yaml

feat(tracing): add OpenTelemetry spans to CustomRun notifications reconciler
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/runtimeobject.go
Due: lint-go, test-unit

docs: add testing best practices for t.Fatalf vs t.Errorf
  docs/developers/README.md
  docs/developers/testing-best-practices.md
Due: none

perf: strip ManagedFields from PipelineRun and TaskRun informer caches
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/transform.go
  pkg/reconciler/transform_test.go
Due: lint-go, test-unit

feat(tracing): add spans to TaskRun validation functions
  .golangci.yml
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

fix(e2e): improve dind-sidecar probe configuration for reliability
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

fix(lint): properly order imports in event.go
  pkg/reconciler/events/k8sevent/event.go
Due: lint-go, test-unit

fix(e2e): replace ubuntu with busybox in dind-sidecar test Dockerfile
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

feat: add span context extraction from CustomRun annotations and tracing tests
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/tracing_test.go
Due: lint-go, test-unit

fix: end root tracing span at reconciliation completion
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: propagate trace span context to child PipelineRuns and CustomRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

chore: bump OpenTelemetry semconv to match SDK version
  pkg/tracing/tracing.go
  vendor/go.opentelemetry.io/otel/semconv/internal/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/README.md
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/doc.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/exception.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/http.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/resource.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/schema.go
  vendor/go.opentelemetry.io/otel/semconv/v1.12.0/trace.go
  vendor/modules.txt
Due: lint-go, test-unit

docs: clarify retry-count substitution requires taskSpec
  docs/pipelines.md
  docs/variables.md
Due: none

Fix PipelineRun premature failure when TaskRun recovers after pod eviction
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: correct logging method calls in CustomRun tracing reconciler
  .github/workflows/e2e-matrix.yml
  pkg/reconciler/notifications/customrun/reconciler.go
Due: lint-yaml, lint-go, test-unit

docs: clarify retry-count variable substitution limits with taskRef
  docs/pipelines.md
  docs/variables.md
Due: none

refactor: decouple metadata sync from event emission in reconcilers
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

chore: regenerate pipeline-api.md
  docs/pipeline-api.md
Due: none
