Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

cleanup: move step and sidecar validation
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
Due: lint-go, test-unit

cleanup: remove temporary GOPATH generation
  hack/setup-temporary-gopath.sh
  hack/update-codegen.sh
  hack/update-openapigen.sh
Due: none

docs: add ghcr.io migration banner to README.md
  README.md
Due: none

Add @waveywaves as a maintainer
  OWNERS_ALIASES
Due: none

fix(docs): correct documentation link errors related to sidecar-logs
  docs/tasks.md
Due: none

Docs for podTemplate on Tasks
  docs/pipeline-api.md
Due: none

Add podTemplate on Tasks
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/pod/pod.go
  pkg/reconciler/taskrun/resources/apply.go
Due: lint-yaml, lint-go, test-unit

Tests for podTemplate on Tasks
  examples/v1/pipelineruns/pipelinerun-with-matrix-on-tasks.yaml
  examples/v1/taskruns/task-podtemplate.yaml
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  test/e2e-common.sh
Due: lint-yaml, lint-go, test-unit

Migration to golangci-lint v2…
  .github/workflows/ci.yaml
  .golangci.yml
Due: lint-yaml

docs: timeout definition per PipelineRun taskRunSpecs
  docs/pipelineruns.md
Due: none

cleanup: refactor timeouts validation for pipelineRun taskRunSpecs
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
Due: lint-go, test-unit

test: 0s pipeline timeout but long taskrun timeout
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
Due: lint-go, test-unit

fix: list type controller annotations for v1beta1
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/customrun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
Due: lint-go, test-unit

test: raise test coverage for container and task
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: implement Validatable for sidecar
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-go, test-unit

fix: Ensure retryable errors during validation do not fail Runs
  docs/resolver-reference.md
  pkg/reconciler/apiserver/apiserver.go
  pkg/reconciler/apiserver/apiserver_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/resolution/common/errors.go
Due: lint-go, test-unit

Apply suggestions from code review
  pkg/pod/status.go
Due: lint-go, test-unit

Updates wait-task-beta go modules configuration
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

Update golang.org/x/net to latest and to go 1.23
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

fix: list type controller annotations for v1alpha1
  pkg/apis/pipeline/v1alpha1/stepaction_types.go
  pkg/apis/pipeline/v1beta1/resolver_types.go
  pkg/apis/pipeline/v1beta1/stepaction_types.go
Due: lint-go, test-unit

fix: list type controller annotations for v1
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/resolver_types.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
Due: lint-go, test-unit

fix: list type controller annotations for v1beta1
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/customrun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/task_conversion.go
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
Due: lint-go, test-unit

chore: generate new deepcopy, openapi and swagger
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
Due: lint-go, test-unit

Update releases.md after v1.0.0
  releases.md
Due: none

Update kubernetes version of the CI
  .github/workflows/e2e-matrix.yml
  hack/setup-kind.sh
Due: lint-yaml

fix v1beta1 resolution request: add storageversion
  pkg/apis/resolution/v1beta1/resolution_request_types.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
