Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feat: Migrate PipelineRun and TaskRun metrics to OpenTelemetry
  config/config-observability.yaml
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

test: Drop OpenCensus based metric exporter initialisation
  test/util.go
Due: lint-go, test-unit

refactor: use observability package for metrics config name
  pkg/apis/config/metrics_tls.go
Due: lint-go, test-unit

fix: update unit test checksums
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/task_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/task_types_test.go
Due: lint-go, test-unit

Remove old metrics code from watcher
  cmd/webhook/main.go
Due: lint-go, test-unit

test: limit examples test parallelism to 2 to prevent timeouts
  test/e2e-tests.sh
Due: none

Add comments on ignore to highlight why they are here
  test/custom_task_test.go
  test/larger_results_sidecar_logs_test.go
  test/stepaction_results_test.go
Due: lint-go, test-unit

Migrate tests images out of dockerhub.
  examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/dind-sidecar.yaml
  examples/v1/taskruns/step-by-digest.yaml
  test/git-resolver/gitea.yaml
  test/multiarch_utils.go
  test/step_output_test.go
  test/tektonbundles_test.go
  test/trustedresources_test.go
Due: lint-yaml, lint-go, test-unit

test: reduce the number of examples tests running in parallel
  test/e2e-tests.sh
  test/examples_test.go
Due: lint-go, test-unit

test(e2e): move flaky retry/matrix tests to no-ci temporarily
  examples/v1/pipelineruns/no-ci/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/no-ci/using-retries-and-retry-count-variables.yaml
Due: lint-yaml

test/e2e: remove data race on global variable requireAlphaFeatureFlag
  test/matrix_test.go
  test/pipelinefinally_test.go
  test/propagated_results_test.go
Due: lint-go, test-unit

e2e: give more time for dind-sidecar to start
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

examples: make sure we use the same image for sidecar and step
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

test/e2e: remove prow from env-file names
  .github/workflows/e2e-matrix.yml
  test/e2e-tests-kind-alpha.env
  test/e2e-tests-kind-beta.env
  test/e2e-tests-kind-stable.env
Due: lint-yaml

ci: Ensure e2e setup errors fail tests, add retries during e2e setup
  test/e2e-common.sh
Due: none

fix: panic in v1beta1 matrix validation for invalid result refs
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

feat: Add digest validation support to HTTP resolver
  config/resolvers/config-feature-flags.yaml
  docs/http-resolver.md
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

feat: add ServiceAccount inheritance to Affinity Assistants
  docs/affinityassistants.md
  docs/pipelineruns.md
  pkg/apis/pipeline/pod/affinity_assitant_template.go
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-go, test-unit

fix: Detect pod configuration errors early instead of timeout
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: Prevent excessive reconciliation when timeout disabled
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

Improve code consistency and fix missing test annotation
  pkg/reconciler/pipelinerun/pipelinerun.go
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

Standardize PipelineTask receivers to pointer type
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
Due: lint-go, test-unit

feat: Add self-contained JSON Schema generation for Tekton CRDs
  hack/jsonschema-gen/main.go
  hack/jsonschema-gen/main_test.go
  hack/update-jsonschema.sh
  schema/v1/pipeline.json
  schema/v1/pipelinerun.json
  schema/v1/task.json
  schema/v1/taskrun.json
  schema/v1alpha1/resolutionrequest.json
  schema/v1alpha1/stepaction.json
  schema/v1alpha1/verificationpolicy.json
  schema/v1beta1/customrun.json
  schema/v1beta1/pipeline.json
  schema/v1beta1/pipelinerun.json
  schema/v1beta1/resolutionrequest.json
  schema/v1beta1/stepaction.json
  schema/v1beta1/task.json
  schema/v1beta1/taskrun.json
Due: lint-go, test-unit

fix: re-work parameter resolution algorithm
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
Due: lint-go, test-unit

fix: align CacheConfigStore field order with existing ConfigStore pattern
  pkg/remoteresolution/resolver/framework/cache/configstore.go
Due: lint-go, test-unit

feat: Add SHA-256 support for Git resolver revision validation
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

test: improve unit test coverage of cache implementation
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/configstore_test.go
Due: lint-go, test-unit

test: verify cache annotations on TaskRuns
  pkg/remote/resolution/resolver.go
  pkg/remote/resolution/resolver_test.go
  test/pipelinerun_pinp_test.go
  test/pipelinerun_test.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

feat: propagate cache annotations to resolved resources
  pkg/remote/resolution/error.go
  pkg/remote/resolution/resolver.go
  pkg/remote/resolution/resolver_test.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/remote/resolution/resolver_test.go
Due: lint-go, test-unit

refactor(tests): move helpers to new testing framework structure
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/testing/factory.go
  pkg/reconciler/testing/selectors.go
  pkg/reconciler/testing/status_transformers.go
Due: lint-go, test-unit

Use taskruns from package and fix tests
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

Use pipeline from package
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

Use task from package
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

Fix test after rebase
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit
