Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

add secret-env-from.yaml, correct section headers in tasks.md, add envFrom example in tasks.md
  docs/tasks.md
  examples/v1/taskruns/secret-env-from.yaml
Due: lint-yaml

cleanup: replace GCS release URLs with infra.tekton.dev
  docs/additional-configs.md
  docs/install.md
  docs/metrics-migration-otel.md
  tekton/README.md
  tekton/bugfix-release.sh
Due: none

fix: Pin container images to digests in examples/v1/taskruns/step-script.yaml
  examples/v1/taskruns/step-script.yaml
Due: lint-yaml

fix: Pin Bash container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/param-enum.yaml
  examples/v1/taskruns/alpha/produce-consume-artifacts.yaml
  examples/v1/taskruns/alpha/step-stream-results.yaml
  examples/v1/taskruns/alpha/step-stream-volumes.yaml
  examples/v1/taskruns/alpha/step-stream-workspace.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/large-task-result.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/beta/propagated-object-parameters.yaml
Due: lint-yaml

fix: resolve context key collision and ownerRef nil panic in resolution framework
  pkg/resolution/common/context.go
  pkg/resolution/common/context_test.go
  pkg/resolution/resource/crd_resource.go
  pkg/resolution/resource/crd_resource_internal_test.go
Due: lint-go, test-unit

fix: address review feedback - use apiequality, expand tests, fix copyright
  pkg/resolution/common/context.go
  pkg/resolution/common/context_test.go
  pkg/resolution/resource/crd_resource.go
  pkg/resolution/resource/crd_resource_internal_test.go
Due: lint-go, test-unit

Re-enable pipeline-api.md generation
  docs/pipeline-api.md
  go.mod
  go.sum
  hack/reference-docs-gen-config.json
  hack/update-codegen.sh
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/modules.txt
Due: none

fix: Pin Alpine container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/beta/workspace-in-sidecar.yaml
  examples/v1/taskruns/beta/workspace-isolation.yaml
Due: lint-yaml

fix: compute validation failure details from state and add test coverage
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

doc: Clarify scope of auth documentation
  docs/auth.md
Due: none

ci: refine slash commands docs
  .github/workflows/slash-commands-docs.yml
  CONTRIBUTING.md
Due: lint-yaml

ci: add a comment on PR with slash commands available
  .github/workflows/slash-commands-docs.yml
  CONTRIBUTING.md
Due: lint-yaml

fix(ci): fix e2e test failures on release-v1.3.x
  .github/workflows/e2e-matrix.yml
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
Due: lint-yaml

ci: add nightly e2e workflow by reusing e2e-matrix
  .github/workflows/e2e-matrix.yml
  .github/workflows/nightly-e2e.yaml
Due: lint-yaml

fix: surface pod event messages in image pull failure errors
  config/200-clusterrole.yaml
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

tekton: update plumbing ref to latest commit
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: add 4 undocumented metrics to docs/metrics.md
  docs/metrics.md
Due: none

docs: fix broken internal markdown links
  docs/pipelines.md
  docs/podtemplates.md
Due: none

doc: Fix broken Tekton Bundles example link in taskruns.md
  docs/taskruns.md
Due: none

Fix: Add useHttpPath to support multiple Git credentials on same host
  docs/auth.md
  examples/v1/taskruns/no-ci/git-basic-auth-multiple-repos.yaml
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds_test.go
  test/git_credentials_test.go
Due: lint-yaml, lint-go, test-unit

Add pending status support for TaskRun (parity with PipelineRun)
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat: allow Pipeline authors to override Task compute resources
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
Due: lint-yaml, lint-go, test-unit

hack: update pipeline api docs for TaskRunPending
  docs/pipeline-api.md
Due: none

docs: update metrics.md to reflect OpenTelemetry migration
  docs/metrics.md
Due: none

Fix PipelineRun premature failure when TaskRun recovers after pod eviction
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

docs: backquotes seperator for kubernets Objects
  docs/auth.md
Due: none

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: remove corrupted cache entries on type error
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  test/init_test.go
Due: lint-go, test-unit

docs: add README files for pipelinerun and taskrun examples
  examples/v1/pipelineruns/README.md
  examples/v1/taskruns/README.md
Due: none

docs: remove file listings and reorder README sections based on review feedback
  examples/v1/pipelineruns/README.md
  examples/v1/taskruns/README.md
Due: none

fix: Upgrade Gitea test infrastructure from v1.17.1 to latest
  go.mod
  go.sum
  test/git-resolver/gitea.yaml
  test/resolvers_gitea_test.go
  vendor/modules.txt
Due: lint-yaml, lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
