Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Mount debug scripts read-only in step containers
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
Due: lint-go, test-unit

fix(resolutionrequest): refine lifecycle status handling
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: lint-go, test-unit

fix(resolutionrequest): preserve resolver-written status fields
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: lint-go, test-unit

fix(resolutionrequest): requeue status update conflicts
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: lint-go, test-unit

Fix release_names.go: update regex for Wikipedia HTML changes and fix bugs
  tekton/release_names.go
Due: lint-go, test-unit

Bump plumbing ref for github_release_oci task
  tekton/release-pipeline.yaml
Due: lint-yaml

docs: add v1.15.0 release to releases.md
  releases.md
Due: none

docs: add etcd revision profiling guide and helper tool
  docs/developers/README.md
  docs/developers/etcd-revision-profiling.md
  hack/etcd-revision-profile/README.md
  hack/etcd-revision-profile/main.go
  hack/etcd-revision-profile/main_test.go
  hack/etcd-revision-profile/profile.go
  hack/etcd-revision-profile/profile_test.go
  hack/etcd-revision-profile/wiring_test.go
Due: lint-go, test-unit

fix(pipelinerun): treat an admission webhook denial as a rejected run creation
  docs/pipelines.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix(pipelinerun): run finally tasks when a child run creation is permanently rejected
  docs/pipelineruns.md
  docs/pipelines.md
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

docs: list the transient reasons a PipelineRun reports while finally runs
  docs/pipelineruns.md
Due: none

feat(tracing): record reconcile.write_intent span attribute
  docs/developers/tracing.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/write_intent_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/write_intent_test.go
  pkg/reconciler/write_intent.go
  pkg/reconciler/write_intent_test.go
Due: lint-go, test-unit

fix(pipelinerun): stop the tasks timeout from running through the finally phase
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_types_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

Strip description fields from status spec snapshots
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/strip_descriptions.go
  pkg/apis/pipeline/v1/strip_descriptions_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Strip descriptions at the status spec overwrite points
  pkg/apis/pipeline/v1/strip_descriptions_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Regenerate CRDs for keep-status-spec-descriptions flag
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
Due: lint-yaml

Always snapshot status spec, strip descriptions conditionally
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Strip a copy at the status spec overwrite points
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix(ci): bump codeql-action/analyze to match init
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

address feedback: parsing non JSON termination message should not return error and state should not depend on previous step
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Use larger GitHub-hosted runners for CI and E2E
  .github/e2e-matrix-draft.json
  .github/e2e-matrix-full.json
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

Switch e2e tests to ubuntu-latest-8-cores
  .github/e2e-matrix-draft.json
  .github/e2e-matrix-full.json
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

Add support for when within matrix.include
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-when-include.yaml
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-yaml, lint-go, test-unit

Harden and complete matrix.include.when support
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-go, test-unit

Fix running_taskruns metric overcounting TaskRuns with no condition
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: keep bare step result references as strings
  docs/stepactions.md
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
Due: lint-go, test-unit

fix: centralize child run trace propagation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_propagation_test.go
  pkg/reconciler/pipelinerun/tracing_test.go
Due: lint-go, test-unit

fix: preserve pipeline task resources across conversion
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: honor empty PipelineRun resource override lists
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: align resource precedence with TaskRun validation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

feat: Add continueAndFail step error handling
  cmd/entrypoint/main.go
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  docs/tasks.md
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
  test/ignore_step_error_test.go
  test/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Enqueue only a resolver's own ResolutionRequests
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller_test.go
Due: lint-go, test-unit

cleanup: remove containerd platform dependency
  cmd/entrypoint/main.go
  cmd/entrypoint/platform_test.go
  go.mod
  go.sum
  pkg/platforms/platforms.go
  pkg/platforms/platforms_test.go
  pkg/pod/entrypoint_lookup_impl.go
  pkg/pod/entrypoint_lookup_impl_test.go
  vendor/github.com/Microsoft/hcsshim/LICENSE
  vendor/github.com/Microsoft/hcsshim/osversion/osversion_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/platform_compat_windows.go
  vendor/github.com/Microsoft/hcsshim/osversion/windowsbuilds.go
  vendor/github.com/containerd/containerd/LICENSE
  vendor/github.com/containerd/containerd/NOTICE
  vendor/github.com/containerd/containerd/errdefs/errors.go
  vendor/github.com/containerd/containerd/errdefs/grpc.go
  vendor/github.com/containerd/containerd/log/context_deprecated.go
  vendor/github.com/containerd/containerd/platforms/compare.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo_linux.go
  vendor/github.com/containerd/containerd/platforms/cpuinfo_other.go
  vendor/github.com/containerd/containerd/platforms/database.go
  vendor/github.com/containerd/containerd/platforms/defaults.go
  vendor/github.com/containerd/containerd/platforms/defaults_darwin.go
  vendor/github.com/containerd/containerd/platforms/defaults_freebsd.go
  vendor/github.com/containerd/containerd/platforms/defaults_unix.go
  vendor/github.com/containerd/containerd/platforms/defaults_windows.go
  vendor/github.com/containerd/containerd/platforms/platforms.go
  vendor/github.com/containerd/containerd/platforms/platforms_other.go
  vendor/github.com/containerd/containerd/platforms/platforms_windows.go
  vendor/github.com/containerd/log/.golangci.yml
  vendor/github.com/containerd/log/LICENSE
  vendor/github.com/containerd/log/README.md
  vendor/github.com/containerd/log/context.go
  vendor/modules.txt
Due: lint-go, test-unit
