Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix(taskrun): retry native sidecar discovery after transient errors
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): clarify misleading comment on fake discovery reactor
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): fix grammar in discovery reactor comment
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): decouple sidecar discovery test from client-go build version
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Strip description fields from status spec snapshots
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/strip_descriptions.go
  pkg/apis/pipeline/v1/strip_descriptions_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Avoid accumulating task results across steps
  cmd/entrypoint/README.md
  cmd/entrypoint/main.go
  docs/developers/results-lifecycle.md
  docs/tasks.md
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/entrypoint/task_results.go
  pkg/entrypoint/task_results_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
  test/task_results_accumulation_test.go
Due: lint-go, test-unit

Align conformance and docs with status description stripping
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/additional-configs.md
  docs/api-spec.md
  docs/pipeline-api.md
  docs/pipelineruns.md
  docs/taskruns.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/conformance/conformance_test.go
Due: lint-yaml, lint-go, test-unit

Add ImageVolumeSource as a workspace binding type
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/workspaces.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/workspace_types.go
  pkg/apis/pipeline/v1/workspace_validation.go
  pkg/apis/pipeline/v1/workspace_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/workspace_conversion.go
  pkg/apis/pipeline/v1beta1/workspace_types.go
  pkg/apis/pipeline/v1beta1/workspace_validation.go
  pkg/apis/pipeline/v1beta1/workspace_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): add semantic span attributes to reconciler child spans
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
Due: lint-go, test-unit

test(tracing): add focused tests for child span attributes
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

Bump github.com/google/cel-go v0.29.2 to v0.30.0
  go.mod
  go.sum
  vendor/github.com/google/cel-go/cel/BUILD.bazel
  vendor/github.com/google/cel-go/cel/async/BUILD.bazel
  vendor/github.com/google/cel-go/cel/async/async.go
  vendor/github.com/google/cel-go/cel/cel.go
  vendor/github.com/google/cel-go/cel/decls.go
  vendor/github.com/google/cel-go/cel/env.go
  vendor/github.com/google/cel-go/cel/folding.go
  vendor/github.com/google/cel-go/cel/io.go
  vendor/github.com/google/cel-go/cel/options.go
  vendor/github.com/google/cel-go/cel/program.go
  vendor/github.com/google/cel-go/cel/validator.go
  vendor/github.com/google/cel-go/common/ast/ast.go
  vendor/github.com/google/cel-go/common/ast/navigable.go
  vendor/github.com/google/cel-go/common/decls/decls.go
  vendor/github.com/google/cel-go/common/stdlib/standard.go
  vendor/github.com/google/cel-go/common/types/bytes.go
  vendor/github.com/google/cel-go/common/types/string.go
  vendor/github.com/google/cel-go/common/types/timestamp.go
  vendor/github.com/google/cel-go/common/types/unknown.go
  vendor/github.com/google/cel-go/interpreter/BUILD.bazel
  vendor/github.com/google/cel-go/interpreter/activation.go
  vendor/github.com/google/cel-go/interpreter/async.go
  vendor/github.com/google/cel-go/interpreter/attribute_patterns.go
  vendor/github.com/google/cel-go/interpreter/frame.go
  vendor/github.com/google/cel-go/interpreter/interpretable.go
  vendor/github.com/google/cel-go/interpreter/interpreter.go
  vendor/github.com/google/cel-go/interpreter/planner.go
  vendor/github.com/google/cel-go/interpreter/runtimecost.go
  vendor/github.com/google/cel-go/parser/helper.go
  vendor/github.com/google/cel-go/parser/options.go
  vendor/github.com/google/cel-go/parser/parser.go
  vendor/modules.txt
Due: none

cleanup: move shared types to remoteresolution framework
  docs/resolver-template/cmd/resolver/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/configstore.go
  pkg/remoteresolution/resolver/framework/configstore_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

[TEP-0169] Extract remote resolver execution
  pkg/remoteresolution/resolver/framework/executor.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

refactor: simplify per-namespace configuration
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix: apply namespace config during webhook validation
  cmd/webhook/main.go
  cmd/webhook/main_test.go
Due: lint-go, test-unit

fix: narrow namespace config phase one scope
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
Due: lint-yaml, lint-go, test-unit

test: cover per-namespace configuration paths
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: preserve status description configuration
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_test.go
Due: lint-go, test-unit

test: account for namespace config informer actions
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: address namespace configuration review
  cmd/controller/main.go
  cmd/webhook/main.go
  docs/additional-configs.md
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: satisfy per-namespace config lint checks
  cmd/webhook/main_test.go
  pkg/apis/config/namespace/namespace_config.go
Due: lint-go, test-unit

fix: constrain namespace config admission
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
Due: lint-go, test-unit

fix: reuse admission kind constants
  cmd/webhook/main.go
Due: lint-go, test-unit

fix: preserve cluster config in namespace merges
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

feat: implement TEP-0085 per-namespace controller configuration
  cmd/webhook/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

chore: simplify namespace config informer
  pkg/apis/config/namespace/namespace_config.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test: Fix tracing test to honor custom SYSTEM_NAMESPACE
  pkg/tracing/tracing_test.go
Due: lint-go, test-unit

docs: explain conditions ruled out in isGenericPending
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/config/testdata/feature-flags-invalid-surface-pod-events.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

feat: surface pod warning events on taskruns
  config/200-clusterrole.yaml
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix: address review feedback on pod event surfacing
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

chore(lint): fix lint warnings
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

chore: delete dead code in test/per_feature_flags_test.go file
  test/per_feature_flags_test.go
Due: lint-go, test-unit

fix: add task name in error on task resolution failure
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

fix: use non-expandable here-string for windows script placement
  pkg/pod/script.go
  pkg/pod/script_test.go
Due: lint-go, test-unit

test(pod): assert cache hit for same-namespace entrypoint lookup
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit
