Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

docs: remove file listings and reorder README sections based on review feedback
  examples/v1/pipelineruns/README.md
  examples/v1/taskruns/README.md
Due: none

fix: prevent path traversal in git resolver pathInRepo parameter
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  test/resolvers_test.go
Due: lint-go, test-unit

Re-enable pipeline-api.md generation
  docs/pipeline-api.md
  go.mod
  go.sum
  hack/reference-docs-gen-config.json
  hack/update-codegen.sh
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/modules.txt
Due: none

fix(docs): more obvious notice for the depercated timeout config
  docs/pipelineruns.md
Due: none

feat(docs): add timeout configurations table
  docs/pipelineruns.md
Due: none

refactor(docs): adust and rewrite the docs of `Configuring a failure timeout`
  docs/pipelineruns.md
Due: none

chore(release-pipeline): update references to oci bucket
  tekton/README.md
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

Fix tekton/publish sed for combined-based-image digest replacement
  tekton/publish.yaml
Due: lint-yaml

feat: upload release manifests to oracle cloud
  .github/workflows/nightly-builds.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: Pin Bash container images to digests in examples/v1/taskruns
  examples/v1/taskruns/array-default.yaml
  examples/v1/taskruns/object-param-result.yaml
  examples/v1/taskruns/stepaction-passing-results.yaml
  examples/v1/taskruns/task-result.yaml
Due: lint-yaml

fix: Pin alpine container images to digests in examples/v1/taskruns
  examples/v1/taskruns/creds-init-only-mounts-provided-credentials.yaml
  examples/v1/taskruns/ignore-step-error.yaml
  examples/v1/taskruns/optional-workspaces.yaml
  examples/v1/taskruns/stepaction-passing-results.yaml
  examples/v1/taskruns/stepaction-results.yaml
  examples/v1/taskruns/stepaction.yaml
  examples/v1/taskruns/stepactions-steptemplate.yaml
  examples/v1/taskruns/workspace-in-sidecar.yaml
Due: lint-yaml

fix: Pin busybox container images to digests in examples/v1/taskruns
  examples/v1/taskruns/steps-run-in-order.yaml
Due: lint-yaml

fix: Pin alpine-git-nonroot container images to digests in examples/v1/taskruns
  examples/v1/taskruns/authenticating-git-commands.yaml
Due: lint-yaml

fix: Pin alpine/git container images to digests in examples/v1/taskruns
  examples/v1/taskruns/authenticating-git-commands.yaml
Due: lint-yaml

cleanup: replace GCS release URLs with infra.tekton.dev
  docs/additional-configs.md
  docs/install.md
  docs/metrics-migration-otel.md
  tekton/README.md
  tekton/bugfix-release.sh
Due: none

fix: Pin cgr.dev/chainguard/busybox container images to digests in examples/v1/taskruns
  examples/v1/taskruns/5080-entrypoint-init-regression.yaml
Due: lint-yaml

fix: update bugfix-release.sh and cheat sheet for OCI infrastructure
  tekton/bugfix-release.sh
  tekton/release-cheat-sheet.md
Due: none

Add explicit permissions blocks to workflows missing them
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/slash.yml
Due: lint-yaml

fix: Pin nop container images to digests in examples/v1/taskruns
  examples/v1/taskruns/entrypoint-resolution.yaml
Due: lint-yaml

docs: update releases.md with security patch releases
  releases.md
Due: none

chore(pipelinerun): remove cmpopts.SortSlices from pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: lint-go, test-unit

fix(pipelinerun): sort childReferences to prevent spurious status updates
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

fix: Pin Ubuntu container images to digests in examples/v1/taskruns
  examples/v1/taskruns/configmap.yaml
  examples/v1/taskruns/custom-env.yaml
  examples/v1/taskruns/custom-volume.yaml
  examples/v1/taskruns/default_task_params.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/home-is-set.yaml
  examples/v1/taskruns/home-volume.yaml
  examples/v1/taskruns/propagating_params_implicit.yaml
  examples/v1/taskruns/propagating_workspaces.yaml
  examples/v1/taskruns/readonly-internal-dir.yaml
  examples/v1/taskruns/run-steps-as-non-root.yaml
  examples/v1/taskruns/secret-env.yaml
  examples/v1/taskruns/secret-volume-params.yaml
  examples/v1/taskruns/secret-volume.yaml
  examples/v1/taskruns/sidecar-interp.yaml
  examples/v1/taskruns/sidecar-ready-script.yaml
  examples/v1/taskruns/sidecar-ready.yaml
  examples/v1/taskruns/stepaction-params.yaml
  examples/v1/taskruns/steptemplate-env-merge.yaml
  examples/v1/taskruns/task-volume-args.yaml
  examples/v1/taskruns/template-volume.yaml
  examples/v1/taskruns/unnamed-steps.yaml
  examples/v1/taskruns/using_context_variables.yaml
  examples/v1/taskruns/workingdir.yaml
  examples/v1/taskruns/workspace-readonly.yaml
  examples/v1/taskruns/workspace-volume.yaml
  examples/v1/taskruns/workspace-with-volumeClaimTemplate.yaml
  examples/v1/taskruns/workspace.yaml
Due: lint-yaml

perf(pipelinerun): hoist VerificationPolicy list out of per-task loop in resolvePipelineState
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

fix: Pin container images to digests in examples/v1/taskruns/step-script.yaml
  examples/v1/taskruns/step-script.yaml
Due: lint-yaml

fix: Pin Ubuntu container images to digests in examples/v1/taskruns/ sub folders
  examples/v1/taskruns/beta/emit-array-results.yaml
  examples/v1/taskruns/beta/param_array_indexing.yaml
  examples/v1/taskruns/no-ci/default-workspaces.yaml
  examples/v1/taskruns/no-ci/limitrange.yaml
Due: lint-yaml

Enhance secret-env-from script to produce correct Basic Auth header
  examples/v1/taskruns/secret-env-from.yaml
Due: lint-yaml

Expand section on environment variables
  docs/tasks.md
Due: none
