Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix: update default tracing endpoint to oltp protobuf endpoint
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
Due: lint-yaml, lint-go, test-unit

fix: classify init container failures by container type
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

security: expand harden-runner to more workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/nightly-builds.yaml
  .github/workflows/slash.yml
Due: lint-yaml

fix: guard nil succeeded condition in pipelinerun metrics
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
Due: lint-go, test-unit

feat: build own static base image with apko
  .github/workflows/build-static-base-image.yaml
  .ko.yaml
  images/static-base/apko.yaml
  tekton/publish.yaml
Due: lint-yaml

fix: move build infra to plumbing, reference shared image
  .github/workflows/build-static-base-image.yaml
  .ko.yaml
  images/static-base/apko.yaml
  tekton/publish.yaml
Due: lint-yaml

chore(pipelinerun): remove cmpopts.SortSlices from pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: lint-go, test-unit

fix(pipelinerun): sort childReferences to prevent spurious status updates
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

perf(reconciler): replace reflect.DeepEqual map checks
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs(pipelineruns): clarify failure timeout configuration
  docs/pipelineruns.md
Due: none

Enhance secret-env-from script to produce correct Basic Auth header
  examples/v1/taskruns/secret-env-from.yaml
Due: lint-yaml

Fix running_taskruns metric overcounting TaskRuns with no condition
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: imports
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

docs(resolver): add per-run cache override examples
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
Due: none

Fix panic in GenerateDeterministicNameFromSpec with long resolver names
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: use hashed volume names to prevent credential volume name collisions
  pkg/pod/creds_init.go
  pkg/pod/creds_init_test.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix: shorten credential volume name prefix and use full FNV-32a hash
  pkg/pod/creds_init.go
  pkg/pod/creds_init_test.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

address review comments
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-go, test-unit

feat: enable set-security-context feature flag by default
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
Due: lint-yaml, lint-go, test-unit

perf: strip ManagedFields from PipelineRun and TaskRun informer caches
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
Due: lint-go, test-unit

docs(metrics): document missing controller metrics
  docs/metrics.md
Due: none

fix: Upgrade Gitea test infrastructure from v1.17.1 to latest
  go.mod
  go.sum
  test/git-resolver/gitea.yaml
  test/resolvers_gitea_test.go
  vendor/modules.txt
Due: lint-yaml, lint-go, test-unit

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: cluster resolver namespace access control whitespace and wildcard bugs
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

fix: resolve context key collision and ownerRef nil panic in resolution framework
  pkg/resolution/common/context.go
  pkg/resolution/common/context_test.go
  pkg/resolution/resource/crd_resource.go
  pkg/resolution/resource/crd_resource_internal_test.go
Due: lint-go, test-unit

fix: replace silent "default" namespace fallback with explicit error in GetNameAndNamespace
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

fix: convert pod latency metric to histogram and remove pod label
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

docs: add pod latency histogram metric to metrics.md
  docs/metrics.md
Due: none

docs: add helper script for running examples with custom registries
  examples/README.md
  hack/run-example.sh
Due: none

ci: update create-or-update-comment to v5
  .github/workflows/pr-welcome-comment.yaml
Due: lint-yaml

ci: add PR welcome comment with slash commands #9148
  .github/workflows/pr-welcome-comment.yaml
Due: lint-yaml

Added docs for examples/v1/taskruns and examples/v1/pipelineruns
  examples/v1/pipelineruns/README.MD
  examples/v1/taskruns/README.MD
Due: none

fix: surface runtime result reference validation errors in PipelineRun status
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

fix: remove trailing whitespace to satisfy gofmt/goimports
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
