Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

test: Drop OpenCensus based metric exporter initialisation
  test/util.go
Due: lint-go, test-unit

refactor: use observability package for metrics config name
  pkg/apis/config/metrics_tls.go
Due: lint-go, test-unit

fix: update unit test checksums
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/task_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/task_types_test.go
Due: lint-go, test-unit

feat: Migrate PipelineRun and TaskRun metrics to OpenTelemetry
  config/config-observability.yaml
  config/resolvers/config-observability.yaml
  pkg/apis/config/metrics.go
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

feat: add secret masking for step logs
  cmd/entrypoint/main.go
  cmd/entrypoint/masking_writer.go
  cmd/entrypoint/masking_writer_test.go
  cmd/entrypoint/runner.go
  cmd/entrypoint/runner_test.go
  cmd/entrypoint/runner_windows.go
  cmd/entrypoint/subcommands/secret_mask_init.go
  cmd/entrypoint/subcommands/secret_mask_init_test.go
  cmd/entrypoint/subcommands/subcommands.go
  cmd/entrypoint/subcommands/subcommands_test.go
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/pod/pod.go
  pkg/pod/secret_masking.go
  pkg/pod/secret_masking_test.go
Due: lint-yaml, lint-go, test-unit

ci: add /rebase slash command workflow
  .github/workflows/rebase-command.yaml
  .github/workflows/slash.yml
  CONTRIBUTING.md
Due: lint-yaml

fix: surface specific TaskRun failure reasons for pod eviction, OOM, and init failures
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: include results and artifacts from failed tasks in pipeline results
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/task_results_from_failed_tasks_test.go
Due: lint-go, test-unit

fix: set default resource requirements on internal containers
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: Prevent excessive reconciliation when timeout disabled
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

fix: update default tracing endpoint to oltp protobuf endpoint
  config/config-tracing.yaml
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
Due: lint-yaml, lint-go, test-unit

fix: stepaction resolution should respect task's namespace
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
Due: lint-go, test-unit

fix(pipelines): allow pipeline param defaults to use non-param variables
  examples/v1/pipelineruns/using_context_variables.yaml
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-yaml, lint-go, test-unit

docs: clarify flag availability across controller binaries
  docs/tekton-controller-flags.md
Due: none

feat: Add SHA-256 support for Git resolver revision validation
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

refactor: implement GetCachedOrResolveFromRemote
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

ci: replace e2e-only fan-in with unified CI summary job
  .github/workflows/ci.yaml
Due: lint-yaml

Add missing sort.Slice for childRefs ordering
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

chore(pipelinerun): remove cmpopts.SortSlices from pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: lint-go, test-unit

fix: Remove redundant shortNames from ResolutionRequest CRD
  config/300-crds/300-resolutionrequest.yaml
Due: lint-yaml

tekton: update plumbing ref to include full image references fix
  tekton/release-pipeline.yaml
Due: lint-yaml

ci: Update cherry-pick command to latest plumbing
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

Assess several new gosec findings
  cmd/workingdirinit/main.go
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/writer/writer.go
  pkg/entrypoint/entrypointer.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/hub/resolver.go
  test/featureflags.go
Due: lint-go, test-unit

tekton: update plumbing ref to latest commit
  tekton/release-pipeline.yaml
Due: lint-yaml

ci: add CI summary fan-in job for branch protection
  .github/workflows/ci.yaml
Due: lint-yaml
