Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feat(pipeline): allow variable substitution in pipeline.tasks[].onError
  docs/variables.md
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

Fix reason of PipelineRun status for PipelineRun having tasks timeout
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  test/timeout_test.go
Due: lint-go, test-unit

misc: promote `keep-pod-on-cancel` to beta for cancel TaskRuns using entrypoint binary #3238
  pkg/apis/config/feature_flags.go
  test/e2e-tests-kind-prow-alpha.env
  test/e2e-tests-kind-prow-beta.env
  test/e2e-tests.sh
  test/featureflags.go
Due: lint-go, test-unit

Update link to section on overriding task requests
  docs/taskruns.md
Due: none

Consume release pipeline images and task bundles from GHCR
  tekton/publish.yaml
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

cleanup: move step and sidecar validation
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
Due: lint-go, test-unit

docs: clarify container contract documentation to avoid ambiguity
  docs/container-contract.md
Due: none

docs: add ghcr.io migration banner to README.md
  README.md
Due: none

fix: resolve Git Anonymous Resolver excessive memory usage
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/git.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  tekton/publish.yaml
  test/presubmit-tests.sh
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

Add v0.70 to the releases doc and fix dates of v0.64 and v0.69 releases
  releases.md
Due: none

feat: add testcases for continueAndFail on e2e tests
  test/ignore_step_error_test.go
  test/taskrun_test.go
Due: lint-go, test-unit

Update syntax for pipeline in pipelineruns.md
  docs/pipelineruns.md
Due: none

refactor: implement Validatable for step
  go.mod
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
Due: lint-go, test-unit

fix: handle subPath directory creation errors gracefully
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Bump go.mod and tools/go.mod to go 1.23
  go.mod
Due: none

.github/workflows: update setup-go to use go.mod version
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

fix: avoid panic when validate enum param with special matrix task
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

Remove schema for PodSecurityContext
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-yaml, lint-go, test-unit

fix: list type controller annotations for v1alpha1
  pkg/apis/pipeline/v1alpha1/stepaction_types.go
  pkg/apis/pipeline/v1beta1/resolver_types.go
  pkg/apis/pipeline/v1beta1/stepaction_types.go
Due: lint-go, test-unit

fix: list type controller annotations for v1
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/resolver_types.go
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
Due: lint-go, test-unit

fix: resolve Git Anonymous Resolver excessive memory usage
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/shared_test.go
  tekton/publish.yaml
  test/presubmit-tests.sh
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

cleanup: remove temporary GOPATH generation
  hack/setup-temporary-gopath.sh
  hack/update-codegen.sh
  hack/update-openapigen.sh
Due: none
