Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

refactor: move Step artifacts flag tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step onError and API version tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move ResultRef and ArtifactsRef tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step Ref tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step StepActionReference test
  pkg/apis/pipeline/v1/container_validation_test.go
Due: lint-go, test-unit

Do not propagate managed-by annotation to Pods
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/constant.go
Due: lint-go, test-unit

Remove linux/arm from platform we publish
  docs/additional-configs.md
  tekton/publish.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

test: extract common status helper functions
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/testing/status.go
  test/conformance/conformance_test.go
  test/parse/yaml.go
  test/util.go
Due: lint-go, test-unit

Add a tool to generate the release name
  tekton/release-cheat-sheet.md
  tekton/release_names.go
Due: lint-go, test-unit

Remove all reference to gcr.io tekton projects
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  examples/v1/pipelineruns/beta/git-resolver.yaml
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-apiurl.yaml
  examples/v1/pipelineruns/no-ci/git-resolver-custom-secret.yaml
  examples/v1/pipelineruns/pipelinerun-with-final-tasks.yaml
  examples/v1/pipelineruns/pipelinerun.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/bundles-resolver.yaml
  examples/v1/taskruns/beta/git-resolver.yaml
  examples/v1/taskruns/beta/hub-resolver.yaml
  examples/v1/taskruns/entrypoint-resolution.yaml
  examples/v1/taskruns/no-ci/docker-creds.yaml
  examples/v1/taskruns/no-ci/pull-private-image.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/provenance.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/provenance.go
  pkg/apis/pipeline/v1beta1/swagger.json
  tekton/release-pipeline.yaml
  test/resolvers_test.go
  test/tektonbundles_test.go
Due: lint-yaml, lint-go, test-unit

Re-register metrics only during real updation
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Make sure we do not validate ResolutionRequest on DELETE
  pkg/apis/resolution/v1alpha1/resolution_request_validation.go
  pkg/apis/resolution/v1beta1/resolution_request_validation.go
Due: lint-go, test-unit

Resolvers: remove default TEKTON_HUB_API URI
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

Update kubernetes version of the CI
  .github/workflows/e2e-matrix.yml
  hack/setup-kind.sh
Due: lint-yaml

Stop emitting deprecated metrics
  docs/metrics.md
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

docs: add debugging controllers documentation
  DEVELOPMENT.md
Due: none

Use tini-git image for the resolvers deployment
  .ko.yaml
  config/resolvers/resolvers-deployment.yaml
  tekton/publish.yaml
  test/presubmit-tests.sh
Due: lint-yaml

fix: ensure git shell-out inherits environment variables
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
Due: lint-go, test-unit

chore: add comment for closing the postwriter file
  cmd/entrypoint/post_writer.go
Due: lint-go, test-unit

more test work
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix(pipeline): support variables in onError for pipeline v1beta1
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

exponential backoff in taskRun controller
  pkg/controller/errors.go
  pkg/controller/errors_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

all resolver tests pasing locally
  pkg/resolution/resolver/git/repository.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

Migrate from OpenCensus to Otel using knative
  config/config-observability.yaml
  config/resolvers/config-observability.yaml
  pkg/apis/config/testdata/config-observability-empty.yaml
  pkg/apis/config/testdata/config-observability-namespacelevel.yaml
  pkg/apis/config/testdata/config-observability-reason.yaml
  pkg/apis/config/testdata/config-observability-throttle.yaml
  pkg/apis/config/testdata/config-observability.yaml
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

Remove old metrics code from watcher
  cmd/webhook/main.go
Due: lint-go, test-unit

implement exponential backoff
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  config/config-wait-exponential-backoff.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/store.go
  pkg/apis/config/store_test.go
  pkg/apis/config/testdata/config-wait-exponential-backoff-custom.yaml
  pkg/apis/config/testdata/config-wait-exponential-backoff-empty.yaml
  pkg/apis/config/testdata/config-wait-exponential-backoff.yaml
  pkg/apis/config/wait_exponential_backoff.go
  pkg/apis/config/wait_exponential_backoff_test.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  test/controller.go
  test/controller_test.go
Due: lint-yaml, lint-go, test-unit

Add anti-affinity rules to controller's replicas
  config/controller.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

refactor(tests): move ConfigMap helpers
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
  pkg/reconciler/testing/configmap.go
Due: lint-go, test-unit

fix cluster resolver and add e2e tests
  test/resolver_cache_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
