Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

add a explanation comment and fix casing in the yaml tag
  pkg/apis/config/feature_flags.go
Due: lint-go, test-unit

docs: update releases.md for v1.10.0
  releases.md
Due: none

Enable Gitea e2e tests in CI
  test/git-resolver/gitea.yaml
  test/resolvers_gitea_test.go
Due: lint-yaml, lint-go, test-unit

fix: update default tracing endpoint to oltp protobuf endpoint
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
Due: lint-yaml, lint-go, test-unit

Update release-cheat-sheet.md and release pipeline
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: propagate PipelineRun tasks/finally timeout to child TaskRuns
  docs/pipelineruns.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Fix: Add useHttpPath to support multiple Git credentials on same host
  docs/auth.md
  examples/v1/taskruns/no-ci/git-basic-auth-multiple-repos.yaml
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds_test.go
  test/git_credentials_test.go
Due: lint-yaml, lint-go, test-unit

Add per-resolution url parameter to Hub Resolver
  docs/hub-resolver.md
  pkg/resolution/resolver/hub/params.go
  pkg/resolution/resolver/hub/resolver.go
  pkg/resolution/resolver/hub/resolver_test.go
Due: lint-go, test-unit

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

doc: Clarify scope of auth documentation
  docs/auth.md
Due: none

doc: Fix broken Tekton Bundles example link in taskruns.md
  docs/taskruns.md
Due: none

ci: add a comment on PR with slash commands available
  .github/workflows/slash-commands-docs.yml
  CONTRIBUTING.md
Due: lint-yaml

Add pending status support for TaskRun (parity with PipelineRun)
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat(webhook): add TLS configuration via environment variables
  cmd/webhook/main.go
  cmd/webhook/tls_config_test.go
Due: lint-go, test-unit

fix: revert mistaken metadata changes in resolvers config-observability
  config/resolvers/config-observability.yaml
Due: lint-yaml

test(e2e): add CA cert injection end-to-end test
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/reconciler/taskrun/taskrun_test.go
  test/ca_cert_injection_test.go
Due: lint-yaml, lint-go, test-unit

fix(pod): inject podTemplate.Env into sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

feat(pod): inject trusted CA certs into task and sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

chore: regenerate code after knative/pkg and k8s bump
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/informers/externalversions/factory.go
  pkg/client/informers/externalversions/pipeline/v1/pipeline.go
  pkg/client/informers/externalversions/pipeline/v1/pipelinerun.go
  pkg/client/informers/externalversions/pipeline/v1/task.go
  pkg/client/informers/externalversions/pipeline/v1/taskrun.go
  pkg/client/informers/externalversions/pipeline/v1alpha1/run.go
  pkg/client/informers/externalversions/pipeline/v1alpha1/stepaction.go
  pkg/client/informers/externalversions/pipeline/v1alpha1/verificationpolicy.go
  pkg/client/informers/externalversions/pipeline/v1beta1/customrun.go
  pkg/client/informers/externalversions/pipeline/v1beta1/pipeline.go
  pkg/client/informers/externalversions/pipeline/v1beta1/pipelinerun.go
  pkg/client/informers/externalversions/pipeline/v1beta1/stepaction.go
  pkg/client/informers/externalversions/pipeline/v1beta1/task.go
  pkg/client/informers/externalversions/pipeline/v1beta1/taskrun.go
  pkg/client/resolution/clientset/versioned/fake/clientset_generated.go
  pkg/client/resolution/informers/externalversions/factory.go
  pkg/client/resolution/informers/externalversions/resolution/v1alpha1/resolutionrequest.go
  pkg/client/resolution/informers/externalversions/resolution/v1beta1/resolutionrequest.go
  pkg/client/resource/clientset/versioned/fake/clientset_generated.go
  pkg/client/resource/informers/externalversions/factory.go
  pkg/client/resource/informers/externalversions/resource/v1alpha1/pipelineresource.go
Due: lint-yaml, lint-go, test-unit

[TEP-0137] Restructure customrun event controller
  .gitignore
  cmd/events/main.go
  docs/pipeline-api.md
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/run_interface.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/customrun/controller_test.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/testing/assets.go
Due: lint-go, test-unit

[TEP-0137] Add missing test coverage for PR 1 changes
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types_test.go
  pkg/reconciler/notifications/controller_test.go
Due: lint-go, test-unit

docs: document CA cert injection and proxy configuration
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
Due: lint-yaml

Fix running_taskruns metric overcounting TaskRuns with no condition
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: imports
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Bump chainguard static base image to latest sha
  .ko.yaml
Due: lint-yaml

feat(docs): add timeout configurations table
  docs/pipelineruns.md
Due: none

fix(docs): more obvious notice for the depercated timeout config
  docs/pipelineruns.md
Due: none

tekton: add draft release creation to release pipeline
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

tekton: address review feedback on draft release tasks
  tekton/release-pipeline.yaml
Due: lint-yaml

refactor(docs): adust and rewrite the docs of `Configuring a failure timeout`
  docs/pipelineruns.md
Due: none

fix: lowercase error messages per Go conventions
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1beta1/result_validation_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/remote/oci/resolver.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
  pkg/workspace/apply.go
Due: lint-go, test-unit

remove stale TODO/FIXME comments referencing closed issues
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/internal/computeresources/transformer.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/trustedresources/verifier/verifier.go
  pkg/trustedresources/verify.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
