Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

test: fix cache key generation test expectations and linting errors
  pkg/remoteresolution/cache/cache_test.go
Due: lint-go, test-unit

test: consolidate duplicate clearCache functions in e2e tests
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

refactor: PR review re-work second round
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/params.go
  pkg/resolution/resolver/bundle/resolver.go
  pkg/resolution/resolver/bundle/resolver_test.go
  pkg/resolution/resolver/cluster/params.go
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/http/params.go
Due: lint-go, test-unit

revert unneeded changes
  config/200-role.yaml
  config/201-rolebinding.yaml
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

refactor: PR review re-work fourth round
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/dag_test.go
  test/propagated_params_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

refactor: encapsulate annotatedResource to package scope
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

refactor: PR review re-work
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

[Issue 9032] Add support for step display name
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  docs/stepactions.md
  docs/tasks.md
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/pipeline-with-displayname.yaml
  examples/v1/pipelineruns/pipelinerun-with-pipelinespec-and-taskspec.yaml
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-yaml, lint-go, test-unit

refactor: move cache initialization to main and remove sync.Once
  cmd/resolvers/main.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/cluster/resolver.go
Due: lint-go, test-unit

feat: add initialization error handling for resolvers
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

test: add log verification to resolver cache e2e tests
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: correct import ordering in resolver_cache_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: stepaction resolution should respect task's namespace
  pkg/reconciler/taskrun/resources/taskref.go
  pkg/reconciler/taskrun/resources/taskref_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
Due: lint-go, test-unit

fix: validate taskRef.apiVersion format for custom tasks
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/taskref_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/taskref_types_test.go
Due: lint-go, test-unit

test: increase coverage for resolver cache framework
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

fix: decompose conditional
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
  test/pipelinerun_test.go
  test/preemption_test.go
Due: lint-go, test-unit

refactor: consolidate resolver cache
  cmd/resolvers/main.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/framework/configstore.go
  test/per_feature_flags_test.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

refactor: pass expiration via constructor
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
Due: lint-go, test-unit

feat: implement `ConfigMap` watching for resolver cache
  cmd/resolvers/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/configstore.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

add a explanation comment and fix casing in the yaml tag
  pkg/apis/config/feature_flags.go
Due: lint-go, test-unit

Add GitHub Actions workflow for go coverage job
  .github/workflows/go-coverage.yml
Due: lint-yaml

ci: skip running builds and tests when only changes are markdown
  .github/workflows/ci.yaml
Due: lint-yaml

tests: pdate csi-node-driver-registrar image reference
  test/testdata/spire/spire-agent.yaml
Due: lint-yaml

e2e: tests against 1.34 as well
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

Docs: add known limitation and workaround for multiple Git SSH credentials in Tekton
  docs/auth.md
Due: none

fix(taskspec): ensure TaskRun.Status.Steps ordering matches pod execution order
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  test/conformance_test.go
  test/conversion_test.go
  test/step_when_test.go
  test/taskrun_test.go
  test/util.go
  test/windows_test.go
Due: lint-go, test-unit

Rebase against pull-request base-ref
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

ci: Ensure e2e setup errors fail tests, add retries during e2e setup
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

fix: correct bundle resolver digest check logic
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
Due: lint-go, test-unit

clear cache in test setup
  pkg/remoteresolution/cache/cache.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

run codegen
  go.mod
  go.sum
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
  vendor/modules.txt
Due: none

refactor: PR review re-work third round
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/git/resolver.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

feat: implement cache initialization from ConfigMap in cluster resolver
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
