Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix(pipelinerun): resolve the whole-object form of a partial object param from the default
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

fix(pipelinerun): keep object param defaults for keys a PipelineRun omits
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

fix: treat an admission webhook denial as a rejected run creation
  docs/pipelines.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: run finally tasks when child run creation is permanently rejected
  docs/pipelines.md
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

Move v1.3.x to End of Life releases
  .github/dependabot.config.yml
  releases.md
Due: lint-yaml

fix: end root tracing span at reconciliation completion
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix(remoteresolution): always create a fresh cache in git resolver Initialize
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

apis: allow debug.breakpoints.beforeSteps without onFailure
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

feat(tracing): record reconcile.write_intent span attribute
  docs/developers/tracing.md
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/write_intent_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/write_intent_test.go
  pkg/reconciler/write_intent.go
  pkg/reconciler/write_intent_test.go
Due: lint-go, test-unit

Say recording where the comment said sampled
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/write_intent_test.go
  pkg/reconciler/write_intent_test.go
Due: lint-go, test-unit

Consolidate PipelineRun status checks in tests
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/testing/status.go
Due: lint-go, test-unit

Move object-meta and builder helpers to shared test package
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/testing/factory.go
Due: lint-go, test-unit

fix: validate non-optional child Pipeline workspaces in the parent PipelineRun
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
Due: lint-go, test-unit

Dedupe feature-flag ConfigMap setup in reconciler tests
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
  pkg/reconciler/testing/configmap.go
Due: lint-go, test-unit

Move test selector helpers to reconciler/testing
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/testing/selectors.go
Due: lint-go, test-unit

Regenerate dependabot.yml from config
  .github/dependabot.yml
Due: lint-yaml

fix: address review feedback on pod event surfacing
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-yaml, lint-go, test-unit

fix: address review feedback on metadata sync
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

docs: clarify config-tracing and config-observability are separate tracing paths
  config/config-observability.yaml
  config/config-tracing.yaml
  docs/developers/tracing.md
Due: lint-yaml

fix: exclude generated and non-library code from codecov coverage
  .github/workflows/go-coverage.yml
  codecov.yml
Due: lint-yaml

refactor: decouple metadata sync from event emission in reconcilers
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: upload codecov coverage on pull requests
  .github/workflows/go-coverage.yml
Due: lint-yaml

feat: add Prometheus metrics for resolver framework
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolvermetrics/injection.go
  pkg/resolvermetrics/injection_test.go
  pkg/resolvermetrics/metrics.go
  pkg/resolvermetrics/metrics_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

feat: label resolver metrics by resource kind
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolvermetrics/metrics.go
  pkg/resolvermetrics/metrics_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

fix: address resolver metrics review feedback
  docs/metrics.md
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_internal_test.go
  pkg/resolvermetrics/injection.go
  pkg/resolvermetrics/injection_test.go
  test/resolver_metrics_test.go
Due: lint-go, test-unit

fix: remove unused resolver metrics helper
  test/resolver_metrics_test.go
Due: lint-go, test-unit

fix: reuse existing metrics test helper
  test/resolver_metrics_test.go
Due: lint-go, test-unit

Fix flaky namespace behavior
  test/util.go
Due: lint-go, test-unit

Enqueue only a resolver's own ResolutionRequests
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller_test.go
Due: lint-go, test-unit

feat(tracing): correlate K8s events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
Due: lint-go, test-unit

Address review feedback on trace annotation and EmitError API
  pkg/reconciler/events/event.go
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat(tracing): correlate Kubernetes events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
  pkg/reconciler/events/k8sevent/event_test.go
Due: lint-go, test-unit

Fix critical libcurl CVEs in resolvers base image
  .ko.yaml
Due: lint-yaml

Keep LeaderAwareFuncs source-compatible and fail closed
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller_test.go
Due: lint-go, test-unit

fix: submit all remote references before requeue
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
