Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Add ImageVolumeSource as a workspace binding type
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/workspaces.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/workspace_types.go
  pkg/apis/pipeline/v1/workspace_validation.go
  pkg/apis/pipeline/v1/workspace_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/workspace_conversion.go
  pkg/apis/pipeline/v1beta1/workspace_types.go
  pkg/apis/pipeline/v1beta1/workspace_validation.go
  pkg/apis/pipeline/v1beta1/workspace_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): add TLS CA cert configuration for OTLP exporter
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/apis/config/testdata/config-tracing-cacert.yaml
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
  pkg/tracing/cacert.go
  pkg/tracing/cacert_test.go
  pkg/tracing/tracing.go
Due: lint-yaml, lint-go, test-unit

Keep the Step SecurityContext when the StepAction has none
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

fix: preserve Step SecurityContext when StepAction leaves it unset
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

fix(CI): update golang-ci install URL to use main branch
  Makefile
Due: none

Refactor SSRF protection into shared resolver framework
  config/resolvers/http-resolver-config.yaml
  docs/additional-configs.md
  docs/http-resolver.md
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/framework/ssrf.go
  pkg/resolution/resolver/framework/ssrf_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-yaml, lint-go, test-unit

chore(lint): fix lint warnings
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: make pod rescheduling idempotent
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: avoid rescheduling evicted taskrun pods
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: align pod rescheduling docs and e2e cleanup
  config/config-feature-flags.yaml
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

feat: add automatic pod rescheduling for pre-step failures
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/taskruns.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/pod_reschedule_test.go
Due: lint-yaml, lint-go, test-unit

fix: harden pod rescheduling attempts
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: keep rescheduled pod names distinct
  docs/pipeline-api.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix: address pod rescheduling lint
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

test: cover cross-namespace StepAction resolution
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: retain rescheduling error logging after rebase
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: account for resolver metric error paths
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_internal_test.go
  pkg/resolvermetrics/metrics_test.go
Due: lint-go, test-unit

Bump github/codeql-action/analyze to v4.37.7
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

fix(CI): group github/codeql-action/* dependabot updates
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

Add support for when within matrix.include
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-when-include.yaml
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-yaml, lint-go, test-unit

Harden and complete matrix.include.when support
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
Due: lint-go, test-unit

Support result references in matrix.include[].when
  docs/matrix.md
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/resultref.go
  pkg/apis/pipeline/v1/resultref_test.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/resultref.go
  pkg/apis/pipeline/v1beta1/resultref_test.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
Due: lint-go, test-unit

fix: Validate workspace variable references in Tasks
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

Add license scan report and status
  README.md
Due: none

Use a literal here-string to place Windows scripts
  pkg/pod/script.go
  pkg/pod/script_test.go
Due: lint-go, test-unit

fix(tracing): limit event annotations to traceparent/tracestate
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
Due: lint-go, test-unit

fix: constrain namespace config admission
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
Due: lint-go, test-unit

test: account for namespace config informer actions
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: reuse admission kind constants
  cmd/webhook/main.go
Due: lint-go, test-unit

chore: simplify namespace config informer
  pkg/apis/config/namespace/namespace_config.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: apply namespace config during webhook validation
  cmd/webhook/main.go
  cmd/webhook/main_test.go
Due: lint-go, test-unit

refactor: simplify per-namespace configuration
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

feat: implement TEP-0085 per-namespace controller configuration
  cmd/webhook/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_integration_test.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store.go
  pkg/apis/pipeline/v1/pipelinerun_defaults.go
  pkg/apis/pipeline/v1/taskrun_defaults.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-yaml, lint-go, test-unit

fix: narrow namespace config phase one scope
  cmd/webhook/main.go
  cmd/webhook/main_test.go
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
Due: lint-yaml, lint-go, test-unit

fix: satisfy per-namespace config lint checks
  cmd/webhook/main_test.go
  pkg/apis/config/namespace/namespace_config.go
Due: lint-go, test-unit

fix: preserve cluster config in namespace merges
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): tag TaskRun ReconcileKind span on cancel/timeout
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Use partial, sparse clone in the git resolver
  pkg/resolution/resolver/git/repository.go
  pkg/resolution/resolver/git/repository_test.go
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
