Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

fix: dangerous-exec-command-94 (#10)
  cmd/entrypoint/runner.go
Due: lint-go, test-unit

fix: dangerous-exec-command-57 (#11)
  cmd/entrypoint/runner_windows.go
Due: lint-go, test-unit

feat(tracing): correlate K8s events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
Due: lint-go, test-unit

feat(tracing): correlate Kubernetes events with distributed traces
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Address review feedback on trace annotation and EmitError API
  pkg/reconciler/events/event.go
  pkg/reconciler/events/k8sevent/event.go
  pkg/reconciler/events/k8sevent/event_internal_test.go
  pkg/reconciler/events/k8sevent/event_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix(validation): report mutual exclusion for taskRef name and resolver
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/taskref_validation_test.go
  pkg/apis/pipeline/v1beta1/container_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/pipelineref_validation.go
  pkg/apis/pipeline/v1beta1/taskref_validation.go
  pkg/apis/pipeline/v1beta1/taskref_validation_test.go
Due: lint-go, test-unit

Ignore otel major/minor updates in dependabot
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

fix(nightlies): skip draft-release tasks when releaseMode=nightly
  .github/workflows/nightly-builds.yaml
  tekton/release-pipeline.yaml
Due: lint-yaml

ci: fix mismatched setup-go version comment in dependabot-regen
  .github/workflows/dependabot-regen.yml
Due: lint-yaml

fix: reject TaskRun taskRef with custom task kind but no apiVersion
  examples/v1/taskruns/beta/emit-array-results.yaml
  pkg/apis/pipeline/v1/taskref_validation.go
  pkg/apis/pipeline/v1/taskref_validation_test.go
  pkg/apis/pipeline/v1beta1/taskref_validation.go
  pkg/apis/pipeline/v1beta1/taskref_validation_test.go
Due: lint-yaml, lint-go, test-unit

fix: surface clear errors when completed tasks miss referenced results
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
Due: lint-go, test-unit

fix(taskrun): retry native sidecar discovery after transient errors
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): decouple sidecar discovery test from client-go build version
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

test(taskrun): clarify misleading comment on fake discovery reactor
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Fix typo in config-feature-flags comment
  config/config-feature-flags.yaml
Due: lint-yaml

test(taskrun): fix grammar in discovery reactor comment
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: correct verb in controller startup panic logs
  pkg/reconciler/notifications/customrun/controller.go
  pkg/reconciler/notifications/pipelinerun/controller.go
  pkg/reconciler/notifications/taskrun/controller.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/controller_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/resolution/resolver/framework/controller.go
Due: lint-go, test-unit

Fix RestrictLength panic on all-symbol input
  pkg/names/generate.go
  pkg/names/generate_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Fix PipelineRun label fallback for empty generated name
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

test: clarify Panicf formatting test scope
  pkg/reconciler/resolutionrequest/controller_test.go
Due: lint-go, test-unit

ci(.github/workflows): enable Codecov coverage reporting
  .github/workflows/go-coverage.yml
  codecov.yml
Due: lint-yaml

fix(pipelinerun): skip PodEvicted live GET when TaskRun cannot retry
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

apis: reject debug.beforeSteps names not present in inline taskSpec
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation_test.go
Due: lint-go, test-unit

fix(nightlies): restart webhook after CEL feature-flag patch
  .github/workflows/nightly-builds.yaml
Due: lint-yaml

fix: skip re-resolution of already resolved requests
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle_test.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

fix(resolvers): honor leader-election bucket ownership
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
