Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

docs: fix typo in config feature flags comment
  config/config-feature-flags.yaml
Due: lint-yaml

address review: extract shared transform, use Panicf, add Pod informer
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/transform.go
Due: lint-go, test-unit

Fix typos: propogated -> propagated in tracing comments
  pkg/reconciler/taskrun/tracing.go
Due: lint-go, test-unit

Re-enable pipeline-api.md generation
  docs/pipeline-api.md
  go.mod
  go.sum
  hack/reference-docs-gen-config.json
  hack/update-codegen.sh
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/modules.txt
Due: none

fix: add signal handling in sidecarlogresults for native k8s sidecars
  cmd/sidecarlogresults/main.go
  cmd/sidecarlogresults/main_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix: remove corrupted cache entries on type error
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  test/init_test.go
Due: lint-go, test-unit

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

address review: set TaskRun transform in PipelineRun controller, add transform tests
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/transform_test.go
Due: lint-go, test-unit

fix(ci): fix e2e test failures on release-v1.3.x
  .github/workflows/e2e-matrix.yml
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
Due: lint-yaml

fix: record metrics for cancelled PipelineRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

docs: clarify timeout while TaskRun is pending
  docs/taskruns.md
Due: none

tests: add pending TaskRun lifecycle transition coverage
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add multi-URL support and per-resolution url param to Hub Resolver
  config/resolvers/hubresolver-config.yaml
  docs/hub-resolver.md
  pkg/remoteresolution/resolver/hub/config.go
  pkg/remoteresolution/resolver/hub/params.go
  pkg/remoteresolution/resolver/hub/resolve.go
  pkg/remoteresolution/resolver/hub/resolver.go
  pkg/remoteresolution/resolver/hub/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

Fix: Add SSH Host aliases to support multiple SSH credentials on same host
  docs/auth.md
  examples/v1/taskruns/no-ci/git-ssh-auth-multiple-repos.yaml
  pkg/credentials/gitcreds/creds_test.go
  pkg/credentials/gitcreds/ssh.go
  test/git_credentials_test.go
Due: lint-yaml, lint-go, test-unit

fix: surface specific TaskRun failure reasons when pod fails
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  test/larger_results_sidecar_logs_test.go
  test/taskrun_test.go
Due: lint-go, test-unit

fix: classify init container failures by container type
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: add InitContainerOOM and InitContainerFailed failure reasons
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix: imports
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: guard nil succeeded condition in pipelinerun metrics
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
Due: lint-go, test-unit

Fix running_taskruns metric overcounting TaskRuns with no condition
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

Update stale comment about storing TaskSpec in status
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

chore: regenerate pipeline-api.md for new TaskRunReason constants
  docs/pipeline-api.md
  go.mod
Due: none

[#9575] Extract memberOfLookup to reduce nesting
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

refactor: add clock injection to cache for testing
  pkg/remoteresolution/resolver/framework/cache/annotated_resource.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/clock.go
  test/timeout_test.go
Due: lint-go, test-unit
