Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: downgrade tracing logs to debug and update security docs
  config/config-tracing.yaml
  docs/developers/tracing.md
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/reconciler.go
Due: lint-yaml, lint-go, test-unit

test: account for namespace config informer actions
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix(pipelinerun): use generateName for anonymous pipeline label
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

fix: preserve cluster config in namespace merges
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/namespace/namespace_config.go
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

fix: truncate affinity assistant volume names to 63 characters
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-go, test-unit

ci: fix setup-go version comment in codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

build(deps): bump google.golang.org/grpc from 1.75.0 to 1.79.3
  go.mod
  go.sum
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/doc.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/version.go
  vendor/google.golang.org/grpc/attributes/attributes.go
  vendor/google.golang.org/grpc/balancer/balancer.go
  vendor/google.golang.org/grpc/balancer/base/balancer.go
  vendor/google.golang.org/grpc/balancer/endpointsharding/endpointsharding.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer.pb.go
  vendor/google.golang.org/grpc/balancer/grpclb/grpc_lb_v1/load_balancer_grpc.pb.go
  vendor/google.golang.org/grpc/balancer/pickfirst/pickfirst.go
  vendor/google.golang.org/grpc/binarylog/grpc_binarylog_v1/binarylog.pb.go
  vendor/google.golang.org/grpc/credentials/alts/internal/conn/record.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/altscontext.pb.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker.pb.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/handshaker_grpc.pb.go
  vendor/google.golang.org/grpc/credentials/alts/internal/proto/grpc_gcp/transport_security_common.pb.go
  vendor/google.golang.org/grpc/credentials/tls.go
  vendor/google.golang.org/grpc/dialoptions.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health.pb.go
  vendor/google.golang.org/grpc/health/grpc_health_v1/health_grpc.pb.go
  vendor/google.golang.org/grpc/internal/envconfig/envconfig.go
  vendor/google.golang.org/grpc/internal/mem/buffer_pool.go
  vendor/google.golang.org/grpc/internal/transport/defaults.go
  vendor/google.golang.org/grpc/internal/transport/http2_client.go
  vendor/google.golang.org/grpc/internal/transport/http2_server.go
  vendor/google.golang.org/grpc/mem/buffer_pool.go
  vendor/google.golang.org/grpc/picker_wrapper.go
  vendor/google.golang.org/grpc/resolver/map.go
  vendor/google.golang.org/grpc/rpc_util.go
  vendor/google.golang.org/grpc/server.go
  vendor/google.golang.org/grpc/version.go
  vendor/modules.txt
Due: none

build: bump go directive to 1.26
  .github/workflows/ci.yaml
  go.mod
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/resolver-with-timeout/go.mod
Due: lint-yaml

feat(tracing): add spans for task parameter and workspace substitution #9801
  pkg/reconciler/taskrun/resources/apply.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fixing tracer line 1088 name to match caller ie: applyParamsContextsResultsAndWorkspaces
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: gofmt formatting in taskrun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

feat(tracing): inject traceID and spanID into structured log output
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: preserve previous condition context when TaskRun is cancelled or times out
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: set default resource requirements on internal containers
  docs/additional-configs.md
  docs/compute-resources.md
  pkg/internal/defaultresourcerequirements/transformer.go
  pkg/internal/defaultresourcerequirements/transformer_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/pod/workingdir_init.go
  pkg/pod/workingdir_init_test.go
Due: lint-go, test-unit

fix: avoid throttling script init container
  docs/compute-resources.md
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/pod/script.go
  pkg/pod/script_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: update taskrun reconciler tests for default resource requirements
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix: allow finally tasks to run when tasks timeout is exceeded (#6794)
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

fix: prevent controller CPU variant from leaking into platform commands
  cmd/entrypoint/platform_test.go
  pkg/pod/entrypoint_lookup_impl.go
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit

docs: update releases.md for v1.13.0
  releases.md
Due: none

fix: correct alpine/k8s image reference in release pipeline
  tekton/release-pipeline.yaml
Due: lint-yaml

fix: use parent-based tracing sampler
  pkg/apis/config/tracing_test.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
Due: lint-go, test-unit

fix: end root tracing span after reconciliation
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing.go
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

fix: propagate tracing context to child runs
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing_propagation_test.go
Due: lint-go, test-unit

feat: trace resolver framework with configured provider
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/tracing.go
  pkg/remoteresolution/resolver/framework/tracing_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

fix: record reconciler span errors centrally
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/tracing_errors.go
  pkg/reconciler/pipelinerun/tracing_errors_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/tracing_errors.go
  pkg/reconciler/taskrun/tracing_errors_test.go
Due: lint-go, test-unit

test: avoid unchecked tracing shutdown
  pkg/reconciler/pipelinerun/tracing_test.go
  pkg/reconciler/taskrun/tracing_test.go
Due: lint-go, test-unit

test: avoid unchecked tracing shutdown
  pkg/reconciler/pipelinerun/tracing_errors_test.go
  pkg/reconciler/taskrun/tracing_errors_test.go
Due: lint-go, test-unit
