Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

refactor: add clock injection to cache for testing
  pkg/remoteresolution/resolver/framework/cache/annotated_resource.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/clock.go
  test/timeout_test.go
Due: lint-go, test-unit

fix: add name field to StepTemplate spec
  config/300-crds/300-task.yaml
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
Due: lint-yaml, lint-go, test-unit

Prevent auto-cleanup-pvc annotation from propagating to child PipelineRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix(resolvers): validate data is Tekton object in resolver framework
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/framework/interface.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

cleanup: move shared types to remoteresolution framework
  docs/resolver-template/cmd/resolver/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/configstore.go
  pkg/remoteresolution/resolver/framework/configstore_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

fix: bump Go to 1.24.13 to fix CVE-2025-61728, CVE-2025-61726, CVE-2025-61729
  go.mod
Due: none

fix: truncate affinity assistant volume names to 63 characters
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-go, test-unit

fix: normalize VolumeMount paths before /tekton/ restriction check
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

test: remove cache.Clear() from shared setup() to fix parallel test flakiness
  test/util.go
Due: lint-go, test-unit

docs: update releases.md for v1.11.0
  releases.md
Due: none

perf: remove unnecessary SetDefaults from TaskRun done path
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

chore: update generated code after k8s 0.35.3 bump
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/resolution/clientset/versioned/fake/clientset_generated.go
  pkg/client/resource/clientset/versioned/fake/clientset_generated.go
Due: lint-go, test-unit

fix: pin registry image and relax log-based cache assertion
  test/multiarch_utils.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

feat: use gotestsum for unit tests when available
  DEVELOPMENT.md
  Makefile
Due: none

Replace nil, nil returns with sentinel errors in status helpers
  pkg/pod/status.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: lint-go, test-unit

Refactor: extract shared cleanup-after-resolve helper
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/resolution/cleanup.go
  pkg/reconciler/taskrun/resources/taskref.go
Due: lint-go, test-unit

perf: strip ManagedFields from PipelineRun, TaskRun, and Pod informer caches
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/transform.go
  pkg/reconciler/transform_test.go
Due: lint-go, test-unit

Rework the events controller cache
  config/config-events.yaml
  go.mod
  go.sum
  pkg/apis/pipeline/v1beta1/run_interface.go
  pkg/reconciler/events/cache/cache.go
  pkg/reconciler/events/cache/cache_test.go
  pkg/reconciler/events/cache/cacheclient.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/testing/assets.go
  vendor/github.com/allegro/bigcache/v3/.codecov.yml
  vendor/github.com/allegro/bigcache/v3/.gitignore
  vendor/github.com/allegro/bigcache/v3/LICENSE
  vendor/github.com/allegro/bigcache/v3/README.md
  vendor/github.com/allegro/bigcache/v3/bigcache.go
  vendor/github.com/allegro/bigcache/v3/bytes.go
  vendor/github.com/allegro/bigcache/v3/bytes_appengine.go
  vendor/github.com/allegro/bigcache/v3/clock.go
  vendor/github.com/allegro/bigcache/v3/config.go
  vendor/github.com/allegro/bigcache/v3/encoding.go
  vendor/github.com/allegro/bigcache/v3/entry_not_found_error.go
  vendor/github.com/allegro/bigcache/v3/fnv.go
  vendor/github.com/allegro/bigcache/v3/hash.go
  vendor/github.com/allegro/bigcache/v3/iterator.go
  vendor/github.com/allegro/bigcache/v3/logger.go
  vendor/github.com/allegro/bigcache/v3/queue/bytes_queue.go
  vendor/github.com/allegro/bigcache/v3/shard.go
  vendor/github.com/allegro/bigcache/v3/stats.go
  vendor/github.com/allegro/bigcache/v3/utils.go
  vendor/modules.txt
Due: lint-yaml, lint-go, test-unit

fix: surface specific TaskRun failure reasons for pod eviction, OOM, and init failures
  docs/pipeline-api.md
  docs/taskruns.md
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  test/larger_results_sidecar_logs_test.go
  test/taskrun_test.go
Due: lint-go, test-unit

fix: surface clear errors when completed tasks miss referenced results
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
Due: lint-go, test-unit

fix(resolvers): Skip resolving resolutionRequest if data is present
  pkg/apis/resolution/v1beta1/resolution_request_lifecycle.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler.go
Due: lint-go, test-unit

Warn on unanchored VerificationPolicy resource patterns
  pkg/apis/pipeline/v1alpha1/verificationpolicy_validation.go
Due: lint-go, test-unit

docs: add bundle resolver configuration options default values
  docs/bundle-resolver.md
Due: none

Regenerate code after k8s.io/code-generator 0.35.3 bump
  pkg/client/clientset/versioned/fake/clientset_generated.go
  pkg/client/resolution/clientset/versioned/fake/clientset_generated.go
  pkg/client/resource/clientset/versioned/fake/clientset_generated.go
Due: lint-go, test-unit

Fix compilation for gitea SDK v0.24.1 API changes
  vendor/github.com/jenkins-x/go-scm/scm/driver/gitea/pr.go
Due: none

docs: update metrics.md to reflect OpenTelemetry migration
  docs/metrics.md
Due: none

[TEP-0137] Add TaskRun notifications controller
  cmd/events/main.go
  config/200-clusterrole.yaml
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/events.md
  docs/pipeline-api.md
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_conversion_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/events/cloudevent/cloudeventclient.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/taskrun/controller.go
  pkg/reconciler/notifications/taskrun/controller_test.go
  pkg/reconciler/notifications/taskrun/reconciler.go
  pkg/reconciler/notifications/taskrun/reconciler_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/taskrun_timeout_test.go
Due: lint-yaml, lint-go, test-unit

[TEP-0137] Add PipelineRun notifications controller
  cmd/events/main.go
  docs/events.md
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/events/event.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/notifications/pipelinerun/controller.go
  pkg/reconciler/notifications/pipelinerun/controller_test.go
  pkg/reconciler/notifications/pipelinerun/reconciler.go
  pkg/reconciler/notifications/pipelinerun/reconciler_test.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

fix(metrics): use "anonymous" pipeline tag for inline TaskRun pipelines
  docs/metrics.md
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

[TEP-0056] Support PipelineRef in PipelineTask
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  docs/pipelines-in-pipelines.md
  docs/pipelines.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-yaml, lint-go, test-unit
