Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: update crd schemas command errors
  hack/update-schemas.sh
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/resolver_types.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/stepaction_types.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/customrun_types.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/pipelinerun_types.go
  pkg/apis/pipeline/v1beta1/resolver_types.go
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion.go
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/apis/resolution/v1beta1/resolution_request_types.go
Due: lint-go, test-unit

refactor: move Step artifacts flag tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step Ref tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step onError and API version tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move ResultRef and ArtifactsRef tests
  pkg/apis/pipeline/v1/container_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
Due: lint-go, test-unit

refactor: move Step StepActionReference test
  pkg/apis/pipeline/v1/container_validation_test.go
Due: lint-go, test-unit

feat: implement caching for task and pipeline resolvers
  config/resolvers/resolver-cache-config.yaml
  docs/bundle-resolver.md
  docs/git-resolver.md
  docs/resolution.md
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/params.go
  pkg/resolution/resolver/bundle/resolver.go
  pkg/resolution/resolver/bundle/resolver_test.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/http/params.go
Due: lint-yaml, lint-go, test-unit

fix fan out matrix task failed due to result ref
  pkg/apis/pipeline/v1/matrix_types.go
Due: lint-go, test-unit

test: add test for matrix params with string value containing variable reference
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  test/matrix_test.go
Due: lint-go, test-unit

chore: adjust test to use taskRef instead of taskSpec
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Tests for podTemplate on Tasks
  examples/v1/pipelineruns/pipelinerun-with-matrix-on-tasks.yaml
  examples/v1/taskruns/task-podtemplate.yaml
  pkg/pod/pod_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  test/e2e-common.sh
Due: lint-yaml, lint-go, test-unit

Add podTemplate on Tasks
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_types.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_types.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/pod/pod.go
  pkg/reconciler/taskrun/resources/apply.go
Due: lint-yaml, lint-go, test-unit

Docs for podTemplate on Tasks
  docs/pipeline-api.md
Due: none

Do not propagate managed-by annotation to Pods
  pkg/pod/pod.go
  pkg/pod/pod_test.go
  pkg/reconciler/constant.go
Due: lint-go, test-unit

test: extract common status helper functions
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/testing/status.go
  test/conformance/conformance_test.go
  test/parse/yaml.go
  test/util.go
Due: lint-go, test-unit

feat: add option continueAndFail on step.onError
  cmd/entrypoint/main.go
  docs/pipeline-api.md
  docs/tasks.md
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
Due: lint-go, test-unit

feat: add more complex testcases for continueAndFail on e2e tests
  test/ignore_step_error_test.go
Due: lint-go, test-unit

feat: add testcases for continueAndFail on e2e tests
  test/ignore_step_error_test.go
  test/taskrun_test.go
Due: lint-go, test-unit

feat: add validation for step.onError value
  pkg/apis/pipeline/v1/container_validation.go
  pkg/apis/pipeline/v1/container_validation_test.go
Due: lint-go, test-unit

docs: fix typo in pipelineruns.md
  docs/pipelineruns.md
Due: none

Make sure we do not validate ResolutionRequest on DELETE
  pkg/apis/resolution/v1alpha1/resolution_request_validation.go
  pkg/apis/resolution/v1beta1/resolution_request_validation.go
Due: lint-go, test-unit
