Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

ci(.github/workflows): enable Codecov coverage reporting
  .github/workflows/go-coverage.yml
  codecov.yml
Due: lint-yaml

Add configuration for custom git resolver backoff
  config/resolvers/git-resolver-config.yaml
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/config.go
  pkg/resolution/resolver/git/config_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-yaml, lint-go, test-unit

docs: document Operator performance config for controller HA
  docs/enabling-ha.md
Due: none

Use folder-level symlinks for agent skill discovery
  .agents/skills
  .agents/skills/tekton-pipeline-discovery
  .claude/skills
  .claude/skills/tekton-pipeline-discovery
  .codex/skills
  .codex/skills/tekton-pipeline-discovery
  .cursor/skills
  AGENTS.md
Due: none

Prevent matrix combination count int overflow
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
Due: lint-go, test-unit

Handle matrix include count overflow
  pkg/apis/pipeline/v1/matrix_types.go
  pkg/apis/pipeline/v1/matrix_types_test.go
  pkg/apis/pipeline/v1beta1/matrix_types.go
  pkg/apis/pipeline/v1beta1/matrix_types_test.go
Due: lint-go, test-unit

docs(security): add security best practices for workspace isolation across trust boundaries
  docs/security/README.md
  docs/workspaces.md
Due: none

docs(security): enhance security best practices section with threat model context
  docs/security/README.md
  docs/workspaces.md
Due: none

perf(controller): add informer cache transform to reduce memory usage
  config/config-feature-flags.yaml
  docs/developers/README.md
  docs/developers/controller-logic.md
  docs/tekton-controller-performance-configuration.md
  internal/reconciler/cachetransform/cachetransform.go
  internal/reconciler/cachetransform/cachetransform_test.go
  internal/reconciler/cachetransform/setup.go
  pkg/reconciler/pipelinerun/controller.go
  pkg/reconciler/taskrun/controller.go
Due: lint-yaml, lint-go, test-unit

Fix wrong Deprecated godoc in affinity assistant
  pkg/reconciler/pipelinerun/affinity_assistant.go
Due: lint-go, test-unit

fix(resolutionrequest): preserve resolver-written status fields
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: lint-go, test-unit

fix(resolutionrequest): refine lifecycle status handling
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: lint-go, test-unit

fix(resolutionrequest): requeue status update conflicts
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/resolutionrequest_test.go
Due: lint-go, test-unit

Preserve Sidecar RestartPolicy on API conversion
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
Due: lint-go, test-unit

Add regression test: embedded taskSpec description leaks out of status-only strip
  .github/workflows/ci.yaml
  pkg/reconciler/pipelinerun/embedded_taskspec_description_repro_test.go
Due: lint-yaml, lint-go, test-unit

Replace nil, nil returns with sentinel errors in status helpers
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/status/status.go
  pkg/status/status_test.go
Due: lint-go, test-unit

Refactor: extract shared cleanup-after-resolve helper
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/resolution/cleanup.go
  pkg/reconciler/resolution/cleanup_test.go
  pkg/reconciler/taskrun/resources/taskref.go
Due: lint-go, test-unit

test: add e2e test for OpenCensus to OpenTelemetry metrics migration
  test/metrics_otel_test.go
Due: lint-go, test-unit

feat: add configurable grace period for transient CreateContainerError
  config/config-defaults.yaml
  docs/additional-configs.md
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Fix RestrictLength panic on all-symbol input
  pkg/names/generate.go
  pkg/names/generate_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

Fix PipelineRun label fallback for empty generated name
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit
