Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Add permissions back to cherry-pick workflow
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

.github/workflows: fixing go-coverage token issues
  .github/workflows/go-coverage.yml
Due: lint-yaml

feat: Add digest validation support to HTTP resolver
  config/resolvers/config-feature-flags.yaml
  docs/http-resolver.md
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
  test/resolvers_test.go
Due: lint-yaml, lint-go, test-unit

chore: fix YAML indentation in release cheat sheet
  tekton/release-cheat-sheet.md
Due: none

fix: Detect pod configuration errors early instead of timeout
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/pod/status.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add hostUsers field support to PodTemplate
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/podtemplates.md
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-yaml, lint-go, test-unit

examples: reduce the size of the matrix to reduce flakiness
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix.yaml
Due: lint-yaml

chore(release-pipeline): update references to oci bucket
  tekton/README.md
  tekton/release-cheat-sheet.md
  tekton/release-pipeline.yaml
Due: lint-yaml

e2e: give more time for dind-sidecar to start
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

.github/workflows: fix e2e-matrix-extras
  .github/workflows/e2e-matrix-extras.yaml
Due: lint-yaml

fix: panic in v1beta1 matrix validation for invalid result refs
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

e2e: try to bump to 15min for the wait function
  test/wait.go
Due: lint-go, test-unit

Migrate tests images out of dockerhub.
  examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/pipelineruns/pipelinerun-with-task-timeout-override.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/dind-sidecar.yaml
  examples/v1/taskruns/step-by-digest.yaml
  test/git-resolver/gitea.yaml
  test/multiarch_utils.go
  test/step_output_test.go
  test/tektonbundles_test.go
  test/trustedresources_test.go
Due: lint-yaml, lint-go, test-unit

Update releases.md for 1.7
  releases.md
Due: none

.github/workflows: use plumbing workflow for chatops_retest
  .github/workflows/chatops_retest.yaml
Due: lint-yaml

.github/workflows: use cherry-pick workflows from plumbing
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

Fix commit SHA of github-script action
  .github/workflows/e2e-matrix-extras.yaml
Due: lint-yaml

.github/workflows: use CHATOPS_TOKEN for coverage comments
  .github/workflows/go-coverage.yml
Due: lint-yaml

fix: release pipeline feedback
  tekton/README.md
  tekton/release-cheat-sheet.md
Due: none

chore: enhance cherry-pick PR format with original context
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

test: limit examples test parallelism to 2 to prevent timeouts
  test/e2e-tests.sh
Due: none

Fix duplicated protobuf tag in pod.Template struct Change PriorityClassName protobuf tag from 7 to 8 to resolve duplicate tag number conflict with Env field. Fixes #8345
  pkg/apis/pipeline/pod/template.go
Due: lint-go, test-unit

Add twoGiants as pipeline maintainers
  OWNERS_ALIASES
Due: none

Remove the GHCR migration notice from the readme
  README.md
Due: none

Fix golangci-lint action step for large diff
  .github/workflows/ci.yaml
Due: lint-yaml

Fix: CI job incorrectly skipped by file change detection
  .github/workflows/ci.yaml
Due: lint-yaml

fix(e2e): improve dind-sidecar probe configuration for reliability
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

test(e2e): move flaky retry/matrix tests to no-ci temporarily
  examples/v1/pipelineruns/no-ci/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/no-ci/using-retries-and-retry-count-variables.yaml
Due: lint-yaml
