Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

docs: document horizontal controller scaling via leader election buckets
  docs/enabling-ha.md
Due: none

ci: fix setup-go version comment in codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Due: lint-yaml

TEP-0048: default results
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/pipeline-api.md
  docs/tasks.md
  examples/v1/pipelineruns/alpha/pipelinerun-emitting-default-results.yaml
  examples/v1/pipelineruns/alpha/pipelinerun-with-default-results.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-context-variables.yaml
  examples/v1/taskruns/alpha/default-results.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/result_types.go
  pkg/apis/pipeline/v1/result_validation.go
  pkg/apis/pipeline/v1/result_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/result_conversion.go
  pkg/apis/pipeline/v1beta1/result_types.go
  pkg/apis/pipeline/v1beta1/result_validation.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/validate_taskrun.go
  pkg/reconciler/taskrun/validate_taskrun_test.go
  test/e2e-tests.sh
Due: lint-yaml, lint-go, test-unit

ci: Run zizmor on GitHub Actions and fix security findings
  .github/workflows/chatops_retest.yaml
  .github/workflows/cherry-pick-command.yaml
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
  .github/workflows/labels.yaml
  .github/workflows/nightly-builds.yaml
  .github/workflows/rebase-command.yaml
  .github/workflows/scorecard.yml
  .github/workflows/slash-commands-docs.yml
  .github/workflows/slash.yml
  .github/workflows/woke.yml
  .github/workflows/zizmor.yaml
Due: lint-yaml

feat: enable set-security-context feature flag by default
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

feat: add sampling-ratio configuration for distributed tracing
  config/config-tracing.yaml
  pkg/apis/config/tracing.go
  pkg/apis/config/tracing_test.go
  pkg/tracing/tracing.go
  pkg/tracing/tracing_test.go
Due: lint-yaml, lint-go, test-unit

feat: add distributed tracing to resolver framework
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

fix: record errors on trace spans in TaskRun and PipelineRun reconcilers
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

perf: reduce reconcile churn for completed PipelineRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

fix: Validate workspace variable references in Tasks
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/task_validation.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-go, test-unit

ci: Skip most e2e tests on draft PRs to save CI resources
  .github/e2e-matrix-draft.json
  .github/e2e-matrix-full.json
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

fix: allow finally tasks to run when tasks timeout is exceeded (#6794)
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

fix: harden git resolver secret namespace handling and fix cache
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: harden HTTP resolver secret handling and remove secret names from errors
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

fix: remove dead variable in getAPIToken
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: remove secret key name from debug log to fix CodeQL alert
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: address review feedback - import ordering and fmt.Errorf cleanup
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
Due: lint-go, test-unit

feat: allow Pipeline authors to override Task compute resources
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/apply.go
Due: lint-yaml, lint-go, test-unit

fix: add feature gate checks, cross-layer validation, and tests
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

fix: reject compute resource overrides on custom tasks, improve godoc
  pkg/apis/pipeline/v1/pipeline_types.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
Due: lint-go, test-unit

fix: remove v1beta1 fields, fix cross-layer comment and Claims handling
  .planning/reviews/pr-9595-brutal-review.md
  config/300-crds/300-pipeline.yaml
  docs/pipeline-api.md
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-yaml, lint-go, test-unit

test(e2e): add CA cert injection end-to-end test
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/reconciler/taskrun/taskrun_test.go
  test/ca_cert_injection_test.go
Due: lint-yaml, lint-go, test-unit

fix(pod): inject podTemplate.Env into sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

feat(pod): inject trusted CA certs into task and sidecar containers
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

docs: document CA cert injection and proxy configuration
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
Due: lint-yaml

Re-enable pipeline-api.md generation
  docs/pipeline-api.md
  go.mod
  go.sum
  hack/reference-docs-gen-config.json
  hack/update-codegen.sh
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/modules.txt
Due: none

ci: remove compromised tj-actions/changed-files dependency
  .github/workflows/woke.yml
Due: lint-yaml

tekton: update plumbing ref to latest commit
  tekton/release-pipeline.yaml
Due: lint-yaml

ci: add nightly e2e workflow by reusing e2e-matrix
  .github/workflows/e2e-matrix.yml
  .github/workflows/nightly-e2e.yaml
Due: lint-yaml

fix: add missing @test:execution annotation to e2e test
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

docs: Switch from deprecated Tekton Hub to ArtifactHub
  docs/events.md
  docs/hub-resolver.md
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
Due: lint-yaml

fix: remove corrupted cache entries on type error
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  test/init_test.go
Due: lint-go, test-unit

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: use TextParser struct directly for prometheus/common v0.62.0 compatibility
  test/resolver_cache_test.go
Due: lint-go, test-unit
