Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

minor fix (used hex.decode)
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: re-work parameter resolution algorithm
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
Due: lint-go, test-unit

fix: Align cache configstore with framework implementation
  pkg/remoteresolution/resolver/framework/cache/configstore_test.go
Due: lint-go, test-unit

accept featureFlags.EnableTektonOCIBundles to fix unknown field error
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/config/feature_flags.go
  pkg/apis/config/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
Due: lint-yaml, lint-go, test-unit

add a explanation comment and fix casing in the yaml tag
  pkg/apis/config/feature_flags.go
Due: lint-go, test-unit

fix: update unit test checksums
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/task_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/task_types_test.go
Due: lint-go, test-unit

refactor: use observability package for metrics config name
  pkg/apis/config/metrics_tls.go
Due: lint-go, test-unit

test: Drop OpenCensus based metric exporter initialisation
  test/util.go
Due: lint-go, test-unit

Remove old metrics code from watcher
  cmd/webhook/main.go
Due: lint-go, test-unit

feat: Migrate PipelineRun and TaskRun metrics to OpenTelemetry
  config/config-observability.yaml
  config/resolvers/config-observability.yaml
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

Fix gofmt and tag alignment
  pkg/apis/config/feature_flags.go
  test/dag_test.go
Due: lint-go, test-unit

added docs
  docs/git-resolver.md
Due: none

fix(pipelinerun): fix the issue of massive invalid status updates caused by unordered arrays, which will greatly impact the resource load and stability of the apiserver.
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

chore(pipelinerun): remove cmpopts.SortSlices from pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
  pkg/reconciler/pipelinerun/pipelinerun_updatestatus_test.go
Due: lint-go, test-unit

fix: Prevent excessive reconciliation when timeout disabled
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/excessive_reconciliation_test.go
Due: lint-go, test-unit

fix(ci): pin GitHub Actions to commit SHAs
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

docs: Document roadmap project board workflows and best practices
  roadmap.md
Due: none

test(e2e): move flaky retry/matrix tests to no-ci temporarily
  examples/v1/pipelineruns/no-ci/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/no-ci/using-retries-and-retry-count-variables.yaml
Due: lint-yaml

perf(controller): add informer cache transform to reduce memory usage
  cmd/controller/main.go
  docs/developers/README.md
  docs/developers/controller-logic.md
  docs/tekton-controller-performance-configuration.md
  pkg/informer/transform/factory.go
  pkg/informer/transform/kube_factory.go
  pkg/informer/transform/pod_transform_test.go
  pkg/informer/transform/transform.go
  pkg/informer/transform/transform_benchmark_test.go
  pkg/informer/transform/transform_integration_test.go
  pkg/informer/transform/transform_test.go
Due: lint-go, test-unit

feat: Migrate PipelineRun and TaskRun metrics to OpenTelemetry
  config/config-observability.yaml
  config/resolvers/config-observability.yaml
  pkg/apis/config/metrics.go
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-yaml, lint-go, test-unit

build: bump Go version to 1.24.0
  go.mod
Due: none

chore(ci): update cherry-pick workflow to fix multi-commit PRs
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

ci: add KOCACHE to speed up ko builds in GitHub Actions
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
