Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

Update docs/git-resolver.md
  docs/git-resolver.md
Due: none

fix(resolver): add usernamekey fallback usage
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

build(deps): bump k8s.io dependencies from 0.35.2 to 0.35.4
  go.mod
  go.sum
  vendor/modules.txt
Due: none

feat(tracing): add spans to timeout and cancellation code paths
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/timeout.go
Due: lint-go, test-unit

security: expand harden-runner to more workflows
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/nightly-builds.yaml
  .github/workflows/slash.yml
Due: lint-yaml

ci: Automate Dependabot configuration generation
  .github/dependabot.config.yml
  .github/dependabot.yml
  .github/workflows/dependabot-regen.yml
  hack/README.md
  hack/generate-dependabot.go
  hack/generate-dependabot.sh
  hack/update-codegen.sh
Due: lint-yaml, lint-go, test-unit

fix: address zizmor findings in dependabot-regen workflow
  .github/workflows/dependabot-regen.yml
Due: lint-yaml

build(deps): bump github.com/tektoncd/pipeline to v1.11.0 in test/resolver-with-timeout
  test/resolver-with-timeout/go.mod
  test/resolver-with-timeout/go.sum
Due: none

docs: add bundle resolver configuration options default values
  docs/bundle-resolver.md
Due: none

perf: reduce reconcile churn for completed PipelineRuns
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
Due: lint-go, test-unit

perf: remove unnecessary SetDefaults from TaskRun done path
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

fix: format affinity_assistant_test.go (gofmt/goimports)
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-go, test-unit

feat: allow variable substitution in computeResources fields
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/compute-resources.md
  pkg/apis/pipeline/v1/compute_resources.go
  pkg/apis/pipeline/v1/compute_resources_test.go
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/merge.go
  pkg/apis/pipeline/v1/merge_test.go
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/task_validation.go
  pkg/apis/pipeline/v1/taskrun_types.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/pipelinerun_conversion.go
  pkg/apis/pipeline/v1beta1/taskrun_conversion.go
  pkg/container/container_replacements.go
  pkg/container/step_replacements.go
  pkg/container/step_replacements_test.go
  pkg/internal/computeresources/tasklevel/tasklevel.go
  pkg/internal/computeresources/tasklevel/tasklevel_test.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/resources/apply_test.go
  pkg/reconciler/taskrun/taskrun_test.go
  test/compute_resources_params_test.go
Due: lint-yaml, lint-go, test-unit

[TEP-0137] Deprecate send-cloudevents-for-runs feature flag
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/deprecations.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/customrun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

feat(tracing): add spans to pipelinerun cancel & timeout
  pkg/reconciler/pipelinerun/cancel.go
  pkg/reconciler/pipelinerun/timeout.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat(tracing): add spans to TaskRun validation functions
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

ci: scope workflow permissions to least privilege
  .github/workflows/cherry-pick-command.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-builds.yaml
  .github/workflows/rebase-command.yaml
  .github/workflows/scorecard.yml
Due: lint-yaml

fix(pipelinerun): use generateName for anonymous pipeline label
  pkg/pipelinerunmetrics/metrics.go
  pkg/pipelinerunmetrics/metrics_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/taskrunmetrics/metrics.go
  pkg/taskrunmetrics/metrics_test.go
Due: lint-go, test-unit

test: add e2e test for TaskRun pending status
  test/taskrun_test.go
  test/wait.go
Due: lint-go, test-unit

[TEP-0137] Activate formats field in config-events
  .gitignore
  docs/additional-configs.md
  docs/events.md
  pkg/apis/config/events.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/notifications/pipelinerun/reconciler_test.go
  pkg/reconciler/notifications/runtimeobject_test.go
  pkg/reconciler/notifications/taskrun/reconciler_test.go
Due: lint-go, test-unit

fix(resolvers): validate data is Tekton object in resolver framework
  pkg/apis/pipeline/v1beta1/stepaction_types.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/framework/interface.go
  pkg/resolution/resolver/framework/reconciler.go
  pkg/resolution/resolver/framework/reconciler_test.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

docs: clarify retry-count/task.retries only work with taskSpec, not taskRef
  docs/pipelines.md
Due: none

docs: update releases.md for v1.12.0
  releases.md
Due: none

fix(taskrun): use RWMutex for cached native sidecar discovery
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

feat(tracing): add spans to ResolutionRequest resource operations
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resource/crd_resource.go
Due: lint-go, test-unit

cleanup: move shared types to remoteresolution framework
  docs/resolver-template/cmd/resolver/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/configstore.go
  pkg/remoteresolution/resolver/framework/configstore_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/fakeresolver.go
  pkg/remoteresolution/resolver/framework/interface.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
Due: lint-go, test-unit

Fix dependabot-regen workflow push credentials
  .github/workflows/dependabot-regen.yml
Due: lint-yaml

Regenerate dependabot.yml from config
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

Fix dependabot-regen workflow commit author and sign-off
  .github/workflows/dependabot-regen.yml
Due: lint-yaml
