Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

tests: pdate csi-node-driver-registrar image reference
  test/testdata/spire/spire-agent.yaml
Due: lint-yaml

Add hostUsers field support to PodTemplate
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  docs/podtemplates.md
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-yaml, lint-go, test-unit

Migrate tests images out of dockerhub.
  examples/v1/pipelineruns/alpha/consume-artifacts-from-task.yaml
  examples/v1/taskruns/alpha/stepaction-when.yaml
  examples/v1/taskruns/alpha/task-artifacts.yaml
  examples/v1/taskruns/authenticating-git-commands.yaml
  examples/v1/taskruns/beta/authenticating-git-commands.yaml
  examples/v1/taskruns/dind-sidecar.yaml
  examples/v1/taskruns/step-by-digest.yaml
  test/git-resolver/gitea.yaml
  test/multiarch_utils.go
  test/step_output_test.go
  test/tektonbundles_test.go
  test/trustedresources_test.go
Due: lint-yaml, lint-go, test-unit

fix(e2e): improve dind-sidecar probe configuration for reliability
  examples/v1/taskruns/dind-sidecar.yaml
Due: lint-yaml

Resolvers: remove default TEKTON_HUB_API URI
  config/resolvers/resolvers-deployment.yaml
Due: lint-yaml

docs: Switch from deprecated Tekton Hub to ArtifactHub
  docs/events.md
  docs/hub-resolver.md
  examples/v1/pipelineruns/beta/http-resolver-credentials.yaml
  examples/v1/pipelineruns/beta/http-resolver.yaml
Due: lint-yaml

build: bump Go version to 1.24.0
  go.mod
Due: none

taskrun: include actual result size in error when exceeding maxResultSize
  internal/sidecarlogresults/sidecarlogresults.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

build(deps): bump opentelemetry exporter packages to v1.39.0
  go.mod
  go.sum
  vendor/github.com/cenkalti/backoff/v5/exponential.go
  vendor/github.com/cenkalti/backoff/v5/retry.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/BUILD.bazel
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/context.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/marshal_jsonpb.go
  vendor/github.com/grpc-ecosystem/grpc-gateway/v2/runtime/mux.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/LICENSE
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/exporter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/internal/tracetransform/attribute.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/internal/tracetransform/instrumentation.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/internal/tracetransform/resource.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/internal/tracetransform/span.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/LICENSE
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/client.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/counter/counter.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/gen.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/observ/instrumentation.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/partialsuccess.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/retry/retry.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/version.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/x/observ.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/otlptracehttp/internal/x/x.go
  vendor/go.opentelemetry.io/otel/exporters/otlp/otlptrace/version.go
  vendor/go.opentelemetry.io/proto/otlp/common/v1/common.pb.go
  vendor/go.opentelemetry.io/proto/otlp/resource/v1/resource.pb.go
  vendor/go.opentelemetry.io/proto/otlp/trace/v1/trace.pb.go
  vendor/modules.txt
Due: none

ci: add KOCACHE to speed up ko builds in GitHub Actions
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

fix: validate taskRef.apiVersion format for custom tasks
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
Due: lint-go, test-unit

ci: Automate Dependabot configuration generation
  .github/dependabot.config.yml
  .github/dependabot.yml
  .github/workflows/dependabot-regen.yml
  hack/README.md
  hack/generate-dependabot.go
  hack/generate-dependabot.sh
  hack/update-codegen.sh
Due: lint-yaml, lint-go, test-unit

.github/workflows: configure some workflows to run as part of the merge_queue
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
  DEVELOPMENT.md
Due: lint-yaml

chore(ci): update cherry-pick workflow to fix multi-commit PRs
  .github/workflows/cherry-pick-command.yaml
Due: lint-yaml

.github/workflows: refactor matrix to make it more easily customizable
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

perf(controller): add informer cache transform to reduce memory usage
  cmd/controller/main.go
  docs/developers/README.md
  docs/developers/controller-logic.md
  docs/tekton-controller-performance-configuration.md
  pkg/informer/transform/factory.go
  pkg/informer/transform/kube_factory.go
  pkg/informer/transform/pod_transform_test.go
  pkg/informer/transform/transform.go
  pkg/informer/transform/transform_benchmark_test.go
  pkg/informer/transform/transform_integration_test.go
  pkg/informer/transform/transform_test.go
Due: lint-go, test-unit

docs: update releases.md for v1.9.0 LTS
  releases.md
Due: none

Fix: Add useHttpPath to support multiple Git credentials on same host
  docs/auth.md
  pkg/credentials/gitcreds/basic.go
  pkg/credentials/gitcreds/creds_test.go
Due: lint-go, test-unit

build(deps): bump github.com/tektoncd/pipeline to v1.7.0 in wait-task-beta
  test/custom-task-ctrls/wait-task-beta/go.mod
  test/custom-task-ctrls/wait-task-beta/go.sum
Due: none

Fix wait-task-beta test infrastructure for k8s compatibility
  test/custom-task-ctrls/wait-task-beta/config/controller.yaml
  test/custom_task_test.go
Due: lint-yaml, lint-go, test-unit

Set KUBERNETES_MIN_VERSION for wait-task-beta controller
  test/custom-task-ctrls/wait-task-beta/config/controller.yaml
Due: lint-yaml

feat: Add SHA-256 support for Git resolver revision validation
  docs/git-resolver.md
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

docs: Document roadmap project board workflows and best practices
  roadmap.md
Due: none
