Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

feature: add PinP resolution and tests
  pkg/apis/pipeline/v1/pipelinerun_types.go
  pkg/apis/pipeline/v1/pipelinerun_types_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinespec.go
Due: lint-go, test-unit

Docs: add known limitation and workaround for multiple Git SSH credentials in Tekton
  docs/auth.md
Due: none

Pin actions by commit SHA or image digest
  .github/workflows/chatops_retest.yaml
  .github/workflows/ci.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/labels.yaml
  .github/workflows/nightly-builds.yaml
  .github/workflows/slash.yml
Due: lint-yaml

test/e2e: remove data race on global variable requireAlphaFeatureFlag
  test/matrix_test.go
  test/pipelinefinally_test.go
  test/propagated_results_test.go
Due: lint-go, test-unit

[Issue 9032] Add support for step display name
  config/300-crds/300-task.yaml
  config/300-crds/300-taskrun.yaml
  docs/pipeline-api.md
  docs/stepactions.md
  docs/tasks.md
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix.yaml
  examples/v1/pipelineruns/pipeline-with-displayname.yaml
  examples/v1/pipelineruns/pipelinerun-with-pipelinespec-and-taskspec.yaml
  pkg/apis/pipeline/v1/container_types.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipeline_types_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/task_validation_test.go
  pkg/apis/pipeline/v1beta1/container_conversion.go
  pkg/apis/pipeline/v1beta1/container_types.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipeline_types_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/task_conversion_test.go
  pkg/apis/pipeline/v1beta1/task_validation_test.go
Due: lint-yaml, lint-go, test-unit

feature: add PinP state and tests
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate_test.go
Due: lint-go, test-unit

test/e2e: update kubernetes versions we test against
  .github/workflows/e2e-matrix.yml
  hack/setup-kind.sh
  test/e2e-tests-kind-prow-stable.env
Due: lint-yaml

test/e2e: remove prow from env-file names
  .github/workflows/e2e-matrix.yml
  test/e2e-tests-kind-alpha.env
  test/e2e-tests-kind-beta.env
  test/e2e-tests-kind-stable.env
Due: lint-yaml

refactor: PR review re-work second round
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/cache_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/bundle/bundle.go
  pkg/resolution/resolver/bundle/params.go
  pkg/resolution/resolver/bundle/resolver.go
  pkg/resolution/resolver/bundle/resolver_test.go
  pkg/resolution/resolver/cluster/params.go
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/git/params.go
  pkg/resolution/resolver/http/params.go
Due: lint-go, test-unit

test/e2e: Fix TestLargerResultsSidecarLogs and TestWaitCustomTask_V1_PipelineRun flakyness
  test/custom_task_test.go
  test/larger_results_sidecar_logs_test.go
  test/stepaction_results_test.go
Due: lint-go, test-unit

e2e: migrate wait.PollImmediate deprecated functions
  test/util.go
  test/wait.go
Due: lint-go, test-unit

Add comments on ignore to highlight why they are here
  test/custom_task_test.go
  test/larger_results_sidecar_logs_test.go
  test/stepaction_results_test.go
Due: lint-go, test-unit

ci: skip running builds and tests when only changes are markdown
  .github/workflows/ci.yaml
Due: lint-yaml

fix(pod): order TaskRun status steps to match pod spec containers
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

feat(taskspec): create Status.Steps even without StepActions
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  test/conformance_test.go
  test/conversion_test.go
  test/step_when_test.go
  test/taskrun_test.go
  test/util.go
  test/windows_test.go
Due: lint-go, test-unit

feat(taskspec): include inline steps in `Status.Steps` when StepActions are used
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

update-codegen.sh
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-yaml, lint-go, test-unit

fix: fix %w formatting leak in user-facing error
  pkg/reconciler/pipelinerun/pipelinerun.go
Due: lint-go, test-unit

feat: resolve array values in Input of When expressions
  pkg/apis/pipeline/v1/when_types.go
  pkg/apis/pipeline/v1/when_types_test.go
Due: lint-go, test-unit

refactor: PR review re-work third round
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/hub/resolver.go
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/git/resolver.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

refactor: PR review re-work fourth round
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/dag_test.go
  test/propagated_params_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: handle uninitialized resolver in Resolve and fix cache test
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

Fix resolver cache regression and remove GetGlobalCache
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
Due: lint-go, test-unit

fix: remove unused cacheinjection import from resolver_cache_test
  test/resolver_cache_test.go
Due: lint-go, test-unit

clear cache in test setup
  pkg/remoteresolution/cache/cache.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

fix: restore missing test variables accidentally removed in refactoring
  pkg/remoteresolution/resolver/framework/cache_test.go
  test/util.go
Due: lint-go, test-unit

run codegen
  go.mod
  go.sum
  vendor/k8s.io/code-generator/generate-groups.sh
  vendor/k8s.io/code-generator/generate-internal-groups.sh
  vendor/knative.dev/pkg/hack/generate-knative.sh
  vendor/modules.txt
Due: none

feat: implement cache initialization from ConfigMap in cluster resolver
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

fix: ensure thread-safe cache initialization with sync.Once pattern
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/cluster/resolver.go
Due: lint-go, test-unit
