Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_install_hook_types: ["pre-push"]
exclude: '(^vendor|.*golden$)'
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.2.0
  hooks:
  - id: check-added-large-files
  - id: check-yaml
    args: ["--allow-multiple-documents"]
    # Ignore yaml files with {{ }} cause they're not valid.
    exclude: '(test\/gohelloworld\/gohelloworld-chart\/templates\/.*yaml$)'
  - id: check-shebang-scripts-are-executable
  - id: check-json
  - id: detect-private-key
    # Ignore test yaml files with private key.
    exclude: "(.*_test.go|^examples\/v1\/pipelineruns\/beta\/isolated-workspaces.yaml$)"
- repo: local
  hooks:
  - id: lint-yaml
    name: "Lint YAML files"
    entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
    language: system
    types: [yaml]
  - id: lint-go
    name: "Run make golangci-lint"
    entry: make
    args: ["golangci-lint"]
    language: system
    types: [go]
    pass_filenames: false
  - id: test-unit
    name: "Run make test-unit"
    entry: make
    args: ["test-unit"]
    language: system
    types: [go]
    pass_filenames: false

fix: use TextParser struct directly for prometheus/common v0.62.0 compatibility
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: respect per-resolver TTL override in cache
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: remove corrupted cache entries on type error
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  test/init_test.go
Due: lint-go, test-unit

fix: resolve cache race with singleflight
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  test/README.md
  test/init_test.go
  test/registry_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: use os.IsExist instead of errors.Is per review feedback
  cmd/entrypoint/subcommands/step_init.go
Due: lint-go, test-unit

ci: fix GitHub Actions security issues found by zizmor
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependency-review.yml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
  .github/workflows/nightly-builds.yaml
  .github/workflows/woke.yml
Due: lint-yaml

ci: add zizmor GitHub Actions security analysis
  .github/workflows/zizmor.yaml
Due: lint-yaml

fix: remove secret key name from debug log to fix CodeQL alert
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: address review feedback - import ordering and fmt.Errorf cleanup
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
Due: lint-go, test-unit

fix: remove dead variable in getAPIToken
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: harden HTTP resolver secret handling and remove secret names from errors
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/http/resolver.go
  pkg/resolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

fix: harden git resolver secret namespace handling and fix cache
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver_test.go
Due: lint-go, test-unit

fix: address review feedback on result reference error handling
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
Due: lint-go, test-unit

fix: surface clear errors and emit events when completed tasks miss referenced results
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunstate.go
  pkg/reconciler/pipelinerun/resources/resultrefresolution_test.go
Due: lint-go, test-unit

Update stale comment about storing TaskSpec in status
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs(examples): remove stale v1beta1 references from examples README
  examples/README.md
Due: none

tekton: automate releases with Pipelines-as-Code
  .github/workflows/patch-release.yaml
  .tekton/release-patch.yaml
  .tekton/release.yaml
  tekton/bugfix-release.sh
  tekton/release-cheat-sheet.md
Due: lint-yaml

ci: fix remaining zizmor findings (permissions, injection, actions)
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-matrix-extras.yaml
  .github/workflows/e2e-matrix.yml
  .github/workflows/go-coverage.yml
Due: lint-yaml

docs: document horizontal controller scaling via leader election buckets
  docs/enabling-ha.md
Due: none

Rework the events controller cache
  config/config-events.yaml
  go.mod
  go.sum
  pkg/apis/pipeline/v1beta1/run_interface.go
  pkg/reconciler/events/cache/cache.go
  pkg/reconciler/events/cache/cache_test.go
  pkg/reconciler/events/cache/cacheclient.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/notifications/controller.go
  pkg/reconciler/notifications/customrun/reconciler.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/testing/assets.go
  vendor/github.com/allegro/bigcache/v3/.codecov.yml
  vendor/github.com/allegro/bigcache/v3/.gitignore
  vendor/github.com/allegro/bigcache/v3/LICENSE
  vendor/github.com/allegro/bigcache/v3/README.md
  vendor/github.com/allegro/bigcache/v3/bigcache.go
  vendor/github.com/allegro/bigcache/v3/bytes.go
  vendor/github.com/allegro/bigcache/v3/bytes_appengine.go
  vendor/github.com/allegro/bigcache/v3/clock.go
  vendor/github.com/allegro/bigcache/v3/config.go
  vendor/github.com/allegro/bigcache/v3/encoding.go
  vendor/github.com/allegro/bigcache/v3/entry_not_found_error.go
  vendor/github.com/allegro/bigcache/v3/fnv.go
  vendor/github.com/allegro/bigcache/v3/hash.go
  vendor/github.com/allegro/bigcache/v3/iterator.go
  vendor/github.com/allegro/bigcache/v3/logger.go
  vendor/github.com/allegro/bigcache/v3/queue/bytes_queue.go
  vendor/github.com/allegro/bigcache/v3/shard.go
  vendor/github.com/allegro/bigcache/v3/stats.go
  vendor/github.com/allegro/bigcache/v3/utils.go
  vendor/modules.txt
Due: lint-yaml, lint-go, test-unit

[TEP-0137] Add TaskRun notifications controller; remove CloudEvents from core TaskRun reconciler
  cmd/events/main.go
  config/200-clusterrole.yaml
  docs/events.md
  pkg/apis/pipeline/v1beta1/taskrun_types.go
  pkg/reconciler/events/cloudevent/cloud_event_controller.go
  pkg/reconciler/events/cloudevent/cloud_event_controller_test.go
  pkg/reconciler/events/cloudevent/cloudevent.go
  pkg/reconciler/events/cloudevent/cloudeventclient.go
  pkg/reconciler/events/event_test.go
  pkg/reconciler/notifications/runtimeobject.go
  pkg/reconciler/notifications/taskrun/controller.go
  pkg/reconciler/notifications/taskrun/controller_test.go
  pkg/reconciler/notifications/taskrun/reconciler.go
  pkg/reconciler/notifications/taskrun/reconciler_test.go
  pkg/reconciler/taskrun/controller.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
  pkg/reconciler/taskrun/taskrun_timeout_test.go
Due: lint-yaml, lint-go, test-unit

perf: replace reflect.DeepEqual with typed mapsEqual for label/annotation comparison
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

docs: document leader election bucket tuning
  docs/enabling-ha.md
Due: none

fix: address review feedback on GetNameAndNamespace
  pkg/resolution/resource/name.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

ci: Automate Dependabot configuration generation
  .github/dependabot.config.yml
  .github/dependabot.yml
  .github/workflows/dependabot-regen.yml
  hack/README.md
  hack/generate-dependabot.go
  hack/generate-dependabot.sh
  hack/update-codegen.sh
Due: lint-yaml, lint-go, test-unit

fix: cluster resolver namespace access control whitespace and wildcard bugs
  pkg/resolution/resolver/cluster/resolver.go
  pkg/resolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

fix: address review feedback - remove scope creep, add empty-entry guard
  pkg/resolution/resolver/cluster/resolver.go
Due: lint-go, test-unit

fix: gofmt formatting in name_test.go
  pkg/resolution/resource/name_test.go
Due: lint-go, test-unit

Re-enable pipeline-api.md generation
  docs/pipeline-api.md
  go.mod
  go.sum
  hack/reference-docs-gen-config.json
  hack/update-codegen.sh
  vendor/github.com/ahmetb/gen-crd-api-reference-docs/main.go
  vendor/modules.txt
Due: none

fix(resolver): add credentials to cache
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix(resolver): add usernamekey fallback usage
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix(resolver): set usernamekey param instead of username
  pkg/resolution/resolver/git/params.go
Due: lint-go, test-unit

fix: add feature gate checks, cross-layer validation, and tests
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_conversion_test.go
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/apply_test.go
Due: lint-go, test-unit

[TEP-0056] Support PipelineRef in PipelineTask
  pkg/reconciler/pipelinerun/pipelinerun.go
  pkg/reconciler/pipelinerun/pipelinerun_pinp_test.go
  pkg/reconciler/pipelinerun/resources/pipelineref.go
  pkg/reconciler/pipelinerun/resources/pipelineref_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/reconciler/testing/factory.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit
