Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

Fix resolver cache regression and remove GetGlobalCache
  pkg/remoteresolution/cache/cache_test.go
  pkg/remoteresolution/resolver/cluster/resolver_integration_test.go
Due: lint-go, test-unit

test: add log verification to resolver cache e2e tests
  test/resolver_cache_test.go
Due: lint-go, test-unit

test: increase coverage for resolver cache framework
  pkg/remoteresolution/cache/injection/cache_test.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

test: consolidate duplicate clearCache functions in e2e tests
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

refactor: move cache initialization to main and remove sync.Once
  cmd/resolvers/main.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/cluster/resolver.go
Due: lint-go, test-unit

test: fix cache key generation test expectations and linting errors
  pkg/remoteresolution/cache/cache_test.go
Due: lint-go, test-unit

fix: correct import ordering in resolver_cache_test.go
  test/resolver_cache_test.go
Due: lint-go, test-unit

fix: handle uninitialized resolver in Resolve and fix cache test
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/framework/cache_test.go
Due: lint-go, test-unit

refactor: consolidate resolver cache
  cmd/resolvers/main.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource.go
  pkg/remoteresolution/resolver/framework/cache/annotated_resource_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/resolution/resolver/framework/configstore.go
  test/per_feature_flags_test.go
  test/resolver_cache_test.go
  test/util.go
Due: lint-go, test-unit

fix: restore missing test variables accidentally removed in refactoring
  pkg/remoteresolution/resolver/framework/cache_test.go
  test/util.go
Due: lint-go, test-unit

refactor: encapsulate annotatedResource to package scope
  pkg/remoteresolution/cache/annotated_resource.go
  pkg/remoteresolution/cache/annotated_resource_test.go
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

feat: implement `ConfigMap` watching for resolver cache
  cmd/resolvers/main.go
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/configstore.go
  pkg/remoteresolution/resolver/framework/cache/operations.go
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/git/resolver.go
Due: lint-go, test-unit

fix: remove unused cacheinjection import from resolver_cache_test
  test/resolver_cache_test.go
Due: lint-go, test-unit

refactor: pass expiration via constructor
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/cache_test.go
  pkg/remoteresolution/resolver/framework/cache/setup.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
Due: lint-go, test-unit

fix: ensure thread-safe cache initialization with sync.Once pattern
  pkg/remoteresolution/cache/cache.go
  pkg/remoteresolution/cache/injection/cache.go
  pkg/remoteresolution/resolver/cluster/resolver.go
Due: lint-go, test-unit

fix: correct bundle resolver digest check logic
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
Due: lint-go, test-unit

feat: add initialization error handling for resolvers
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
  pkg/remoteresolution/resolver/cluster/resolver.go
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/git/resolver.go
  pkg/remoteresolution/resolver/http/resolver.go
  pkg/remoteresolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

fix: update bundle resolver to only check SHA-256 digests
  pkg/remoteresolution/resolver/bundle/resolver.go
  pkg/remoteresolution/resolver/bundle/resolver_test.go
Due: lint-go, test-unit

ci/e2e: run one e2e on arm64
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

Handle linux/arm64/v8 case
  pkg/platforms/platforms.go
Due: lint-go, test-unit

tmp: only run arm beta job
  .github/workflows/e2e-matrix.yml
Due: lint-yaml

docs: resolver cache configmap
  config/resolvers/resolver-cache-config.yaml
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
  pkg/remoteresolution/resolver/framework/cache/configstore.go
Due: lint-yaml, lint-go, test-unit

test: add resolver configmap testdata
  pkg/remoteresolution/resolver/cluster/resolver_test.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/git/resolver_test.go
  pkg/remoteresolution/resolver/http/resolver_test.go
Due: lint-go, test-unit

docs: default cache mode for individual resolvers
  config/resolvers/bundleresolver-config.yaml
  config/resolvers/cluster-resolver-config.yaml
  config/resolvers/git-resolver-config.yaml
  config/resolvers/http-resolver-config.yaml
  docs/bundle-resolver.md
  docs/cluster-resolver.md
  docs/git-resolver.md
  pkg/remoteresolution/resolver/framework/cache/operations.go
Due: lint-yaml, lint-go, test-unit

test: replace indirect cache population in test setup
  pkg/remoteresolution/resolver/framework/cache/operations_test.go
Due: lint-go, test-unit

test: add verifications for cache op annotation and cache hit
  pkg/remoteresolution/resolver/cluster/resolver_test.go
Due: lint-go, test-unit

test: for configmap watcher and pick up the resolver config
  pkg/remoteresolution/resolver/framework/cache/configstore_test.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
  pkg/remoteresolution/resolver/framework/testing/fakecontroller.go
  pkg/resolution/resolver/framework/testing/fakecontroller.go
Due: lint-go, test-unit

chore: add CacheParam constant instead of 'cache' + lint issues
  pkg/remoteresolution/resolver/framework/cache/cache.go
  pkg/remoteresolution/resolver/framework/cache/setup_test.go
Due: lint-go, test-unit

docs: and config for http and hub resolvers
  config/resolvers/hubresolver-config.yaml
  docs/http-resolver.md
  docs/hub-resolver.md
Due: lint-yaml

entrypoint: handle linux in pkgs/platforms
  pkg/platforms/platforms.go
Due: lint-go, test-unit

ci: Ensure e2e setup errors fail tests, add retries during e2e setup
  test/e2e-common.sh
  test/e2e-tests.sh
Due: none

Added signal handling in SidecarLog results
  cmd/sidecarlogresults/main.go
  cmd/sidecarlogresults/main_test.go
  pkg/pod/pod.go
  pkg/pod/pod_test.go
Due: lint-go, test-unit

fix(taskspec): ensure TaskRun.Status.Steps ordering matches pod execution order
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
  test/conformance_test.go
  test/conversion_test.go
  test/step_when_test.go
  test/taskrun_test.go
  test/util.go
  test/windows_test.go
Due: lint-go, test-unit

fix: do not fail PipelineRun when TaskRef reconciles with retryable err
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution.go
  pkg/reconciler/pipelinerun/resources/pipelinerunresolution_test.go
  pkg/resolution/common/errors.go
Due: lint-go, test-unit

test: update busybox image to point to latest stable-musl..
  test/multiarch_utils.go
Due: lint-go, test-unit

tests: also build wait customrun for linux/arm64
  test/custom_task_test.go
Due: lint-go, test-unit

examples: remove explicit arch nodeSelector
  examples/v1/pipelineruns/beta/pipelinerun-with-matrix-and-taskrunspecs-param-substitution.yaml
Due: lint-yaml

tests: remove single-platform image
  examples/v1/taskruns/entrypoint-resolution.yaml
Due: lint-yaml

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
