Repository tektoncd/pipeline: changes, and which pre-commit hooks are due for each by the changed paths.
All: lint-yaml, lint-go, test-unit

lint-yaml:
  name: Lint YAML files
  entry: bash -c 'yamllint -c .yamllint $(find . -path ./vendor -prune -o -type f -regex ".*y[a]ml" -print)'
  language: system

lint-go:
  name: Run make golangci-lint
  entry: make
  args:
  - golangci-lint
  language: system
  pass_filenames: false

test-unit:
  name: Run make test-unit
  entry: make
  args:
  - test-unit
  language: system
  pass_filenames: false

test: cover PipelineRef name+resolver mutual exclusion
  pkg/apis/pipeline/v1/pipelineref_validation_test.go
  pkg/apis/pipeline/v1beta1/pipelineref_validation_test.go
Due: lint-go, test-unit

docs: add SSH auth quick start for Git
  docs/auth.md
Due: none

feat: enable set-security-context feature flag by default
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/apis/config/feature_flags.go
  pkg/pod/pod_test.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

docs: clarify set-security-context scope and rollback
  config/config-feature-flags.yaml
  docs/additional-configs.md
  pkg/pod/pod_test.go
Due: lint-yaml, lint-go, test-unit

Fix critical libcurl CVEs in resolvers base image
  .ko.yaml
Due: lint-yaml

docs: add v1.16.0 release to releases.md
  releases.md
Due: none

fix(status): only match internal RunResult keys by their ResultType
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

fix(pod): scope entrypoint cache by namespace and service account
  pkg/pod/entrypoint_lookup_impl.go
  pkg/pod/entrypoint_lookup_impl_test.go
Due: lint-go, test-unit

Make controller-managed labels immutable via webhook
  pkg/apis/pipeline/v1/immutable_labels_test.go
  pkg/apis/pipeline/v1/pipelinerun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation.go
  pkg/apis/pipeline/v1/taskrun_validation_test.go
  pkg/apis/pipeline/v1beta1/immutable_labels_test.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation.go
  pkg/apis/pipeline/v1beta1/taskrun_validation.go
  pkg/apis/pipeline/validation.go
  test/pipelinerun_pinp_test.go
Due: lint-go, test-unit

Update generated code
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
Due: lint-go, test-unit

feat: surface pod warning events on taskruns
  config/200-clusterrole.yaml
  pkg/pod/events.go
  pkg/pod/events_test.go
  pkg/pod/status.go
  pkg/pod/status_test.go
  pkg/reconciler/taskrun/taskrun.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-yaml, lint-go, test-unit

Allow tt.params as a valid variable-reference prefix
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

Fix flaky namespace behavior
  test/util.go
Due: lint-go, test-unit

test: cover per-namespace configuration paths
  pkg/apis/config/namespace/namespace_config_test.go
  pkg/apis/config/store_test.go
  pkg/reconciler/pipelinerun/pipelinerun_test.go
  pkg/reconciler/taskrun/taskrun_test.go
Due: lint-go, test-unit

Add ImageVolumeSource as a workspace binding type
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-feature-flags.yaml
  docs/additional-configs.md
  docs/workspaces.md
  pkg/apis/config/feature_flags.go
  pkg/apis/config/feature_flags_test.go
  pkg/apis/config/testdata/feature-flags-all-flags-set.yaml
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1/workspace_types.go
  pkg/apis/pipeline/v1/workspace_validation.go
  pkg/apis/pipeline/v1/workspace_validation_test.go
  pkg/apis/pipeline/v1/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/pipelinerun_validation_test.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/apis/pipeline/v1beta1/taskrun_conversion_test.go
  pkg/apis/pipeline/v1beta1/workspace_conversion.go
  pkg/apis/pipeline/v1beta1/workspace_types.go
  pkg/apis/pipeline/v1beta1/workspace_validation.go
  pkg/apis/pipeline/v1beta1/workspace_validation_test.go
  pkg/apis/pipeline/v1beta1/zz_generated.deepcopy.go
  pkg/workspace/apply.go
  pkg/workspace/apply_test.go
Due: lint-yaml, lint-go, test-unit

address feedback: parsing non JSON termination message should not return error and state should not depend on previous step
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

Fix: handle task run termination with non-JSON Kubernetes native message
  pkg/pod/status.go
  pkg/pod/status_test.go
Due: lint-go, test-unit

docs: clarify matrix behavior for context.taskRun.name and tasks.status
  docs/pipelines.md
  docs/variables.md
Due: none

Validate that a Pipeline has at least one Task
  pkg/apis/pipeline/v1/pipeline_validation.go
  pkg/apis/pipeline/v1/pipeline_validation_test.go
  pkg/apis/pipeline/v1beta1/pipeline_validation.go
  pkg/apis/pipeline/v1beta1/pipeline_validation_test.go
Due: lint-go, test-unit

Avoid accumulating task results across steps
  cmd/entrypoint/README.md
  cmd/entrypoint/main.go
  docs/developers/results-lifecycle.md
  docs/tasks.md
  pkg/entrypoint/entrypointer.go
  pkg/entrypoint/entrypointer_test.go
  pkg/entrypoint/task_results.go
  pkg/entrypoint/task_results_test.go
  pkg/pod/entrypoint.go
  pkg/pod/entrypoint_test.go
  test/task_results_accumulation_test.go
Due: lint-go, test-unit

feat(tracing): add spans to ResolutionRequest resource operations
  pkg/reconciler/resolutionrequest/controller.go
  pkg/reconciler/resolutionrequest/resolutionrequest.go
  pkg/reconciler/resolutionrequest/tracing_test.go
  pkg/remoteresolution/remote/resolution/resolver.go
  pkg/remoteresolution/remote/resolution/resolver_tracing_test.go
  pkg/remoteresolution/resolver/framework/controller.go
  pkg/remoteresolution/resolver/framework/reconciler.go
  pkg/remoteresolution/resolver/framework/reconciler_test.go
  pkg/remoteresolution/resolver/framework/testing/fakecontroller.go
  pkg/remoteresolution/resolver/framework/tracing_test.go
  pkg/remoteresolution/resource/crd_resource.go
  pkg/remoteresolution/resource/crd_resource_tracing_test.go
Due: lint-go, test-unit

Add container resource requirements customization for affinity-assistant pods
  config/300-crds/300-pipelinerun.yaml
  config/300-crds/300-taskrun.yaml
  config/config-defaults.yaml
  pkg/apis/config/default.go
  pkg/apis/config/default_test.go
  pkg/apis/config/testdata/config-defaults-aa-pod-template-invalid-resources.yaml
  pkg/apis/config/testdata/config-defaults-aa-pod-template-with-resources.yaml
  pkg/apis/pipeline/pod/affinity_assitant_template.go
  pkg/apis/pipeline/pod/template.go
  pkg/apis/pipeline/pod/template_test.go
  pkg/apis/pipeline/pod/zz_generated.deepcopy.go
  pkg/apis/pipeline/v1/openapi_generated.go
  pkg/apis/pipeline/v1/swagger.json
  pkg/apis/pipeline/v1alpha1/openapi_generated.go
  pkg/apis/pipeline/v1alpha1/swagger.json
  pkg/apis/pipeline/v1beta1/openapi_generated.go
  pkg/apis/pipeline/v1beta1/swagger.json
  pkg/reconciler/pipelinerun/affinity_assistant.go
  pkg/reconciler/pipelinerun/affinity_assistant_test.go
Due: lint-yaml, lint-go, test-unit

fix(CI): group github/codeql-action/* dependabot updates
  .github/dependabot.config.yml
  .github/dependabot.yml
Due: lint-yaml

Clarify regression test compression setting
  test/task_results_accumulation_test.go
Due: lint-go, test-unit

Use non-expandable here-string for Windows script placement
  pkg/pod/script.go
  pkg/pod/script_test.go
Due: lint-go, test-unit

refactor: extract handleTerminatedStep to reduce complexity of setTaskRunStatusBasedOnStepStatus
  pkg/pod/status.go
Due: lint-go, test-unit

fix(taskrun): keep Step SecurityContext when StepAction has none
  pkg/reconciler/taskrun/resources/taskspec.go
  pkg/reconciler/taskrun/resources/taskspec_test.go
Due: lint-go, test-unit

fix(taskrun): retry transient blockOwnerDeletion forbidden errors
  pkg/reconciler/taskrun/taskrun.go
Due: lint-go, test-unit

Update pkg/resolution/resolver/git/resolver.go
  pkg/resolution/resolver/git/resolver.go
Due: lint-go, test-unit

Path conditions:
  lint-yaml: any of: \.(yaml|yml)$, but not: (^vendor|.*golden$)
  lint-go: any of: \.go$, but not: (^vendor|.*golden$)
  test-unit: any of: \.go$, but not: (^vendor|.*golden$)
